<!-- research-detail -->
<div
  class="min-h-screen bg-gray-100 p-5 md:p-10 font-medium text-[#394250] text-xl md:text-2xl"
>
  <div>
    <!-- ===== Reseach ===== -->
    <div
      *ngIf="type === 'project'"
      class="mx-auto bg-white rounded-2xl shadow-lg overflow-hidden"
    >
      <!-- Header -->
      <div
        class="bg-[#394250] text-white px-4 md:px-8 py-2 md:py-6 flex justify-between"
      >
        <div>
          <p class="text-lg md:text-xl opacity-80">โครงการวิจัย</p>
          <h1 class="text-xl md:text-2xl mt-1">
            {{ researchData?.title_th }}
          </h1>
          <h1 class="text-xl md:text-2xl mt-1">
            {{ researchData?.title_en || '-' }}
          </h1>
        </div>
      </div>

      <!-- Content -->
      <div class="grid grid-cols-1 md:grid-cols-3 md:gap-8 p-4 md:p-8">
        <!-- Left: Cover Image -->
        <div class="md:col-span-1">
          <div
            class="bg-white flex items-center justify-center h-90 overflow-hidden cursor-pointer relative"
          >
            <!-- ถ้ามีรูป -->
            <ng-container
              *ngIf="previewImage || researchData?.img_url; else noImage"
            >
              <img
                [src]="previewImage || researchData?.img_url"
                (error)="onImageError($event)"
                class="w-full h-full object-cover rounded-xl"
              />
            </ng-container>

            <ng-template #noImage>
              <div class="text-center text-gray-500">
                <img
                  src="/assets/research.png"
                  class="w-full h-80 mx-auto opacity-70"
                />
                
              </div>
            </ng-template>

            <!-- input ซ่อนไว้ -->
            <input
              #fileInput
              type="file"
              accept="image/*"
              class="hidden"
              (change)="onFileSelected($event)"
            />
          </div>
        </div>

        <!-- Right: Details -->
        <div class="md:col-span-2 space-y-6">
          <!-- Research Fields -->
          <div class="space-y-2">
            <div class="grid grid-cols-1 gap-2 md:gap-4">
              <div>
                <p class="text-[#767676]">สาขาของงานวิจัย</p>
                <p class="font-light text-xl">
                  {{ researchData?.subject_area?.[0]?.name_en }}
                </p>
              </div>

              <div *ngIf="researchData?.abstract">
                <p class="text-[#767676]">บทคัดย่อ</p>
                <p class="font-light text-xl">{{ researchData?.abstract || '-' }}</p>
              </div>

              <div *ngIf="researchData?.abstract_en">
                <p class="text-[#767676]">Abstract</p>
                <p class="font-light text-xl">{{ researchData?.abstract_en || '-' }}</p>
              </div>

              <div *ngIf="researchData?.keywords">
                <p class="text-[#767676]">Keywords</p>
                <p class="font-light text-xl">{{ researchData?.keywords || '-' }}</p>
              </div>
            </div>

            <!-- Internal Researchers Table -->
            <div>
              <h2 class="my-6">ผู้ร่วมโครงการภายใน</h2>
              <div class="overflow-x-auto font-light text-xl">
                <table class="w-full border rounded-lg overflow-hidden">
                  <thead class="bg-[#394250] text-white">
                    <tr>
                      <th class="p-1 md:p-2  w-16">#</th>
                      <th class="p-1 md:p-2 text-left">ผู้ร่วม</th>
                      <th class="p-1 md:p-2 text-left">ประเภทความรับผิดชอบ</th>
                    </tr>
                  </thead>

                  <tbody
                    class="divide-y"
                    *ngIf="
                      (researchData?.internal_members?.length ?? 0) > 0;
                      else noData
                    "
                  >
                    <tr
                      *ngFor="
                        let internal of researchData?.internal_members;
                        let i = index
                      "
                      class="bg-gray-200 border-b border-gray-300"
                    >
                      <td class="p-1 md:p-2 font-medium text-center">{{ i + 1 }}</td>
                      <td
                        class="p-1 md:p-2 flex items-center gap-2 flex-wrap justify-center md:justify-start"
                      >
                        <div
                          class="w-8 h-8 rounded-full bg-gray-300 flex justify-center"
                        >
                          <i class="bi bi-person-fill"></i>
                        </div>
                        {{ internal?.full_name }}
                      </td>
                      <td class="p-1 md:p-2">{{ internal?.role }}</td>
                    </tr>
                  </tbody>

                  <ng-template #noData>
                    <tr>
                      <td colspan="3" class="text-center py-4 text-gray-500">
                        ไม่พบข้อมูล
                      </td>
                    </tr>
                  </ng-template>
                </table>
              </div>
            </div>

            <!-- External Researchers Table -->
            <div>
              <h2 class="my-6">ผู้ร่วมโครงการภายนอก</h2>
              <div class="overflow-x-auto font-light text-xl">
                <table class="w-full border rounded-lg overflow-hidden">
                  <thead class="bg-[#394250] text-white">
                    <tr>
                      <th class="p-1 md:p-2 w-16">#</th>
                      <th class="p-1 md:p-2 text-left">
                        ผู้ร่วม
                      </th>
                      <th class="p-1 md:p-2 text-left">ประเภทความรับผิดชอบ</th>
                      <th class="p-1 md:p-2 text-left">หน่วยงาน</th>
                    </tr>
                  </thead>
                  <tbody
                    class="divide-y"
                    *ngIf="
                      (researchData?.external_members?.length ?? 0) > 0;
                      else noDataExternal
                    "
                  >
                    <tr
                      *ngFor="
                        let external of researchData?.external_members;
                        let i = index
                      "
                      class="bg-gray-200 border-b border-gray-300"
                    >
                      <td class="p-1 md:p-2 font-medium text-center">{{ i + 1 }}</td>
                      <td class="p-1 md:p-2">{{ external?.full_name }}</td>
                      <td class="p-1 md:p-2">{{ external?.role }}</td>
                      <td class="p-1 md:p-2">{{ external?.organization }}</td>
                    </tr>
                  </tbody>
                </table>

                <ng-template #noDataExternal>
                  <tr>
                    <td colspan="3" class="text-center py-4 text-gray-500">
                      ไม่พบข้อมูล
                    </td>
                  </tr>
                </ng-template>
              </div>
            </div>

            <!-- Funding Source -->
            <div
              class="grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-x-10 md:gap-y-6"
            >
              <div>
                <p class="text-[#767676] md:mb-1">
                  ที่มาแหล่งทุน
                </p>
                <p class="text-[#394250] font-light text-xl">{{ researchData?.source_funds }}</p>
              </div>

              <div>
                <p class="text-[#767676] md:mb-1">ชื่อแหล่งทุน</p>
                <p class="text-[#394250] font-light text-xl">{{ researchData?.name_funding }}</p>
              </div>

              <div>
                <p class="text-[#767676] md:mb-1">
                  จำนวนงบประมาณ
                </p>
                <p class="text-[#394250] font-light text-xl">
                  {{ researchData?.budget_amount }} บาท
                </p>
              </div>

              <div>
                <p class="text-[#767676] md:mb-1">
                  ปีที่ได้รับทุน
                </p>
                <p class="text-[#394250] font-light text-xl">
                  {{ researchData?.year_received_budget }}
                </p>
              </div>

              <div>
                <p class="text-[#767676] md:mb-1">
                  สถานะดำเนินการ
                </p>
                <span
                  class="inline-block px-3 py-1 rounded-full bg-green-100 text-green-700 font-light text-xl"
                >
                  {{ researchData?.status || "-" }}
                </span>
              </div>

              <!-- <div>
                <p class="text-[#767676] md:mb-1">
                  ปีที่เสร็จสิ้น
                </p>
                <p class="text-gray-800">{{ researchData?.end_date || "-" }}</p>
              </div> -->

              <!-- <div>
                <p class="text-[#767676] md:mb-1">
                  ความร่วมมือกับหน่วยงานอื่นๆ
                </p>
                <p class="text-gray-800">{{ researchData?.call_other || '-' }}</p>
              </div> -->

              <div>
                <p class="text-[#767676] md:mb-1">พื้นที่วิจัย</p>
                <p class="text-[#394250] font-light text-xl">{{ researchData?.research_area }}</p>
              </div>

              <div>
                <p class="text-[#767676] md:mb-1">
                  พื้นที่ใช้ประโยชน์
                </p>
                <p class="text-[#394250] font-light text-xl">{{ researchData?.research_area }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ===== Acticle ===== -->
    <div *ngIf="type === 'article'">
      <div class="mx-auto bg-white rounded-2xl shadow-lg overflow-hidden font-medium text-2xl">
        <!-- Header -->
        <div
          class="bg-[#394250] text-white px-4 py-2 md:px-8 md:py-6 flex justify-between"
        >
          <div>
            <p class="text-lg md:text-xl opacity-80">
              บทความวิชาการ / วารสาร / ในประเทศ
            </p>
            <h1 class="text-xl md:text-2xl mt-1">
              {{ articleData?.title_th }}
            </h1>
            <h1 class="text-xl md:text-2xl mt-1">
              {{ articleData?.title_en }}
            </h1>
          </div>
        </div>

        <!-- Content -->
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4 md:gap-8 p-4 md:p-8">
          <!-- Left: Cover Image -->
          <div class="md:col-span-1">
            <div
              class="rounded-xl flex items-center justify-center h-90 w-full bg-white overflow-hidden cursor-pointer relative"
            >
              <!-- ถ้ามีรูป -->
              <ng-container
                *ngIf="previewImage || articleData?.img_url; else noImage"
              >
                <img
                  [src]="previewImage || articleData?.img_url"
                  (error)="onImageError($event)"
                  class="w-full h-80 mb-3 object-cover rounded-xl"
                />
              </ng-container>

              <!-- ถ้าไม่มีรูป -->
              <ng-template #noImage>
                <div class="text-center text-gray-500">
                  <img
                    src="/assets/research.png"
                    class="w-full h-80 mx-auto opacity-70"
                  />
                </div>
              </ng-template>
            </div>

            <!-- ปุ่มบันทึก -->
            <div *ngIf="selectedFile" class="mt-4 text-center">
              <button
                class="bg-blue-600 text-white px-6 py-2 rounded-lg shadow hover:bg-blue-700 disabled:bg-gray-400"
                [disabled]="!selectedFile"
                (click)="uploadImage()"
              >
                บันทึกรูปภาพ
              </button>
            </div>
          </div>

          <!-- Right: Details -->
          <div class="md:col-span-2 space-y-6">
            <!-- Research Fields -->
            <div>
              <p class="text-[#767676]">สาขาของบทความ</p>
              <p class="text-[#394250] font-light text-xl">
                {{ articleData?.subject_area?.[0]?.name_en || '-' }}
              </p>
            </div>

            <div *ngIf="articleData?.abstract">
              <p class="text-[#767676]">บทคัดย่อ</p>
              <p class="text-[#394250] font-light text-xl">
                {{ articleData?.abstract || '-' }}
              </p>
            </div>

            <div *ngIf="articleData?.keywords">
              <p class="text-[#767676]">Keywords</p>
              <p class="text-[#394250] font-light text-xl">
                {{ articleData?.keywords || '-' }}
              </p>
            </div>

            <div *ngIf="articleData?.abstract_en">
              <p class="text-[#767676]">Abstract</p>
              <p class="text-[#394250] font-light text-xl">
                {{ articleData?.abstract_en || '-' }}
              </p>
            </div>

            <div class="grid grid-cols-2 gap-2 md:gap-4">
              <div>
                <p class="text-[#767676]">ประเภท</p>
                <p class="text-[#394250] font-light text-xl">{{ articleData?.article_type }}</p>
              </div>

              <div *ngIf="articleData?.article_type === 'Journal'">
                <p class="text-[#767676]">ชื่องานวิจัย</p>
                <p class="text-[#394250] font-light text-xl">{{ articleData?.journal_name }}</p>
              </div>

              <div *ngIf="articleData?.article_type === 'Conference'">
                <p class="text-[#767676]">ชื่อการประชุมวิชาการ</p>
                <p class="text-[#394250] font-light text-xl">{{ articleData?.journal_name }}</p>
              </div>

              <div *ngIf="articleData?.article_type === 'Journal'">
                <p class="text-[#767676]">ประเทศ</p>
                <p class="text-[#394250] font-light text-xl">{{ articleData?.country }}</p>
              </div>

              <div *ngIf="articleData?.article_type === 'Journal'">
                <p class="text-[#767676]">ประเภทฐานข้อมูล</p>
                <p class="text-[#394250] font-light text-xl">{{ articleData?.db_type }}</p>
              </div>

              <div class="">
                <p class="text-[#767676] mb-1">ค่าน้ำหนัก/ระดับคุณภาพ</p>
                <p class="text-[#394250] font-light text-xl">{{ articleData?.volume_no }}</p>
              </div>
            </div>

            <!-- Internal Researchers Table -->
            <div>
              <h2 class="md:text-2xl my-6">ผู้ร่วมโครงการภายใน</h2>
              <div class="overflow-x-auto">
                <table class="w-full border rounded-lg overflow-hidden font-light text-xl">
                  <thead class="bg-[#394250] text-white">
                    <tr>
                      <th class="px-4 py-2 text-left w-16">#</th>
                      <th class="px-4 py-2 text-left">ผู้ร่วม</th>
                      <th class="px-4 py-2 text-left">ประเภทความรับผิดชอบ</th>
                    </tr>
                  </thead>
                  <tbody
                    class="divide-y"
                    *ngIf="
                      (articleData?.internal_members?.length ?? 0) > 0;
                      else noData
                    "
                  >
                    <tr
                      *ngFor="
                        let member of articleData?.internal_members;
                        let i = index
                      "
                      class="bg-gray-200 border-b border-gray-300"
                    >
                      <td class="px-4 py-3 font-medium text-center">{{ i + 1 }}</td>
                      <td
                        class="px-4 py-3 flex items-center flex-wrap justify-center md:justify-start gap-2"
                      >
                        <div
                          class="w-8 h-8 rounded-full bg-gray-300 flex justify-center"
                        >
                          <i class="bi bi-person-fill"></i>
                        </div>
                        {{ member?.full_name }}
                      </td>
                      <td class="px-4 py-3">{{ member?.role }}</td>
                    </tr>
                  </tbody>

                  <ng-template #noData>
                    <tr>
                      <td colspan="3" class="text-center py-4 text-gray-500">
                        ไม่พบข้อมูล
                      </td>
                    </tr>
                  </ng-template>
                </table>
              </div>
            </div>

            <!-- External Researchers Table -->
            <div>
              <h2 class="my-6">ผู้ร่วมโครงการภายนอก</h2>
              <div class="overflow-x-auto font-light text-xl">
                <table class="w-full border rounded-lg overflow-hidden">
                  <thead class="bg-[#394250] text-white">
                    <tr>
                      <th class="px-4 py-2 w-16">#</th>
                      <th class="px-4 py-2 text-left">
                        ผู้ร่วม
                      </th>
                      <th class="px-4 py-2 text-left">ประเภทความรับผิดชอบ</th>
                      <th class="px-4 py-2 text-left">หน่วยงาน</th>
                    </tr>
                  </thead>
                  <tbody
                    class="divide-y"
                    *ngIf="
                      (articleData?.external_members?.length ?? 0) > 0;
                      else noDataExternal
                    "
                  >
                    <tr
                      *ngFor="
                        let external of articleData?.external_members;
                        let i = index
                      "
                      class="bg-gray-200 border-b border-gray-300"
                    >
                      <td class="px-4 py-3 font-medium text-center">{{ i + 1 }}</td>
                      <td class="px-4 py-3">{{ external.full_name }}</td>
                      <td class="px-4 py-3">{{ external.role }}</td>
                      <td class="px-4 py-3">{{ external.organization }}</td>
                    </tr>
                  </tbody>
                </table>

                <ng-template #noDataExternal>
                  <tr>
                    <td colspan="3" class="text-center py-4 text-gray-500">
                      ไม่พบข้อมูล
                    </td>
                  </tr>
                </ng-template>
              </div>
            </div>

            <!-- Funding Source -->
            <div
              class="grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-x-10 md:gap-y-6"
            >
              <div>
                <p class="text-[#767676] md:mb-1">
                  ฉบับที่/เล่มที่
                </p>
                <p class="text-[#394250] font-light text-xl">
                  {{ articleData?.volume }}
                </p>
              </div>
              <div>
                <p class="text-[#767676] md:mb-1">
                  หน้าที่ตีพิมพ์
                </p>
                <p class="text-[#394250] font-light text-xl">{{ articleData?.pages }}</p>
              </div>
              <div>
                <p class="text-[#767676] md:mb-1">ปีที่ตีพิมพ์</p>
                <p class="text-[#394250] font-light text-xl">{{ articleData?.year_published }}</p>
              </div>

              <div>
                <p class="text-[#767676] md:mb-1">
                  ความร่วมมือกับหน่วยงานอื่นๆ
                </p>
                <p class="text-[#394250] font-light text-xl">
                  {{ articleData?.is_cooperation === "yes" ? "มี" : "ไม่มี" }}
                </p>
              </div>

              <div *ngIf="articleData?.article_type === 'Conference'">
                <p class="text-[#767676] md:mb-1">
                  สถานที่นำเสนอ
                </p>
                <p class="text-[#394250] font-light text-xl">
                  {{ articleData?.pre_location || "-" }}
                </p>
              </div>

              <div>
                <p class="text-[#767676] md:mb-1">
                  เว็บไซต์อ้างอิง/การเผยแพร่
                </p>
                <a href="#" class="text-blue-600 hover:underline break-all font-light text-xl">
                  {{ articleData?.doi }}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ===== Innovation ===== -->
    <div *ngIf="type === 'innovation'">
      <div class="mx-auto bg-white rounded-2xl shadow-lg overflow-hidden font-medium text-2xl">
        <!-- Header -->
        <div
          class="bg-[#394250] text-white px-4 md:px-8 py-2 md:py-6 flex justify-between"
        >
          <div>
            <p class="text-lg md:text-xl opacity-80">นวัตกรรมสิ่งประดิษฐ์</p>
            <h1 class="text-xl md:text-2xl mt-1">
              {{ innovationData?.title_th }}
            </h1>

            <h1 class="text-xl md:text-2xl mt-1">
              {{ innovationData?.title_en }}
            </h1>
          </div>
        </div>

        <!-- Content -->
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8 p-4 md:p-8">
          <!-- Left: Cover Image -->
          <div class="md:col-span-1">
            <div
              class="bg-white rounded-xl flex items-center justify-center h-90 overflow-hidden cursor-pointer relative"
            >
              <!-- ถ้ามีรูป -->
              <ng-container
                *ngIf="previewImage || innovationData?.img_url; else noImage"
              >
                <img
                  [src]="previewImage || innovationData?.img_url"
                  (error)="onImageError($event)"
                  class="w-full h-full object-cover rounded-xl"
                />
              </ng-container>

              <!-- ถ้าไม่มีรูป -->
              <ng-template #noImage>
                <div class="text-center text-gray-500">
                  <img
                    src="/assets/research.png"
                    class="w-full h-80 mx-auto mb-3 opacity-70"
                  />
                </div>
              </ng-template>
            </div>

            <!-- Gelleries Images -->
            <div class="md:col-span-1 mt-5">
              <label class="font-bold text-gray-600">Gallery</label>

              <div class="grid grid-cols-3 gap-2 mt-5">
                <img
                  *ngFor="let img of galleryImages"
                  [src]="img"
                  (click)="openImage(img)"
                  class="rounded-lg shadow h-40 object-cover hover:scale-105 transition cursor-pointer"
                />
              </div>
            </div>

            <!-- Lightbox -->
            <div
              *ngIf="selectedImage"
              class="fixed inset-0 bg-black/70 flex items-center justify-center z-50"
              (click)="closeImage()"
            >
              <img
                [src]="selectedImage"
                class="max-h-[90vh] max-w-[90vw] rounded-lg shadow-xl"
              />
            </div>
          </div>

          <!-- Right: Details -->
          <div class="md:col-span-2 space-y-6">
            <!-- Research Fields -->
            <div class="grid grid-cols-1 gap-4">
              <div>
                <p class="text-[#767676]">สาขาของนวัตกรรมสิ่งประดิษฐ์</p>
                <p class="font-light text-xl">
                  {{ innovationData?.subject_area?.[0]?.name_en || '-' }}
                </p>
              </div>

              <div *ngIf="innovationData?.abstract">
                <p class="text-[#767676]">บทคัดย่อ</p>
                <p class="font-light text-xl">
                  {{ innovationData?.abstract || '-' }}
                </p>
              </div>
              <div *ngIf="innovationData?.abstract_en">
                <p class="text-[#767676]">Abstract</p>
                <p class="font-light text-xl">
                  {{ innovationData?.abstract_en || '-' }}
                </p>
              </div>
              <div *ngIf="innovationData?.keywords">
                <p class="text-[#767676]">Keywords</p>
                <p class="font-light text-xl">
                  {{ innovationData?.keywords || '-' }}
                </p>
              </div>

              <div>
                <p class="text-[#767676] mb-1">หลักการและเหตุผล</p>
                <p class="eading-relaxed font-light text-xl">
                  {{ innovationData?.principle }}
                </p>
              </div>
            </div>

            <!-- Internal Researchers Table -->
            <div>
              <h2 class="my-6">ผู้ร่วมโครงการภายใน</h2>
              <div class="overflow-x-auto font-light text-xl">
                <table class="w-full border rounded-lg overflow-hidden">
                  <thead class="bg-slate-600 text-white">
                    <tr>
                      <th class="px-4 py-2 text-left w-16 text-xl">#</th>
                      <th class="px-4 py-2 text-left">ผู้ร่วม</th>
                      <th class="px-4 py-2 text-left">ประเภทความรับผิดชอบ</th>
                    </tr>
                  </thead>
                  <tbody class="divide-y" *ngIf="innovationData!.internal_members.length > 0; else noData">
                    <tr
                      *ngFor="
                        let internal of innovationData?.internal_members;
                        let i = index
                      "
                      class="bg-gray-200 border-b border-gray-300"
                    >
                      <td class="px-4 py-3 font-medium text-xl">{{ i + 1 }}</td>
                      <td
                        class="px-4 py-3 flex flex-wrap justify-center md:justify-start items-center gap-2"
                      >
                        <div
                          class="w-8 h-8 rounded-full bg-gray-300 flex justify-center"
                        >
                          <i class="bi bi-person-fill"></i>
                        </div>
                        {{ internal?.full_name }}
                      </td>
                      <td class="px-4 py-3">{{ internal?.role }}</td>
                    </tr>
                  </tbody>

                  <ng-template #noData>
                    <tr>
                      <td colspan="3" class="text-center py-4 text-gray-500">
                        ไม่พบข้อมูล
                      </td>
                    </tr>
                  </ng-template>
                </table>
              </div>
            </div>

            <!-- External Researchers Table -->
            <div>
              <h2 class="my-6">ผู้ร่วมโครงการภายนอก</h2>
              <div class="overflow-x-auto font-light text-xl">
                <table class="w-full border rounded-lg overflow-hidden">
                  <thead class="bg-slate-600 text-white">
                    <tr>
                      <th class="px-4 py-2 w-16">#</th>
                      <th class="px-4 py-2 text-left">
                        ผู้ร่วม (บุคลากรภายนอก)
                      </th>
                      <th class="px-4 py-2 text-left">ประเภทความรับผิดชอบ</th>
                      <th class="px-4 py-2 text-left">หน่วยงาน</th>
                    </tr>
                  </thead>
                  <tbody class="divide-y" *ngIf="innovationData!.external_members.length > 0; else noDataEx">
                    <tr
                      *ngFor="
                        let external of innovationData?.external_members;
                        let i = index
                      "
                      class="bg-gray-200 border-b border-gray-300"
                    >
                      <td class="px-4 py-3">{{ i + 1 }}</td>
                      <td class="px-4 py-3">{{ external?.full_name }}</td>
                      <td class="px-4 py-3">{{ external?.role }}</td>
                      <td class="px-4 py-3">
                        {{ external?.organization || "-" }}
                      </td>
                    </tr>
                  </tbody>
                </table>

                <ng-template #noDataEx>
                  <tr>
                    <td colspan="3" class="text-center py-4 text-gray-500">
                      ไม่พบข้อมูล
                    </td>
                  </tr>
                </ng-template>
              </div>
            </div>

            <!-- Funding Source -->
            <div
              class="grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-x-10 md:gap-y-6"
            >
              <div>
                <p class="font-semibold text-[#767676] md:mb-1">
                  ที่มาแหล่งทุน
                </p>
                <p class="text-[#394250] font-light text-xl">{{ innovationData?.source_funds }}</p>
              </div>

              <div>
                <p class="font-semibold text-[#767676] md:mb-1">ชื่อแหล่งทุน</p>
                <p class="text-[#394250] font-light text-xl">{{ innovationData?.name_funding }}</p>
              </div>

              <div>
                <p class="font-semibold text-[#767676] md:mb-1">งบประมาณ</p>
                <p class="text-[#394250] font-light text-xl">
                  {{ innovationData?.budget_amount }} บาท
                </p>
              </div>

              <div>
                <p class="font-semibold text-[#767676] md:mb-1">
                  ปีที่เสร็จสิ้น
                </p>
                <p class="text-[#394250] font-light text-xl">{{ innovationData?.year }}</p>
              </div>

              <div>
                <p class="font-semibold text-[#767676] md:mb-1">
                  ความร่วมมือกับหน่วยงานอื่นๆ
                </p>
                <p class="text-[#394250] font-light text-xl">{{ innovationData?.call_other }}</p>
              </div>

              <div>
                <p class="font-semibold text-[#767676] md:mb-1">
                  เลขที่ คำขอ/สิทธิบัตร
                </p>
                <p class="text-[#394250] font-light text-xl">{{ innovationData?.patent_number }}</p>
              </div>

              <div>
                <p class="font-semibold text-[#767676] md:mb-1">
                  เว็บไซต์ตรวจสิทธิบัตร
                </p>
                <p class="text-blue-600 hover:underline break-all font-light text-xl">
                  {{ innovationData?.examination_url }}
                </p>
              </div>

              <div class="md:col-span-2">
                <p class="font-semibold text-[#767676] md:mb-1">
                  ไฟล์ภาพนวัตกรรมสิ่งประดิษฐ์
                </p>
                <a href="#" class="text-blue-600 hover:underline break-all font-light text-xl">
                  https://example.com/innovation-images
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-1 mt-6 bg-gray-300 rounded-xl overflow-hidden">
      <!-- ข้อมูลผู้ติดต่อ -->
      <div class="mt-8">
        <div
          class="bg-linear-to-r from-gray-100 to-gray-200 rounded-t-2xl shadow-md px-12 py-10"
        >
          <div
            class="grid grid-cols-1 md:grid-cols-3 gap-10 text-center items-center"
          >
            
            <!-- Owner -->
            <div class="space-y-2">
              <div class="flex justify-center mb-2">
                <div
                  class="w-12 h-12 rounded-full bg-purple-500 text-white flex items-center justify-center text-xl"
                >
                  <i class="bi bi-person"></i>
                </div>
              </div>
      
              <p class="text-gray-500 text-lg">เจ้าของผลงาน</p>
              <p class="text-gray-900 text-xl font-medium">
                {{ owner?.full_name || "ไม่ระบุ" }}
              </p>
            </div>
      
            <!-- Organization -->
            <div class="space-y-2 border-y md:border-y-0 md:border-x border-gray-300 px-6">
              <div class="flex justify-center mb-2">
                <div
                  class="w-12 h-12 rounded-full bg-blue-500 text-white flex items-center justify-center text-xl"
                >
                  <i class="bi bi-building"></i>
                </div>
              </div>
      
              <p class="text-gray-500 text-lg">หน่วยงาน</p>
              <p class="text-gray-900 text-xl font-medium">
                {{ owner?.organization || "ไม่ระบุ" }}
              </p>
            </div>
      
            <!-- Contact -->
            <div class="space-y-3">
              <div class="flex justify-center mb-2">
                <div
                  class="w-12 h-12 rounded-full bg-green-500 text-white flex items-center justify-center text-xl"
                >
                  <i class="bi bi-envelope"></i>
                </div>
              </div>
      
              <p class="text-gray-900 text-lg">
                {{ owner?.email || "ไม่ระบุ" }}
              </p>
      
              <p class="text-gray-700 text-lg">
                โทรศัพท์: {{ owner?.phone || "ไม่ระบุ" }}
              </p>
            </div>
      
          </div>
        </div>
      </div>
    
    </div>
  </div>
</div>
