<div class="bg-gray-100 min-h-screen p-6 text-2xl">
  <!-- ===== SEARCH ===== -->
  <div class="max-w-7xl mx-auto p-6">
    <!-- Title -->
    <div class="flex flex-col justify-center items-center text-center">
      <!-- Icon Circle -->
      <div
        class="w-24 h-24 rounded-full bg-linear-to-b from-sky-200 to-sky-100 flex items-center justify-center mb-4"
      >
        <i class="bi bi-search text-4xl text-gray-700"></i>
      </div>

      <!-- Title Text -->
      <h1 class="text-3xl font-bold text-gray-700">ค้นหานักวิจัย</h1>
    </div>

    <!-- ตัวกรอง -->
    <div class="max-w-3xl mx-auto mt-10 mb-6">
      <div class="grid grid-cols-12 gap-1 items-center">
        <!-- Label -->
        <label
          class="col-span-12 text-bold text-3xl md:col-span-2 font-black text-gray-700"
        >
          ตัวกรอง
        </label>

        <!-- Dropdown -->
        <div class="col-span-12 md:col-span-10 relative">
          <button
            type="button"
            (click)="toggleDropdown('faculties', $event)"
            class="w-full h-11 border rounded-full px-6 flex justify-between items-center bg-white"
          >
            <span class="truncate">
              {{ selectedFaculty || "เลือกหน่วยงาน" }}
            </span>
            <i class="bi bi-chevron-down"></i>
          </button>

          <!-- Dropdown panel -->
          <div
            *ngIf="isOpen('faculties')"
            class="absolute z-50 w-full bg-white border rounded-md mt-1 shadow"
            (click)="$event.stopPropagation()"
          >
            <input
              [(ngModel)]="searchFaculitie"
              placeholder="ค้นหา..."
              class="w-full px-3 py-2 border-b outline-none"
            />

            <ul class="max-h-48 overflow-y-auto">
              <li
                *ngFor="let f of filteredFaculties()"
                (click)="selectFaculities(f)"
                class="px-4 py-2 hover:bg-yellow-50 cursor-pointer"
              >
                {{ f }}
              </li>

              <li
                *ngIf="filteredFaculties().length === 0"
                class="px-4 py-2 text-gray-400 text-center"
              >
                ไม่พบข้อมูล
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- สายงาน -->
      <div class="grid grid-cols-1 md:grid-cols-1 gap-2 items-center mt-5">
        <!-- Major Dropdown -->
        <div class="md:col-span-3 relative">
          <button
            type="button"
            (click)="toggleDropdown('major', $event)"
            class="w-full h-11 border rounded-full px-6 flex justify-between items-center bg-white"
          >
            <span class="truncate">
              {{ selectedMajor || "เลือกสาขาวิชา" }}
            </span>
            <i class="bi bi-chevron-down"></i>
          </button>

          <!-- Dropdown panel -->
          <div
            *ngIf="isOpen('major')"
            class="absolute z-50 w-full bg-white border rounded-md mt-1 shadow"
            (click)="$event.stopPropagation()"
          >
            <input
              [(ngModel)]="searchMajor"
              placeholder="ค้นหา..."
              class="w-full px-3 py-2 border-b outline-none"
            />

            <ul class="max-h-48 overflow-y-auto">
              <li
                *ngFor="let m of filteredMajor()"
                (click)="selectMajor(m)"
                class="px-4 py-2 hover:bg-yellow-50 cursor-pointer"
              >
                {{ m }}
              </li>

              <li
                *ngIf="filteredMajor().length === 0"
                class="px-4 py-2 text-gray-400 text-center"
              >
                ไม่พบข้อมูล
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- ===== Search Box ===== -->
      <div class="flex justify-center mt-6">
        <div
          class="w-full max-w-3xl h-16 flex items-center border-2 border-gray-300 rounded-full overflow-hidden bg-white"
        >
          <!-- Input -->
          <input
            [(ngModel)]="researcherName"
            type="text"
            placeholder="พิมพ์คำค้นหา ชื่อนักวิจัย"
            class="flex-1 px-6 border-none md:px-8 text-lg md:text-2xl outline-none"
          />
      
          <!-- Button -->
          <button
            (click)="search()"
            class="
              flex items-center justify-center
              h-14 md:h-full
              bg-yellow-400 hover:bg-yellow-300
              text-gray-800 font-extrabold
              px-4 md:px-10
              rounded-full transition cursor-pointer
            "
          >
            <!-- text: โชว์เฉพาะจอใหญ่ -->
            <span class="hidden md:inline text-2xl mr-4">ค้นหา</span>
      
            <!-- icon -->
            <span
              class="w-10 h-10 rounded-full bg-gray-800 flex items-center justify-center text-white"
            >
              <i class="bi bi-arrow-right"></i>
            </span>
          </button>
        </div>
      </div>
      
    </div>

    <!-- ===== DONUT CHART ===== -->
    <div
      *ngIf="isSearched"
      class="max-w-7xl mx-auto mt-8 grid grid-cols-1 md:grid-cols-2 gap-6"
    >
      <div class="bg-[#394250] text-white rounded-xl shadow p-6">
        <div class="flex items-center gap-2 mb-4">
          <i class="bi bi-pie-chart-fill text-lg"></i>
          <h2 class="font-extrabold text-3xl">
            สัดส่วนนักวิจัย จำแนกตามสาขาวิชา
          </h2>
        </div>

        <ng-container *ngIf="hasDonutData; else noData">
          <apx-chart
            [series]="donutSeries"
            [labels]="donutLabels"
            [chart]="donutChart"
            [legend]="donutLegend"
          ></apx-chart>
        </ng-container>

        <ng-template #noData>
          <div class="text-center text-gray-400 py-16">ไม่พบข้อมูล</div>
        </ng-template>
      </div>

      <div
        class="bg-white rounded-xl shadow p-6 flex flex-col justify-between h-full"
      >
        <div class="flex items-center gap-2 mb-4">
          <i class="bi bi-pie-chart-fill text-lg"></i>
          <h2 class="font-extrabold text-3xl">
            สัดส่วนนักวิจัย จำแนกตามสาขาวิชา
          </h2>
        </div>

        <div class="space-y-1 text-gray-700">
          <p
            *ngFor="let l of donutLabels; let i = index"
            class="flex justify-between px-8"
          >
            <span>{{ l }}</span
            ><span class="font-medium">{{ donutSeries[i] }} คน</span>
          </p>
        </div>
        <div class="pt-4 border-t">
          <p class="text-4xl text-center text-gray-500">
            รวมทั้งหมด {{ totalResearchers }} คน
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ===== TABLE ===== -->
<div *ngIf="isSearched" class="bg-[#F9CB34] py-6 text-2xl">
  <div class="max-w-7xl mx-auto p-6 md:px-6">
    <!-- Header -->
    <div
      class="flex flex-col md:flex-row md:justify-between md:items-center gap-4 mb-4"
    >
      <h2 class="text-3xl font-extrabold">รายชื่อนักวิจัย</h2>

      <div class="flex items-center">
        <span class="mr-2">Search:</span>
        <input
          type="text"
          [(ngModel)]="searchText"
          (input)="onSearch()"
          class="border h-10 rounded bg-white px-3 py-2 w-full md:w-64"
          placeholder="ค้นหา..."
        />
      </div>
    </div>

    <!-- Card -->
    <div class="bg-white rounded-xl shadow p-4 md:p-8">
      <div class="overflow-x-auto">
        <table class="w-full min-w-225 border-gray-300">
          <thead class="bg-[#394250] text-white border-b-2 border-gray-300">
            <tr>
              <th class="p-3 text-center">#</th>
              <th class="p-3 text-center">img</th>
              <th class="p-3 text-left">ชื่อ - นามสกุล</th>
              <th class="p-3 text-center">สาขาวิชา</th>
              <th class="p-3 text-center">หน่วยงาน</th>
              <th class="p-3 text-center">ตำแหน่ง</th>
              <th class="p-3 text-center">Action</th>
            </tr>
          </thead>

          <tbody>
            <tr
              *ngFor="let r of paginationData; let i = index"
              class="hover:bg-gray-50 bg-gray-200 border-b border-gray-300"
            >
              <td class="p-3 text-center">{{ i + 1 }}</td>

              <td class="p-3 text-center">
                <div
                  class="mx-auto w-16 h-16 rounded-full border border-amber-400 flex items-center justify-center"
                >
                  <img
                    src="/assets/logoNPU.png"
                    alt="logo"
                    class="w-12 h-12 object-contain"
                  />
                </div>
              </td>

              <td class="p-3">{{ r.name }}</td>
              <td class="p-3 text-center">{{ r.major }}</td>
              <td class="p-3 text-center">{{ r.faculty }}</td>
              <td class="p-3 text-center">{{ r.position }}</td>
              <td class="p-3 text-center">
                <i
                  (click)="goToProfile()"
                  class="bi bi-person text-lg cursor-pointer text-blue-500 hover:text-blue-300"
                ></i>
              </td>
            </tr>

            <tr *ngIf="paginationData.length === 0">
              <td colspan="7" class="p-6 text-center text-gray-500">
                ไม่พบข้อมูล
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div
    class="flex flex-col md:flex-row md:justify-end md:items-center mt-4 gap-2"
  >
    <div class="flex items-center space-x-1">
      <!-- Prev -->
      <button
        (click)="changePage(currentPage - 1)"
        [disabled]="currentPage === 1"
        class="px-3 py-1 rounded border text-sm disabled:opacity-40 hover:bg-gray-100 cursor-pointer"
      >
        ‹
      </button>

      <!-- Pages -->
      <button
        *ngFor="let page of pages"
        (click)="changePage(page)"
        class="px-3 py-1 rounded border text-sm min-w-8 transition"
        [ngClass]="{
          'bg-[#FACC15] text-[#1E293B] font-semibold':
            currentPage === page,
          'hover:bg-gray-100': currentPage !== page
        }"
      >
        {{ page }}
      </button>

      <!-- Next -->
      <button
        (click)="changePage(currentPage + 1)"
        [disabled]="currentPage === totalPages"
        class="px-3 py-1 rounded border text-sm disabled:opacity-40 hover:bg-gray-100 cursor-pointer"
      >
        ›
      </button>
    </div>
  </div>
  
    </div>
  </div>
</div>
