<div class="bg-gray-100 min-h-screen p-10 text-2xl">
  <div class="mx-auto bg-white rounded-2xl shadow p-8 space-y-10">
    <!-- Header -->
    <div>
      <h1 class="text-3xl text-gray-800">แก้ไขข้อมูลนักวิจัย</h1>
      <div class="flex items-center gap-2 mt-3 text-indigo-600">
        <i class="bi bi-pencil-square"></i>
        <span>ข้อมูลที่อยู่อาศัย</span>
      </div>
      <hr class="mt-4" />
    </div>

    <h1 class="font-extrabold">ที่อยู่ตามทะเบียนบ้าน</h1>

    <!-- ===== Section 1 ===== -->
    <div class="grid grid-cols-12 gap-6">
      <div class="col-span-12 md:col-span-4">
        <label class="block mb-1">บ้านเลขที่ :</label>
        <input class="w-full border rounded-lg px-3 py-2" />
      </div>

      <div class="col-span-12 md:col-span-4">
        <label class="block mb-1">หมู่ที่ :</label>
        <input class="w-full border rounded-lg px-3 py-2" />
      </div>

      <div class="col-span-12 md:col-span-4">
        <label class="block mb-1">ชื่อหมู่บ้าน/อาคาร :</label>
        <input class="w-full border rounded-lg px-3 py-2" />
      </div>
    </div>

    <!-- ===== Section 2 ===== -->
    <div class="grid grid-cols-12 gap-6">
      <div class="col-span-12 md:col-span-4">
        <label class="block mb-1">ซอย :</label>
        <input class="w-full border rounded-lg px-3 py-2" />
      </div>

      <div class="col-span-12 md:col-span-4">
        <label class="block mb-1">ถนน :</label>
        <input class="w-full border rounded-lg px-3 py-2" />
      </div>

      <div class="col-span-12 md:col-span-4 relative">
        <label class="block mb-1">ตำบล อำเภอ จังหวัด :</label>
        <button
          type="button"
          (click)="toggle('address', $event)"
          class="w-full border rounded px-3 py-2 flex justify-between items-center"
        >
          {{ selectedAddress || 'เลือก' }} <i class="bi bi-chevron-down"></i>
        </button>

        <div
          *ngIf="isOpen('address')"
          (click)="$event.stopPropagation()"
          class="absolute z-50 w-full bg-white border rounded-lg mt-1 shadow"
        >
          <input
            [(ngModel)]="searchAddress"
            placeholder="ค้นหา..."
            class="w-full px-3 py-2 border-b"
          />
          <ul class="max-h-48 overflow-y-auto">
            <li
              *ngFor="let a of filteredAddress"
              (click)="selectAddress(a)"
              class="px-4 py-2 hover:bg-indigo-50 cursor-pointer"
            >
              {{ a }}
            </li>

            <li *ngIf="filteredAddress.length === 0"> ไม่พบข้อมูล</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- ===== Section 3 ==== -->
    <div class="grid grid-cols-12 gap-6">
      <div class="col-span-12 md:col-span-4">
        <label class="block mb-1">รหัสไปรษณีย์ :</label>
        <input class="w-full border rounded-lg px-3 py-2" />
      </div>

      <div class="col-span-12 md:col-span-4">
        <label class="block mb-1">โทรศัพท์มือถือ :</label>
        <input class="w-full border rounded-lg px-3 py-2" />
      </div>
  </div>
  <h1 class="font-extrabold">ที่อยู่ปัจจุบัน</h1>
  <hr>
      <!-- ===== Section 4 ===== -->
      <div class="grid grid-cols-12 gap-6">
        <div class="col-span-12 md:col-span-4">
          <label class="block mb-1">บ้านเลขที่ :</label>
          <input class="w-full border rounded-lg px-3 py-2" />
        </div>
  
        <div class="col-span-12 md:col-span-4">
          <label class="block mb-1">หมู่ที่ :</label>
          <input class="w-full border rounded-lg px-3 py-2" />
        </div>
  
        <div class="col-span-12 md:col-span-4">
          <label class="block mb-1">ชื่อหมู่บ้าน/อาคาร :</label>
          <input class="w-full border rounded-lg px-3 py-2" />
        </div>
      </div>

      <!-- ===== Section 5 ===== -->

      <div class="grid grid-cols-12 gap-6">
        <div class="col-span-12 md:col-span-4">
          <label class="block mb-1">ซอย :</label>
          <input class="w-full border rounded-lg px-3 py-2" />
        </div>
  
        <div class="col-span-12 md:col-span-4">
          <label class="block mb-1">ถนน :</label>
          <input class="w-full border rounded-lg px-3 py-2" />
        </div>
  
        <div class="col-span-12 md:col-span-4 relative">
          <label class="block mb-1">ตำบล อำเภอ จังหวัด :</label>
          <button
            type="button"
            (click)="toggle('current_address', $event)"
            class="w-full border rounded px-3 py-2 flex justify-between items-center"
          >
            {{ selectedCurrentAddress || 'เลือก' }} <i class="bi bi-chevron-down"></i>
          </button>
  
          <div
            *ngIf="isOpen('current_address')"
            (click)="$event.stopPropagation()"
            class="absolute z-50 w-full bg-white border rounded-lg mt-1 shadow"
          >
            <input
              [(ngModel)]="searchCurrentAddress"
              placeholder="ค้นหา..."
              class="w-full px-3 py-2 border-b"
            />
            <ul class="max-h-48 overflow-y-auto">
              <li
                *ngFor="let a of filteredCurrentAddress"
                (click)="selectCurrentAddress(a)"
                class="px-4 py-2 hover:bg-indigo-50 cursor-pointer"
              >
                {{ a }}
              </li>
  
              <li *ngIf="filteredCurrentAddress.length === 0"> ไม่พบข้อมูล</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- ===== Section 6 ===== -->

      <div class="grid grid-cols-12 gap-6">
        <div class="col-span-12 md:col-span-4">
          <label class="block mb-1">รหัสไปรษณีย์ :</label>
          <input class="w-full border rounded-lg px-3 py-2" />
        </div>
  
        <div class="col-span-12 md:col-span-4">
          <label class="block mb-1">โทรศัพท์มือถือ :</label>
          <input class="w-full border rounded-lg px-3 py-2" />
        </div>
    </div>

    <!-- ปุ่ม -->
    <div class="flex justify-center mt-6">
      <button
        type="submit"
        (click)="save()"
        class="px-6 py-2 bg-yellow-300 text-black hover:bg-yellow-400 rounded-md transition cursor-pointer"
      >
        บันทึกข้อมูล
      </button>
    </div>
</div>
