<div
  class="contain-content bg-gray-100 p-5 md:px-10 text-xl md:text-2xl font-medium text-[#394250]"
>
  <div
    class="md:mt-6 mb-4 flex flex-col gap-3 md:flex-row md:items-center md:justify-between"
  >
    <h1 class="text-3xl md:ml-5">นวัตกรรมสิ่งประดิษฐ์</h1>
    <div class="flex items-center mt-1 justify-end">
      <label class="text-xl mr-2">Search:</label>
      <input
        type="text"
        [(ngModel)]="searchText"
        (input)="onSearch()"
        class="border border-gray-300 rounded px-2 py-1 text-lg font-light ml-2"
        placeholder="ค้นหา..."
      />
    </div>
  </div>

  <div
    class="mb-10 mx-auto px-2 py-2 md:px-6 md:py-6 bg-white rounded-xl font-light text-lg"
  >
    <div class="w-full overflow-x-auto bg-white shadow-sm">
      <table class="w-full text-gray-700 min-w-225 table-auto">
        <colgroup>
          <col class="w-[5%]" />
          <col class="w-[10%]" />
          <col class="w-[40%]" />
          <col class="w-[20%]" />
          <col class="w-[10%]" />
          <col class="w-[15%]" />
        </colgroup>
        <!-- Header -->
        <thead class="bg-[#394250] text-white">
          <tr>
            <th class="w-20 text-center">#</th>
            <th class="p-1 md:p-2 text-center">รหัส</th>
            <th class="p-1 md:p-2 text-start">ชื่อผลงานนวัตกรรมสิ่งประดิษฐ์</th>
            <th class="p-2 text-center">ชื่อแหล่งทุน</th>
            <th class="p-1 md:p-2 text-start">สาขา</th>
            <th class="p-1 md:p-2 text-start">ผู้วิจัย</th>
          </tr>
        </thead>

        <!-- Body -->
        <tbody>
          <tr
            *ngFor="let innovation of paginatedInnovations; let i = index"
            class="border-b border-gray-300 bg-gray-200 hover:bg-indigo-50 transition"
          >
            <!-- Index -->
            <td class="text-center md:py-4">
              {{ (currentPage - 1) * pageSize + i + 1 }}
            </td>

            <td>{{ innovation.research_code || "-" }}</td>

            <!-- Title -->
            <td class="p-1 md:p-2">
              <div
                title="{{ innovation.title_th }}"
                (click)="viewDetails(innovation.research_id)"
                class="leading-relaxed wrap-break-word whitespace-normal font-light text-[#16498C] hover:underline cursor-pointer truncate max-w-125"
              >
                {{ (innovation.title_th && innovation.title_th !== '-') ? innovation.title_th : (innovation.title_en || '-') }}
              </div>

              <div
                class="hidden md:inline text-[#394250] mt-1 items-center gap-1 text-sm"
              >
                <i class="bi bi-calendar-event"></i>
                วันที่สร้าง:
                {{
                  innovation.published_date
                    | date : "dd MMMM YYYY" : "" : "TH-th"
                }}
              </div>
            </td>

            <td>
              <strong>ประเภท : </strong
              >{{ innovation.funding.source_funds || "-" }}
              <br />
              <strong>ชื่อแหล่งเงิน : </strong
              >{{ innovation.funding.funding_name || "-" }}
            </td>

            <!-- สาขา -->
            <td class="p-1 md:p-2">
              <div class="flex items-center gap-4 flex-wrap justify-start">
                <div
                  class="leading-relaxed wrap-break-word whitespace-normal text-[#394250]"
                >
                  {{innovation?.oecd?.[0]?.name_th || '-'}}
                </div>
              </div>
            </td>

            <!-- Researcher -->
            <td class="p-1 md:p-2">
              <div class="flex items-center gap-4 flex-wrap justify-start">
                <!-- <i class="bi bi-person-circle md:text-3xl"></i> -->

                <div
                  class="leading-relaxed wrap-break-word whitespace-normal text-[#394250]"
                >
                  {{ mapInnovation(innovation.own) }}
                </div>
              </div>
            </td>
          </tr>

          <!-- No search result -->
          <tr *ngIf="filteredInnovations.length === 0">
            <td colspan="6" class="text-center py-10 text-[#394250]">
              <i class="bi bi-folder-x text-3xl block mb-2"></i>
              ไม่พบผลงานที่ค้นหา
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div
      class="flex flex-col md:flex-row md:justify-between md:items-center mt-2 md:gap-2"
    >
      <p class="text-sm md:text-lg text-[#394250]">
        หน้า {{ currentPage }} จาก {{ totalPages }}
      </p>

      <p class="text-sm md:text-lg text-[#394250]">
        แสดง {{ paginatedInnovations.length }} รายการ จาก
        {{ innovations.length }} รายการ
      </p>

      <div
        class="flex flex-col md:flex-row md:justify-end md:items-center mt-4 gap-2 font-light"
      >
        <div class="flex items-center justify-end space-x-1">
          <!-- Prev -->
          <button
            (click)="changePage(currentPage - 1)"
            [disabled]="currentPage === 1"
            class="px-2 md:px-3 py-1 rounded border text-sm disabled:opacity-40 hover:bg-gray-100 cursor-pointer"
          >
            ‹
          </button>

          <!-- Pages -->
          <ng-container *ngFor="let page of visiblePages">
            <!-- ปุ่มตัวเลข -->
            <button
              *ngIf="page !== '...'"
              (click)="changePage(+page)"
              class="px-2 md:px-3 py-1 rounded border text-sm transition cursor-pointer"
              [ngClass]="{
                'bg-[#f2e7ac] text-black': currentPage === page,
                'hover:bg-gray-100': currentPage !== page
              }"
            >
              {{ page }}
            </button>

            <!-- จุด ... -->
            <span
              *ngIf="page === '...'"
              class="px-2 py-1 text-sm text-gray-400 select-none"
              >...</span
            >
          </ng-container>

          <!-- Next -->
          <button
            (click)="changePage(currentPage + 1)"
            [disabled]="currentPage === totalPages"
            class="px-2 md:px-3 py-1 rounded border text-sm disabled:opacity-40 hover:bg-gray-100 cursor-pointer"
          >
            ›
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
