<div
  class="contain-content bg-gray-100 p-5 md:p-6 min-h-screen text-xl font-medium text-[#394250]"
>
  <!-- Heaer -->
  <div class="flex items-center mx-auto md:px-10">
    <div class="relative">
      <!-- Avatar -->
      <div
        class="border-2 border-[#118CD9] rounded-full flex items-center justify-center"
      >
        <img
          [src]="
            previewUrl ||
            profileData?.avatar_url ||
            '/assets/default_profile.png'
          "
          class="w-20 h-20 md:w-30 md:h-30 rounded-full object-cover"
        />
      </div>

      <!-- ปุ่มเลือกรูป -->
      <button
        class="absolute bottom-0 right-0 bg-[#118CD9] hover:bg-[#4c7b98] text-white rounded-xl w-8 h-8 md:w-10 md:h-10 flex items-center justify-center shadow cursor-pointer"
        (click)="fileInput.click()"
      >
        <i class="bi bi-pencil-square"></i>
      </button>

      <!-- input file -->
      <input
        type="file"
        #fileInput
        hidden
        accept="image/*"
        (change)="onFileSelected($event)"
      />
    </div>

    <div class="ml-4">
      <h1 class="text-2xl md:text-3xl leading-none">
        {{ profileData?.full_name }}
      </h1>

      <h2 class="text-xl italic">
        {{ profileData?.full_name_en || "-" }}
      </h2>
    </div>
  </div>

  <!-- ปุ่มบันทึก -->
  <div class="mt-4 ml-6" *ngIf="selectedFile">
    <button
      class="bg-[#118CD9] hover:bg-[#4c7b98] text-white px-4 py-2 rounded-lg shadow font-light text-sm cursor-pointer"
      (click)="saveAvatar()"
    >
      บันทึก
    </button>

    <button
      class="ml-2 bg-gray-400 hover:bg-gray-500 text-white px-4 py-2 rounded-lg shadow font-light text-sm cursor-pointer"
      (click)="cancelAvatar()"
    >
      ยกเลิก
    </button>
  </div>

  <!-- Main Layout -->
  <div
    class="grid grid-cols-1 lg:grid-cols-12 md:gap-6 md:px-8 mx-auto mt-3 md:mt-6 text-[#394250]"
  >
    <div class="lg:col-span-4 space-y-5">
      <div
        class="bg-white rounded-xl shadow-md px-6 py-8 w-full max-w-full mb-2 md:mb-5"
      >
        <div
          class="flex items-center justify-between cursor-pointer"
          (click)="isPersonalOpen = !isPersonalOpen"
        >
          <div class="flex items-center gap-3">
            <div class="text-2xl">
              <i class="bi bi-person"></i>
            </div>
            <h2>ข้อมูลประวัติทั่วไป</h2>
          </div>

          <div class="flex items-center gap-3">
            <!-- Arrow -->
            <i
              class="bi bi-chevron-down text-xl transition-transform duration-300"
              [class.rotate-180]="isPersonalOpen"
            ></i>
          </div>
        </div>

        <!-- Divider -->
        <hr class="my-4 text-gray-400" />

        <!-- Dropdown Content -->
        <div *ngIf="isPersonalOpen" class="transition-all duration-300">
          <div class="flex justify-end">
            <button
              class="bg-[#118CD9] hover:bg-[#4c7b98] text-white rounded-xl w-10 h-10 flex items-center justify-center shadow cursor-pointer"
              (click)="goToEditProfile(); $event.stopPropagation()"
            >
              <i class="bi bi-pencil-square"></i>
            </button>
          </div>

          <ul
            *ngIf="profileData?.generalInfo as info; else noData"
            class="space-y-3 text-gray-600 font-regular text-lg"
          >
            <li *ngIf="profileData?.generalInfo?.id_card_number" class="flex gap-2 flex-wrap">
              <span
              class="text-gray-400"> • เลขบัตรประชาชน : </span>
              {{ profileData?.generalInfo?.id_card_number }}
            </li>

            <li *ngIf="profileData?.generalInfo?.date_of_birth" class="flex gap-2 flex-wrap">
              <span class="text-gray-400"> • วันเดือนปีเกิด : </span>
              {{ profileData?.generalInfo?.date_of_birth }}
            </li>

            <li *ngIf="profileData?.generalInfo?.age" class="flex gap-2 flex-wrap">
              <span class="text-gray-400"> • อายุ : </span>
              {{ profileData?.generalInfo?.age }} ปี
            </li>

            <li *ngIf="profileData?.generalInfo?.ethnicity" class="flex gap-2 flex-wrap">
              <span class="text-gray-400"> • เชื้อชาติ : </span>
              {{ profileData?.generalInfo?.ethnicity }}
            </li>

            <li *ngIf="profileData?.generalInfo?.nationality" class="flex gap-2 flex-wrap">
              <span class="text-gray-400"> • สัญชาติ : </span>
              {{ profileData?.generalInfo?.nationality }}
            </li>

            <li *ngIf="profileData?.generalInfo?.religion" class="flex gap-2 flex-wrap">
              <span class="text-gray-400"> • ศาสนา : </span>
              {{ profileData?.generalInfo?.religion }}
            </li>
          </ul>

          <ng-template #noData>
            <div class="text-red-500 text-center font-regular py-4">
              ไม่พบข้อมูล
            </div>
          </ng-template>
        </div>
      </div>

      <!-- ข้อมูลการทำงาน -->
      <div
        class="bg-white rounded-xl shadow-md px-6 py-8 w-full max-w-full mb-2 md:mb-5"
      >
        <!-- Header -->
        <div
          class="flex items-center justify-between cursor-pointer"
          (click)="isWorkOpen = !isWorkOpen"
        >
          <div class="flex items-center gap-3">
            <div class="text-2xl">
              <i class="bi bi-briefcase-fill"></i>
            </div>
            <h2>ข้อมูลการทำงาน</h2>
          </div>

          <div class="flex items-center gap-3">
            <!-- Arrow -->
            <i
              class="bi bi-chevron-down text-xl transition-transform duration-300"
              [class.rotate-180]="isWorkOpen"
            ></i>
          </div>
        </div>

        <hr class="my-4 text-gray-400" />

        <div *ngIf="isWorkOpen" class="transition-all duration-300">
          <div class="flex justify-end">
            <button
              class="bg-[#118CD9] hover:bg-[#4c7b98] text-white rounded-xl w-10 h-10 flex items-center justify-center shadow cursor-pointer"
              (click)="goToEditWork(); $event.stopPropagation()"
            >
              <i class="bi bi-pencil-square"></i>
            </button>
          </div>
          <!-- Content -->
          <ul
            *ngIf="profileData?.workInfo as info; else noDataWorkInfo"
            class="space-y-3 text-gray-600 font-regular text-lg"
          >
            <li class="flex gap-2 flex-wrap wrap-break-word">
              <span class="text-gray-400">• ตำแหน่งทางการบริหาร :</span>
              {{ profileData?.workInfo?.position }}
            </li>
            <li class="flex gap-2 flex-wrap wrap-break-word">
              <span class="text-gray-400">• สังกัด :</span>
              {{ profileData?.workInfo?.organization }}
            </li>
            <li class="flex gap-2 flex-wrap wrap-break-word">
              <span class="text-gray-400">• ประเภท :</span>
              {{ profileData?.workInfo?.type }}
            </li>
            <li class="flex gap-2 flex-wrap wrap-break-word">
              <span class="text-gray-400">• ตำแหน่งทางวิชาการ :</span>
              {{ profileData?.workInfo?.academic_position }}
            </li>
            <li class="flex gap-2 flex-wrap wrap-break-word">
              <span class="text-gray-400">• ความความสนใจ :</span>
              {{ profileData?.workInfo?.interest }}
            </li>
            <li class="flex gap-2 flex-wrap wrap-break-word">
              <span class="text-gray-400">• สาขาวิชาที่เชี่ยวชาญ :</span>
              {{ profileData?.workInfo?.expertises }}
            </li>
            <li class="flex gap-2 flex-wrap wrap-break-word">
              <span class="text-gray-400">• วันที่เริ่มงาน :</span>
              {{ profileData?.workInfo?.work_start_date }}
            </li>
            <li class="flex gap-2 flex-wrap wrap-break-word">
              <span class="text-gray-400">• อายุงาน :</span>
              {{ profileData?.workInfo?.year_of_service }} ปี
            </li>
          </ul>

          <ng-template #noDataWorkInfo>
            <div class="text-red-500 text-center font-regular py-4">
              ไม่พบข้อมูล
            </div>
          </ng-template>
        </div>
      </div>

      <!-- ข้อมูลการศึกษา -->
      <div
        class="bg-white rounded-xl shadow-md px-6 py-8 w-full max-w-full mb-2 md:mb-5"
      >
        <!-- Header -->
        <div
          class="flex items-center justify-between cursor-pointer"
          (click)="isEducation = !isEducation"
        >
          <div class="flex items-center gap-3">
            <div class="text-2xl">
              <i class="bi bi-mortarboard"></i>
            </div>
            <h2>ข้อมูลการศึกษา</h2>
          </div>
          <div class="flex items-center gap-3">
            <i
              class="bi bi-chevron-down text-xl transition-transform duration-300"
              [class.rotate-180]="isEducation"
            ></i>
          </div>
        </div>

        <hr class="my-4 text-gray-400" />

        <div *ngIf="isEducation" class="transition-all duration-300">
          <div class="flex justify-end">
            <!-- Edit Button -->
            <button
              class="bg-[#118CD9] hover:bg-[#4c7b98] text-white rounded-xl w-10 h-10 flex items-center justify-center shadow cursor-pointer"
              (click)="openEditModal(educationData)"
            >
              <i class="bi bi-pencil-square"></i>
            </button>
          </div>
          <!-- Content -->
          <ul
            *ngIf="
              profileData?.educationalInfo as info;
              else noDataEducationalInfo
            "
            class="space-y-3 text-gray-600 font-regular text-lg"
          >
            <li class="flex gap-2 flex-wrap wrap-break-word">
              <span class="text-gray-400">• การศึกษาสูงสุด :</span>
              {{ profileData?.educationalInfo?.highest_education }}
            </li>
            <li class="flex gap-2 flex-wrap wrap-break-word">
              <span class="text-gray-400">• สาขาวิชา :</span>
              {{ profileData?.educationalInfo?.field_of_study }}
            </li>
            <li class="flex gap-2 flex-wrap wrap-break-word">
              <span class="text-gray-400">• คุณวุฒิ :</span>
              {{ profileData?.educationalInfo?.qualification }}
            </li>
            <li class="flex gap-2 flex-wrap wrap-break-word">
              <span class="text-gray-400">• สถานศึกษา :</span>
              {{ profileData?.educationalInfo?.institution }}
            </li>
            <li class="flex gap-2 flex-wrap wrap-break-word">
              <span class="text-gray-400"
                >• วันที่/เดือน/ปี ที่สำเร็จการศึกษา :</span
              >
              {{ profileData?.educationalInfo?.date_graduation }}
            </li>
          </ul>

          <ng-template #noDataEducationalInfo>
            <div class="text-red-500 text-center font-regular py-4">
              ไม่พบข้อมูล
            </div>
          </ng-template>
        </div>
      </div>

      <!-- ข้อมูลการฝึกอบรม -->
      <!-- <div class="bg-white rounded-xl shadow-md px-6 py-8 w-full max-w-full mb-2 md:mb-5">
        <div
          class="flex items-center justify-between cursor-pointer"
          (click)="isTraining = !isTraining"
        >
          <div class="flex items-center gap-3">
            <div class="text-2xl">
              <i class="bi bi-backpack4-fill"></i>
            </div>
            <h2 class="text-2xl">ข้อมูลการฝึกอบรม</h2>
          </div>

          <div class="flex items-center gap-3">
            <i
              class="bi bi-chevron-down text-xl transition-transform duration-300"
              [class.rotate-180]="isTraining"
            ></i>
          </div>
        </div>

        <hr class="my-4 text-gray-400" />

        <div *ngIf="isTraining" class="transtion-all duration-300">
          <div class="flex justify-end">
            <button
              class="bg-[#FDE68A] hover:bg-[#FACC15] hover:text-white rounded-xl w-10 h-10 flex items-center justify-center shadow cursor-pointer"
              (click)="goToEditTraning()"
            >
              <i class="bi bi-pencil-square"></i>
            </button>
          </div>
          <ul
            *ngIf="trainings.length > 0; else noTraining"
            class="space-y-3 text-gray-600 font-medium"
          >
            <li
              *ngFor="let item of trainings"
              class="flex gap-2 flex-wrap wrap-break-word"
            >
              <span class="text-gray-400 font-bold">
                • {{ item.title }} :
              </span>
              {{ item.value }}
            </li>
          </ul>

          <ng-template #noTraining>
            <div class="text-red-500 text-center font-semibold py-4">
              ไม่พบข้อมูล
            </div>
          </ng-template>
        </div>
      </div> -->
    </div>

    <!-- ข้อมูลผลงาน -->
    <div class="lg:col-span-8">
      <div class="bg-white rounded-2xl shadow-lg">
        <!-- Header -->
        <div
          class="flex items-center gap-3 md:mb-6 bg-[#394250] text-white p-3 rounded-t-2xl"
        >
          <i class="bi bi-pie-chart-fill text-3xl"></i>
          <h2>ข้อมูลผลงาน</h2>
        </div>

        <div class="p-2 md:p-6">
          <div class="grid grid-cols-1 lg:grid-cols-2 gap-2 md:gap-6">
            <div
              class="bg-white rounded-xl shadow-md p-4 hover:shadow-lg transition border border-gray-300"
            >
              <div class="flex items-center justify-between md:mb-4">
                <h3 class="text-2xl">สัดส่วนข้อมูล</h3>
                <i class="bi bi-pie-chart-fill text-indigo-500 text-xl"></i>
              </div>

              <div>
                <ng-container
                  *ngIf="chartOptions?.data?.[0]?.dataPoints?.length > 0; else noData"
                >
                  <canvasjs-chart
                    [options]="chartOptions"
                    (chartInstance)="getChartInstance($event)"
                    [styles]="{ width: '100%', height: '300px' }"
                  >
                  </canvasjs-chart>
                </ng-container>
              </div>

              <!-- ไม่พบข้อมูล -->
              <ng-template #noData>
                <div class="text-center text-gray-500 py-16">ไม่พบข้อมูล</div>
              </ng-template>
            </div>

            <!-- BAR CARD -->
            <div
              class="bg-white rounded-xl shadow-md p-4 hover:shadow-lg transition border border-gray-300"
            >
              <div class="flex items-center justify-between md:mb-4">
                <h3 class="text-2xl">สถิติรายปี</h3>
                <i class="bi bi-bar-chart-fill text-emerald-500 text-xl"></i>
              </div>

              <apx-chart
                [series]="barChartOptions.series!"
                [chart]="barChartOptions.chart!"
                [plotOptions]="barChartOptions.plotOptions!"
                [dataLabels]="barChartOptions.dataLabels!"
                [xaxis]="barChartOptions.xaxis!"
                [yaxis]="barChartOptions.yaxis!"
                [legend]="barChartOptions.legend!"
                [fill]="barChartOptions.fill!"
                [stroke]="barChartOptions.stroke!"
                [tooltip]="barChartOptions.tooltip!"
              ></apx-chart>
            </div>

            <div
              class="bg-white rounded-xl shadow-md p-4 hover:shadow-lg transition border border-gray-300 mt-6"
            >
              <div class="flex flex-col items-center justify-between mb-2">
                <h3 class="text-xl text-center">
                  ภาพรวมทักษะงานวิจัย (สาขา OECD หลัก)
                </h3>
                <h4 class="text-lg mt-1">
                  {{
                    selectedTab === "project"
                      ? "โครงการวิจัย"
                      : selectedTab === "article"
                      ? "บทความ"
                      : "นวัตกรรม"
                  }}
                </h4>
              </div>

              <!-- ⭐ สำคัญ: ต้องมี container height -->
              <div class="w-full">
                <apx-chart
                  class="w-full h-full text-white"
                  [series]="radarChartOptions.series!"
                  [chart]="radarChartOptions.chart!"
                  [labels]="radarChartOptions.labels!"
                  [fill]="radarChartOptions.fill!"
                  [stroke]="radarChartOptions.stroke!"
                  [markers]="radarChartOptions.markers!"
                  [xaxis]="radarChartOptions.xaxis!"
                  [yaxis]="radarChartOptions.yaxis!"
                  [plotOptions]="radarChartOptions.plotOptions!"
                  [dataLabels]="radarChartOptions.dataLabels!"
                  [tooltip]="radarChartOptions.tooltip!"
                >
                </apx-chart>
              </div>
            </div>

            <div
              class="bg-white rounded-xl shadow-md px-4 pt-4 pb-0 hover:shadow-lg transition border border-gray-300 mt-6"
            >
              <div class="flex flex-col items-center justify-between mb-1">
                <h3 class="text-xl">
                  รายละเอียดทักษะงานวิจัย (สาขา OECD ย่อย)
                </h3>
                <h4 class="text-xl mt-1">
                  {{
                    selectedTab === "project"
                      ? "โครงการวิจัย"
                      : selectedTab === "article"
                      ? "บทความ"
                      : "นวัตกรรม"
                  }}
                </h4>
              </div>

              <div class="-mx-4 -mb-6">
                <apx-chart
                  class="w-full h-full text-white"
                  [series]="radarChartOptionsSub.series!"
                  [chart]="radarChartOptionsSub.chart!"
                  [labels]="radarChartOptionsSub.labels!"
                  [fill]="radarChartOptionsSub.fill!"
                  [stroke]="radarChartOptionsSub.stroke!"
                  [markers]="radarChartOptionsSub.markers!"
                  [xaxis]="radarChartOptionsSub.xaxis!"
                  [yaxis]="radarChartOptionsSub.yaxis!"
                  [plotOptions]="radarChartOptionsSub.plotOptions!"
                  [dataLabels]="radarChartOptionsSub.dataLabels!"
                  [tooltip]="radarChartOptionsSub.tooltip!"
                >
                </apx-chart>
              </div>
            </div>
          </div>

          <div class="flex flex-wrap gap-2 mt-4 mb-4 md:mt-8 items-center">
            <!-- Tabs -->
            <div class="flex flex-wrap gap-2 items-center">
              <button
                *ngFor="let tab of tabs"
                (click)="changeTab(tab.key)"
                [ngClass]="
                  selectedTab === tab.key
                    ? 'bg-[#118CD9] text-[#ffffff] shadow'
                    : 'text-[#394250] hover:bg-[#118CD9] hover:text-white'
                "
                class="flex items-center gap-2 px-2 py-1 md:px-5 md:py-2.5 rounded-xl transition-all duration-200 cursor-pointer"
              >
                <i class="bi {{ tab.icon }} text-lg"></i>
                <span>{{ tab.label }}</span>
              </button>
            </div>

            <!-- Search -->
            <div
              class="flex items-center w-full md:w-auto mt-2 md:mt-0 justify-end md:ml-auto"
            >
              <span>Search:</span>
              <input
                type="text"
                [(ngModel)]="searchText"
                (input)="onSearch()"
                class="border rounded px-2 py-1 ml-2 text-lg font-light"
                placeholder="ค้นหา..."
              />
            </div>
          </div>

          <!-- Table -->
          <div class="overflow-x-auto bg-white shadow-md font-light text-lg">
            <table class="w-full text-gray-700">
              <!-- Header -->
              <thead class="bg-linear-to-r bg-[#394250] text-white">
                <tr>
                  <th class="px-4 py-3 w-16 text-center">#</th>
                  <th class="px-4 py-3 text-center">รหัส</th>
                  <th class="px-4 py-3 text-left">ชื่อผลงาน</th>
                  <th class="px-4 py-3 w-28 text-center">Action</th>
                </tr>
              </thead>

              <!-- Body -->
              <tbody>
                <!-- มีข้อมูล -->
                <tr
                  *ngFor="let item of paginationData; let i = index"
                  class="border-b border-gray-300 hover:bg-indigo-50 transition"
                >
                  <!-- Index -->
                  <td class="text-center py-4">
                    {{ (currentPage - 1) * pageSize + i + 1 }}
                  </td>

                  <td class="text-center py-4">
                    {{ item.research_code || "-" }}
                  </td>

                  <!-- Title -->
                  <td class="px-4 py-3">
                    <div
                      class="text-[#16498C] hover:underline cursor-pointer truncate max-w-125"
                      title="{{ item.title_th }}"
                      (click)="viewItem(item.research_id)"
                    >
                      {{ item.title_th || item.title_en }}
                    </div>

                    <div
                      class="text-sm text-gray-500 mt-1 flex items-center gap-1 font-light"
                    >
                      <i class="bi bi-calendar-event"></i>
                      วันที่สร้าง:
                      {{
                        item.published_date
                          | date : "dd MMMM YYYY" : "" : "TH-th"
                      }}
                    </div>
                  </td>

                  <!-- Actions -->
                  <td class="text-center py-3">
                    <button
                      class="inline-flex items-center justify-center w-9 h-9 rounded-full bg-blue-50 hover:bg-blue-100 text-blue-600 transition mr-1 cursor-pointer"
                      (click)="editItem(item.research_id)"
                      title="แก้ไข"
                    >
                      <i class="bi bi-pencil-square"></i>
                    </button>

                    <button
                      class="inline-flex items-center justify-center w-9 h-9 rounded-full bg-red-50 hover:bg-red-100 text-red-600 transition cursor-pointer"
                      (click)="deleteProject(item.research_id)"
                      title="ลบ"
                    >
                      <i class="bi bi-trash3"></i>
                    </button>
                  </td>
                </tr>

                <!-- No Data -->
                <tr *ngIf="paginationData.length === 0">
                  <td colspan="3" class="text-center py-12 text-red-500">
                    <i class="bi bi-folder-x text-4xl block mb-3"></i>
                    ไม่พบข้อมูล
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- Pagination -->
          <div class="flex justify-end md:mt-3 space-x-1">
            <!-- Prev -->
            <button
              (click)="changePage(currentPage - 1)"
              [disabled]="currentPage === 1"
              class="px-2 md:px-3 py-1 rounded border text-sm disabled:opacity-40 hover:bg-gray-100 cursor-pointer"
            >
              ‹
            </button>

            <!-- Pages -->
            <button
              *ngFor="let page of pages"
              (click)="changePage(page)"
              class="px-2 md:px-3 py-1 rounded border text-sm transition cursor-pointer"
              [ngClass]="{
                'bg-[#118CD9] text-white border-gray-400': currentPage === page,
                'hover:bg-gray-100': currentPage !== page
              }"
            >
              {{ page }}
            </button>

            <!-- Next -->
            <button
              (click)="changePage(currentPage + 1)"
              [disabled]="currentPage === totalPages"
              class="px-2 md:px-3 py-1 rounded border text-sm disabled:opacity-40 hover:bg-gray-100 cursor-pointer"
            >
              ›
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ====== Modal Edit ====== -->
<div
  *ngIf="isModalOpen"
  class="fixed inset-0 bg-black/40 backdrop-blur-sm z-50 flex items-center justify-center text-2xl text-[#394250]"
>
  <!-- Modal Box -->
  <div class="bg-white w-full max-w-xl rounded-2xl shadow-xl p-6 relative">
    <!-- Header -->
    <div class="flex items-center justify-between border-b pb-3 mb-5">
      <h2 class="font-medium">
        {{ isEditMode ? "แก้ไขข้อมูลการศึกษา" : "เพิ่มข้อมูลการศึกษา" }}
      </h2>
      <button
        (click)="closeModal()"
        class="text-gray-400 hover:text-gray-600 transition cursor-pointer"
      >
        <i class="bi bi-x-lg text-lg"></i>
      </button>
    </div>

    <!-- Content -->
    <div class="space-y-4 text-lg">
      <!-- ====== Education Level ===== -->
      <div class="relative">
        <label class="mb-1 block">ระดับการศึกษา</label>
        <input
          [(ngModel)]="educationData.highest_education"
          type="text"
          placeholder="กรอกระดับการศึกษา"
          class="w-full border rounded-lg px-3 py-2 font-light"
        />
      </div>

      <!-- ====== Major & Qualification ===== -->
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <!-- Major -->
        <div class="relative">
          <label class="mb-1 block">สาขา</label>
          <input
            [(ngModel)]="educationData.field_of_study"
            type="text"
            placeholder="กรอกสาขาวิชา"
            class="w-full border rounded-lg px-3 py-2 font-light"
          />
        </div>

        <!-- Qualification -->
        <div class="relative">
          <label class="mb-1 block">วุฒิการศึกษา</label>
          <input
            [(ngModel)]="educationData.qualification"
            type="text"
            placeholder="กรอกวุฒิการศึกษา"
            class="w-full border rounded-lg px-3 py-2 font-light"
          />
        </div>
      </div>

      <!-- ===== Institution & Country ===== -->
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <!-- Institution -->
        <div class="relative">
          <label class="mb-1 block">สถานที่ศึกษา</label>
          <input
            [(ngModel)]="educationData.institution"
            type="text"
            placeholder="ชื่อสถานที่ศึกษา"
            class="w-full border rounded-lg px-3 py-2 font-light"
          />
        </div>

        <div>
          <label class="mb-1 block">ปีที่สำเร็จการศึกษา</label>
          <input
            [(ngModel)]="educationData.date_graduation"
            type="date"
            placeholder="ปีที่สำเร็จการศึกษา"
            class="w-full border rounded-lg px-3 py-2 font-light"
          />
        </div>
      </div>
    </div>

    <!-- Footer -->
    <div
      class="flex justify-center gap-3 mt-6 pt-4 border-t font-regular text-lg"
    >
      <button
        (click)="save()"
        class="px-5 py-2 rounded-lg bg-[#118CD9] hover:bg-[#4c7b98] text-white shadow cursor-pointer"
      >
        บันทึก
      </button>
      <button
        (click)="closeModal()"
        class="px-4 py-2 rounded-lg border text-gray-600 hover:bg-gray-100 cursor-pointer"
      >
        ยกเลิก
      </button>
    </div>
  </div>
</div>
