<!-- ===== Navbar General ===== -->
<ng-container *ngIf="!isLoggedIn">
  <nav class="text-[#394250] font-bold sticky top-0 z-50 bg-gray-100">
    <div class="max-w-full mx-auto px-4 md:px-8 cursor-pointer p-1 bg-white">
      <div class="flex items-center justify-between h-16">
        <div class="flex items-center gap-3">
          <img
            src="assets/logoNPU.png"
            alt="NPU Logo"
            class="h-13 w-13 object-contain"
          />
          <div class="leading-none sm:block">
            <h1
              routerLink="/dashboard"
              class="text-xl text-[#394250] leading-none sm:text-2xl md:text-3xl transition-all duration-300"
            >
              ระบบฐานข้อมูลวิจัย
              <span class="block md:inline"> มหาวิทยาลัยนครพนม </span>
            </h1>
            <p class="text-lg leading-none sm:text-xl italic text-gray-400">
              Research Database System
            </p>
          </div>
        </div>

        <div class="hidden md:flex items-center gap-6">
          <a
            routerLink="/login"
            class="hover:bg-gray-50 px-3 py-2 rounded-md flex items-center justify-center hover:text-blue-400"
          >
            <i class="bi bi-box-arrow-in-right text-lg"></i>
            <span class="ml-2 hidden md:inline text-xl text-[#394250]"
              >เข้าสู่ระบบ</span
            >
          </a>
        </div>

        <div class="md:hidden">
          <button
            (click)="toggleMobileMenu($event)"
            class="p-2 rounded hover:bg-gray-300"
          >
            <i
              class="bi"
              [ngClass]="
                isMobileMenuOpen ? 'bi-x-lg text-xl' : 'bi-list text-2xl'
              "
            ></i>
          </button>
        </div>
      </div>
    </div>

    <div
      class="flex justify-between items-center flex-wrap bg-[#FACC15] px-2 rounded-b-[2vw] shadow-lg/30"
    >
      <div class="hidden md:flex m-2 ml-10 gap-2">
        <div class="ml-5 flex flex-wrap items-baseline space-x-1">
          <a
            routerLink="/dashboard"
            class="hover:bg-gray-50 px-3 py-2 rounded-md text-sm font-medium flex items-center justify-center gap-1"
          >
            <i class="bi bi-house text-lg"></i>
            <span class="hidden md:inline text-xl font-bold">หน้าหลัก</span>
          </a>

          <a
            routerLink="/research"
            class="hover:bg-gray-50 px-3 py-2 rounded-md text-sm font-medium flex items-center justify-center gap-1"
          >
            <i class="bi bi-layers-half text-lg"></i>
            <span class="hidden md:inline text-xl font-bold">งานวิจัย</span>
          </a>

          <a
            routerLink="/aticle"
            class="hover:bg-gray-50 px-3 py-2 rounded-md text-sm font-medium flex items-center justify-center gap-1"
          >
            <i class="bi bi-book text-lg"></i>
            <span class="hidden md:inline font-bold text-xl"
              >บทความ/วารสาร</span
            >
          </a>

          <a
            routerLink="/innovation"
            class="hover:bg-gray-50 px-3 py-2 rounded-md text-sm font-medium flex items-center justify-center gap-1"
          >
            <i class="bi bi-award text-lg"></i>
            <span class="hidden md:inline font-bold text-xl"
              >นวัตกรรมสิ่งประดิษฐ์</span
            >
          </a>

          <a
            routerLink="/news"
            class="hover:bg-gray-50 px-3 py-2 rounded-md text-sm font-medium flex items-center justify-center gap-1"
          >
            <i class="bi bi-rss text-lg"></i>
            <span class="hidden md:inline font-bold text-xl"
              >ข่าวประชาสัมพันธ์</span
            >
          </a>

          <a
            routerLink="/download"
            class="hover:bg-gray-50 px-3 py-2 rounded-md text-sm font-medium flex items-center justify-center gap-1"
          >
            <i class="bi bi-cloud-arrow-down text-lg"></i>
            <span class="hidden md:inline font-bold text-xl"
              >เอกสารดาว์โหลด</span
            >
          </a>

          <div
            class="relative"
            (click)="$event.stopPropagation()"
            (mouseenter)="onMouseEnter('report')"
            (mouseleave)="onMouseLeave('report')"
          >
            <button
              type="button"
              (click)="onToggle('report', $event)"
              class="hover:bg-gray-50 px-3 py-2 rounded-md text-sm font-medium flex items-center justify-center gap-1"
            >
              <i class="bi bi-graph-up text-lg"></i>
              <span class="hidden md:inline font-bold text-xl">
                สถิติ/รายงาน
              </span>
            </button>

            <!-- Dropdown -->
            <div
              *ngIf="openMenu === 'report'"
              class="absolute left-1/2 mt-2 -translate-x-1/2 w-72 max-w-[90vw] bg-[#394250] text-white rounded-md shadow-lg z-50 pointer-events-auto"
            >
              <a
              (click)="closeMenu()"
                routerLink="/report-researcher-profile"
                class="block px-4 py-2 hover:bg-gray-600 font-bold text-xl"
              >
                รายงานข้อมูลประวัตินักวิจัย
              </a>
              <a
              (click)="closeMenu()"
                routerLink="/report-research"
                class="block px-4 py-2 hover:bg-gray-600 font-bold text-xl"
              >
                รายงานข้อมูลผลงานวิจัย
              </a>
              <a
              (click)="closeMenu()"
                routerLink="/report-expertise"
                class="block px-4 py-2 hover:bg-gray-600 font-bold text-xl"
              >
                รายงานข้อมูลจำนวนนักวิจัยแยกตามสาขาเชี่ยวชาญ
              </a>
              <a
              (click)="closeMenu()"
                routerLink="/report-institution"
                class="block px-4 py-2 hover:bg-gray-600 font-bold text-xl"
              >
                รายงานข้อมูลจำนวนนักวิจัยแยกตามหน่วยงานที่สังกัด
              </a>
              <a
              (click)="closeMenu()"
                routerLink="/report-researcher"
                class="block px-4 py-2 hover:bg-gray-600 font-bold text-xl"
              >
                รายงานข้อมูลจำนวนนักวิจัยแยกตามประเภทนักวิจัย
              </a>
            </div>
          </div>

          <div
            class="relative"
            (click)="$event.stopPropagation()"
            (mouseenter)="onMouseEnter('manual')"
            (mouseleave)="onMouseLeave('manual')"
          >
            <button
              (click)="onToggle('manual', $event)"
              class="hover:bg-gray-50 px-3 py-2 rounded-md text-sm font-medium flex items-center justify-center gap-1"
            >
              <i class="bi bi-file-earmark-text text-lg"></i>
              <span class="hidden md:inline font-bold text-xl"
                >คู่มือการใช้งาน</span
              >
            </button>

            <div
              *ngIf="openMenu === 'manual'"
              class="absolute left-1/2 mt-2 -translate-x-1/2 w-40 max-w-[90vw] bg-[#394250] text-white rounded-md shadow-lg z-50"
            >
              <a
              (click)="closeMenu()"
                [href]="doc.researcher.fileUrl"
                target="_blank"
                rel="noopener"
                class="block px-4 py-2 hover:bg-gray-600 font-bold text-xl"
              >
                สำหรับนักวิจัย
              </a>
              <a
              (click)="closeMenu()"
                [href]="doc.admin.fileUrl"
                target="_blank"
                rel="noopener"
                class="block px-4 py-2 hover:bg-gray-600 font-bold text-xl"
              >
                สำหรับแอดมิน
              </a>
              <a
              (click)="closeMenu()"
                [href]="doc.executive.fileUrl"
                target="_blank"
                rel="noopener"
                class="block px-4 py-2 hover:bg-gray-600 font-bold text-xl"
              >
                สำหรับผู้บริหาร
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- ======== Menu Mobile ======= -->
      <div
        *ngIf="isMobileMenuOpen"
        (click)="$event.stopPropagation()"
        class="md:hidden bg-yellow-400 px-2 py-4 grid grid-cols-9 gap-1 w-full"
      >
        <a
          routerLink="/dashboard"
          (click)="closeAllMobileMenus()"
          class="flex justify-center p-2 hover:bg-yellow-300 rounded relative group"
        >
          <i class="bi bi-house text-xl"></i>

          <span
            class="absolute bottom-full mb-1 left-1/2 transform -translate-x-1/2 px-2 py-1 text-2xs text-white bg-black rounded opacity-0 group-hover:opacity-100 transition-opacity duration-200 whitespace-nowrap"
          >
            หน้าหลัก
          </span>
        </a>

        <a
          routerLink="/research"
          (click)="closeAllMobileMenus()"
          class="flex justify-center p-2 hover:bg-yellow-300 rounded relative group"
        >
          <i class="bi bi-layers-half text-xl"></i>
          <span
            class="absolute bottom-full mb-1 left-1/2 transform -translate-x-1/2 px-2 py-1 text-2xs text-white bg-black rounded opacity-0 group-hover:opacity-100 transition-opacity duration-200 whitespace-nowrap"
          >
            งานวิจัย
          </span>
        </a>

        <a
          routerLink="/aticle"
          (click)="closeAllMobileMenus()"
          class="flex justify-center p-2 hover:bg-yellow-300 rounded relative group"
        >
          <i class="bi bi-book text-xl"></i>
          <span
            class="absolute bottom-full mb-1 left-1/2 transform -translate-x-1/2 px-2 py-1 text-2xs text-white bg-black rounded opacity-0 group-hover:opacity-100 transition-opacity duration-200 whitespace-nowrap"
          >
            บทความ/วารสาร
          </span>
        </a>

        <a
          routerLink="/innovation"
          (click)="closeAllMobileMenus()"
          class="flex justify-center p-2 hover:bg-yellow-300 rounded relative group"
        >
          <i class="bi bi-award text-xl"></i>
          <span
            class="absolute bottom-full mb-1 left-1/2 transform -translate-x-1/2 px-2 py-1 text-2xs text-white bg-black rounded opacity-0 group-hover:opacity-100 transition-opacity duration-200 whitespace-nowrap"
          >
            นวัตกรรมสิ่งประดิษฐ์
          </span>
        </a>

        <a
          routerLink="/news"
          (click)="closeAllMobileMenus()"
          class="flex justify-center p-2 hover:bg-yellow-300 rounded relative group"
        >
          <i class="bi bi-rss text-xl"></i>
          <span
            class="absolute bottom-full mb-1 left-1/2 transform -translate-x-1/2 px-2 py-1 text-2xs text-white bg-black rounded opacity-0 group-hover:opacity-100 transition-opacity duration-200 whitespace-nowrap"
          >
            ข่าวประชาสัมพันธ์
          </span>
        </a>

        <a
          routerLink="/download"
          (click)="closeAllMobileMenus()"
          class="flex justify-center p-2 hover:bg-yellow-300 rounded relative group"
        >
          <i class="bi bi-cloud-arrow-down text-xl"></i>
          <span
            class="absolute bottom-full mb-1 left-1/2 transform -translate-x-1/2 px-2 py-1 text-2xs text-white bg-black rounded opacity-0 group-hover:opacity-100 transition-opacity duration-200 whitespace-nowrap"
          >
            เอกสารดาว์โหลด
          </span>
        </a>

        <div class="relative group">
          <button
            (click)="toggleMobileSubMenu('report', $event)"
            class="flex justify-center p-2 hover:bg-yellow-300 rounded relative"
          >
            <i class="bi bi-graph-up text-xl"></i
            ><span
              class="hidden md:block absolute bottom-full mb-1 left-1/2 transform -translate-x-1/2 px-2 py-1 text-xs text-white bg-black rounded opacity-0 group-hover:opacity-100 transition-opacity"
            >
              สถิติ/รายงาน
            </span>
          </button>

          <div
            *ngIf="openMobileSubMenu === 'report'"
            class="absolute top-full left-1/2 -translate-x-[70%] mt-2 w-85 max-w-[90vw] bg-gray-700 text-white rounded-md shadow-lg z-50"
          >
            <a
              (click)="closeAllMobileMenus()"
              routerLink="/report-researcher-profile"
              class="block px-4 py-2 hover:bg-gray-600 text-lg"
              >รายงานข้อมูลประวัตินักวิจัย</a
            >
            <a
              (click)="closeAllMobileMenus()"
              routerLink="/report-research"
              class="block px-4 py-2 hover:bg-gray-600 text-lg"
              >รายงานข้อมูลผลงานวิจัย</a
            >
            <a
              (click)="closeAllMobileMenus()"
              routerLink="/report-expertise"
              class="block px-4 py-2 hover:bg-gray-600 text-lg"
              >รายงานข้อมูลจำนวนนักวิจัยแยกตามสาขาเชี่ยวชาญ</a
            >
            <a
              (click)="closeAllMobileMenus()"
              routerLink="/report-institution"
              class="block px-4 py-2 hover:bg-gray-600 text-lg"
              >รายงานข้อมูลจำนวนนักวิจัยแยกตามหน่วยงานที่สังกัด</a
            >
            <a
              (click)="closeAllMobileMenus()"
              routerLink="/report-researcher"
              class="block px-4 py-2 hover:bg-gray-600 text-lg"
              >รายงานข้อมูลจำนวนนักวิจัยแยกตามประเภทนักวิจัย</a
            >
          </div>
        </div>

        <div class="relative group">
          <button
            (click)="goToManual(); closeAllMobileMenus()"
            class="flex justify-center p-2 hover:bg-yellow-300 rounded relqtive"
          >
            <i class="bi bi-file-earmark-text text-xl"></i>
            <span
              class="hidden md:block absolute bottom-full mb-1 left-1/2 transform -translate-x-1/2 px-2 py-1 text-xs text-white bg-black rounded opacity-0 group-hover:opacity-100 transition-opacity"
            >
              คู่มือการใช้งาน
            </span>
          </button>
        </div>

        <a
          routerLink="/login"
          (click)="closeMobileMenu()"
          class="flex justify-center p-2 hover:bg-yellow-300 rounded ml-auto text-blue-600 hover:text-blue-500 relative group"
        >
          <i class="bi bi-box-arrow-in-right text-xl"></i>
          <span
            class="absolute bottom-full mb-1 right-3 px-2 py-1 text-2xs text-white bg-black rounded opacity-0 group-hover:opacity-100 transition-opacity duration-200 whitespace-nowrap"
          >
            เข้าสู่ระบบ
          </span>
        </a>
      </div>
    </div>
  </nav>
</ng-container>

<!-- Navbar User -->
<ng-container *ngIf="isLoggedIn && role === 'user'">
  <nav class="text-[#394250] font-th font-bold bg-gray-100 sticky top-0 z-50">
    <div
      class="max-w-full mx-auto px-4 sm:px-6 lg:px-8 cursor-pointer p-1 bg-white"
    >
      <div class="flex items-center justify-between h-16">
        <div class="flex items-center gap-3">
          <img
            src="assets/logoNPU.png"
            alt="NPU Logo"
            class="h-13 w-13 object-contain"
          />
          <div class="leading-none sm:block">
            <h1
              routerLink="/user/dashboard"
              class="text-xl sm:text-2xl leading-none md:text-3xl transition-all duration-300"
            >
              <span class="block sm:inline">ระบบฐานข้อมูลวิจัย</span>
              <span class="block sm:inline">มหาวิทยาลัยนครพนม</span>
            </h1>
            <p class="text-lg sm:text-xl leading-none italic text-gray-400">
              Research Database System
            </p>
          </div>
        </div>

        <div class="flex items-center gap-3">
          <!-- โปรไฟล์ -->
          <a
            routerLink="/user/profile"
            class="hover:bg-gray-50 px-3 py-2 rounded-md flex items-center justify-center"
          >
            <i class="bi bi-person text-xl"></i>
            <span class="ml-1 hidden lg:inline text-xl">
              นายทดสอบ เริ่มเลย
            </span>
          </a>

          <!-- ออกจากระบบ -->
          <a
            (click)="logout()"
            class="hidden hover:bg-gray-50 px-3 py-2 rounded-md md:flex items-center justify-center hover:text-red-400"
          >
            <i class="bi bi-box-arrow-left text-xl"></i>
            <span class="ml-1 hidden lg:inline text-xl"> ออกจากระบบ </span>
          </a>
        </div>

        <div class="md:hidden">
          <button
            (click)="toggleMobileMenu($event)"
            class="p-2 rounded hover:bg-gray-300"
          >
            <i
              class="bi"
              [ngClass]="
                isMobileMenuOpen ? 'bi-x-lg text-xl' : 'bi-list text-2xl'
              "
            ></i>
          </button>
        </div>
      </div>
    </div>

    <div
      class="flex justify-between items-center flex-wrap bg-[#FACC15] rounded-b-[2vw] shadow-lg/30 px-2"
    >
      <div class="hidden md:flex m-2 ml-10 gap-2">
        <div class="ml-5 flex flex-wrap items-baseline space-x-1">
          <a
            routerLink="/user/dashboard"
            class="hover:bg-gray-50 px-3 py-2 rounded-md text-sm font-medium flex items-center justify-center gap-1"
          >
            <i class="bi bi-house text-lg"></i>
            <span class="hidden md:inline font-bold text-xl">หน้าหลัก</span>
          </a>

          <a
            routerLink="/user/profile"
            class="hover:bg-gray-50 px-3 py-2 rounded-md text-sm font-medium flex items-center justify-center gap-1"
          >
            <i class="bi bi-person text-lg"></i>
            <span class="hidden md:inline font-bold text-xl">โปรไฟล์</span>
          </a>

          <div
            class="relative"
            (click)="$event.stopPropagation()"
            (mouseenter)="onMouseEnter('save')"
            (mouseleave)="onMouseLeave('save')"
          >
            <button
              (click)="onToggle('save', $event)"
              class="hover:bg-gray-50 px-3 py-2 rounded-md text-sm font-medium flex items-center justify-center gap-1"
            >
              <i class="bi bi-floppy text-lg"></i>
              <span class="hidden md:inline font-bold text-xl"
                >บันทึกผลงาน</span
              >
            </button>

            <div
              *ngIf="openMenu === 'save'"
              class="absolute left-0 mt-2 bg-gray-700 text-white rounded-md shadow-lg w-max max-w-[90vw] z-50"
            >
              <a
              (click)="closeMenu()"
                routerLink="/user/add-research"
                class="block px-4 py-2 hover:bg-gray-600 font-bold text-xl"
              >
                โครงการงานวิจัย
              </a>
              <a
              (click)="closeMenu()"
                routerLink="/user/add-aticle"
                class="block px-4 py-2 hover:bg-gray-600 font-bold text-xl"
              >
                บทความ/วารสาร
              </a>
              <a
              (click)="closeMenu()"
                routerLink="/user/add-innovation"
                class="block px-4 py-2 hover:bg-gray-600 font-bold text-xl"
              >
                นวัตกรรมสิ่งประดิษฐ์
              </a>
            </div>
          </div>

          <a
            routerLink="/user/research"
            class="hover:bg-gray-50 px-3 py-2 rounded-md text-sm font-medium flex items-center justify-center gap-1"
          >
            <i class="bi bi-search text-lg"></i>
            <span class="hidden md:inline font-bold text-xl"
              >ค้นหางานวิจัย</span
            >
          </a>

          <a
            routerLink="/user/researchers"
            class="hover:bg-gray-50 px-3 py-2 rounded-md text-sm font-medium flex items-center justify-center gap-1"
          >
            <i class="bi bi-people text-lg"></i>
            <span class="hidden md:inline font-bold text-xl"
              >ค้นหาข้อมูลนักวิจัย</span
            >
          </a>
        </div>
      </div>

      <!-- ======== Menu Mobile ======== -->
      <div
        *ngIf="isMobileMenuOpen"
        (click)="$event.stopPropagation()"
        class="md:hidden bg-yellow-400 px-2 py-4 space-x-4 flex w-full items-center"
      >
        <a
          routerLink="/user/dashboard"
          (click)="closeAllMobileMenus()"
          class="flex justify-center p-2 hover:bg-yellow-300 rounded relative group"
        >
          <i class="bi bi-house text-xl"></i>

          <span
            class="absolute bottom-full mb-1 left-1/2 transform -translate-x-1/2 px-2 py-1 text-2xs text-white bg-black rounded opacity-0 group-hover:opacity-100 transition-opacity duration-200 whitespace-nowrap"
          >
            หน้าหลัก
          </span>
        </a>

        <a
          routerLink="/user/profile"
          (click)="closeAllMobileMenus()"
          class="flex justify-center p-2 hover:bg-yellow-300 rounded relative group"
        >
          <i class="bi bi-person text-xl"></i>
          <span
            class="absolute bottom-full mb-1 left-1/2 transform -translate-x-1/2 px-2 py-1 text-2xs text-white bg-black rounded opacity-0 group-hover:opacity-100 transition-opacity duration-200 whitespace-nowrap"
          >
            โปรไฟล์
          </span>
        </a>

        <!-- ======== บันทึกข้อมูลงานวิจัย บทความ นวัตกรรม ======== -->
        <div class="relative group">
          <button
          (click)="toggleMobileSubMenu('save', $event)"
            class="flex justify-center p-2 hover:bg-yellow-300 rounded relative"
          >
            <i class="bi bi-floppy text-xl"></i>
            <span
              class="hidden mb:block absolute bottom-full mb-1 left-1/2 transform -translate-x-1/2 px-2 py-1 text-xs text-white bg-[#394250] rounded opacity-0 group-hover:opacity-100 transition-opacity"
            >
              บันทึกข้อมูลผลงาน
            </span>
          </button>

          <div
          *ngIf="openMobileSubMenu === 'save'"
            class="absolute top-full left-1/2 mt-2 -translate-x-[65%] w-40 max-w-[90vw] bg-gray-700 text-white rounded-md shadow-lg z-50"
          >
            <a
            (click)="closeAllMobileMenus()"
              routerLink="/user/add-research"
              class="block px-4 py-2 hover:bg-gray-600 text-lg"
              >โครงการงานวิจัย</a
            >
            <a
              (click)="closeAllMobileMenus()"
              routerLink="/user/add-aticle"
              class="block px-4 py-2 hover:bg-gray-600 text-lg"
              >บทความ/วารสาร</a
            >
            <a
              (click)="closeAllMobileMenus()"
              routerLink="/user/add-innovation"
              class="block px-4 py-2 hover:bg-gray-600 text-lg"
              >นวัตกรรมสิ่งประดิษฐ์</a
            >
          </div>
        </div>

        <a
          routerLink="/user/research"
          (click)="closeAllMobileMenus()"
          class="flex justify-center p-2 hover:bg-yellow-300 rounded relative group"
        >
          <i class="bi bi-search text-xl"></i>
          <span
            class="absolute bottom-full mb-1 left-1/2 transform -translate-x-1/2 px-2 py-1 text-2xs text-white bg-black rounded opacity-0 group-hover:opacity-100 transition-opacity duration-200 whitespace-nowrap"
          >
            ค้นหางานวิจัย
          </span>
        </a>

        <a
          routerLink="/user/researchers"
          (click)="closeAllMobileMenus()"
          class="flex justify-center p-2 hover:bg-yellow-300 rounded relative group"
        >
          <i class="bi bi-people text-xl"></i>
          <span
            class="absolute bottom-full mb-1 left-1/2 transform -translate-x-1/2 px-2 py-1 text-2xs text-white bg-black rounded opacity-0 group-hover:opacity-100 transition-opacity duration-200 whitespace-nowrap"
          >
            ค้นหาข้อมูลนักวิจัย
          </span>
        </a>

        <a
          (click)="logout()"
          (click)="closeAllMobileMenus()"
          class="flex justify-center p-2 hover:bg-yellow-300 rounded ml-auto text-red-600 hover:text-red-500 relative group"
        >
          <i class="bi bi-box-arrow-right text-xl"></i>
          <span
            class="absolute bottom-full mb-1 right-3 px-2 py-1 text-2xs text-white bg-black rounded opacity-0 group-hover:opacity-100 transition-opacity duration-200 whitespace-nowrap"
          >
            ออกจากระบบ
          </span>
        </a>
      </div>
    </div>
  </nav>
</ng-container>

<!-- ===== Navbar Admin ====== -->
<ng-container *ngIf="isLoggedIn && role === 'admin'">
  <nav class="text-[#394250] font-bold bg-gray-100 sticky top-0 z-50">
    <div
      class="max-w-full mx-auto px-4 sm:px-6 lg:px-8 cursor-pointer p-1 bg-white"
    >
      <div class="flex items-center justify-between h-16">
        <div class="flex items-center gap-3">
          <img
            src="assets/logoNPU.png"
            alt="npu-logo"
            class="h-13 w-13 object-contain"
          />
          <div class="leading-none sm:block">
            <h1
              routerLink="/admin/dashboard"
              class="text-xl sm:text-2xl md:text-3xl leading-none font-semibold transition-all duration-300"
            >
              <span class="block sm:inline">ระบบฐานข้อมูลวิจัย</span>
              <span class="block sm:inline">มหาวิทยาลัยนครพนม</span>
            </h1>
            <p class="text-lg sm:text-xl leading-none italic text-gray-400">
              Research Database System
            </p>
          </div>
        </div>

        <div class="flex items-center gap-3">
          <a
            routerLink="/admin/profile"
            class="hover:bg-gray-50 px-3 py-2 rounded-md flex items-center justify-center"
          >
            <i class="bi bi-person text-lg"></i>
            <span class="ml-1 hidden lg:inline text-xl">นายAdmin เริ่มเลย</span>
          </a>

          <a
            (click)="logout()"
            class="hidden hover:bg-gray-50 px-3 py-2 rounded-md md:flex items-center justify-center hover:text-red-400"
          >
            <i class="bi bi-box-arrow-left text-lg"></i>
            <span class="ml-1 hidden lg:inline text-xl">ออกจากระบบ</span>
          </a>
        </div>

        <div class="md:hidden">
          <button
            (click)="toggleMobileMenu($event)"
            class="p-2 rounded hover:bg-gray-300"
          >
            <i
              class="bi"
              [ngClass]="
                isMobileMenuOpen ? 'bi-x-lg text-xl' : 'bi-list text-2xl'
              "
            ></i>
          </button>
        </div>
      </div>
    </div>

    <div
      class="flex justify-between items-center flex-wrap bg-[#FACC15] rounded-b-[2vw] shadow-lg/30 px-2"
    >
      <div class="hidden md:flex m-2 ml-10 gap-2">
        <div class="ml-5 flex flex-wrap items-baseline space-x-1">
          <a
            routerLink="/admin/dashboard"
            class="hover:bg-gray-50 px-3 py-2 rounded-md text-sm font-medium flex items-center justify-center gap-1"
          >
            <i class="bi bi-house text-lg"></i>
            <span class="hidden md:inline font-bold text-xl">หน้าหลัก</span>
          </a>

          <a
            routerLink="/admin/profile"
            class="hover:bg-gray-50 px-3 py-2 rounded-md text-sm font-medium flex items-center justify-center gap-1"
          >
            <i class="bi bi-person text-lg"></i>
            <span class="hidden md:inline font-bold text-xl">โปรไฟล์</span>
          </a>

          <div
            class="relative"
            (click)="$event.stopPropagation()"
            (mouseenter)="onMouseEnter('funding')"
            (mouseleave)="onMouseLeave('funding')"
          >
            <button
              (click)="onToggle('funding', $event)"
              class="hover:bg-gray-50 px-3 py-2 rounded-md text-sm font-medium flex items-center justify-center gap-1"
            >
              <i class="bi bi-floppy text-lg"></i>
              <span class="hidden md:inline font-bold text-xl"
                >ข้อมูลพื้นฐาน</span
              >
            </button>

            <div
              *ngIf="openMenu === 'funding'"
              class="absolute left-0 mt-2 bg-gray-700 text-white rounded-md shadow-lg w-max max-w-[90vw] z-50 pointer-events-auto"
            >
              <a
              (click)="closeMenu()"
                routerLink="/admin/external-funding"
                class="block px-4 py-2 hover:bg-gray-600 font-bold text-xl"
              >
                แหล่งทุนภายนอก
              </a>
              <a
              (click)="closeMenu()"
                routerLink="/admin/specialization"
                class="block px-4 py-2 hover:bg-gray-600 font-bold text-xl"
              >
                สาขาวิชาที่เชี่ยวชาญ
              </a>
            </div>
          </div>

          <div
            class="relative"
            (click)="$event.stopPropagation()"
            (mouseenter)="onMouseEnter('news')"
            (mouseleave)="onMouseLeave('news')"
          >
            <button
              (click)="onToggle('news', $event)"
              class="hover:bg-gray-50 px-3 py-2 rounded-md text-sm font-medium flex items-center justify-center gap-1"
            >
              <i class="bi bi-floppy text-lg"></i>
              <span class="hidden md:inline font-bold text-xl"
                >จัดการข่าว/ประกาศ</span
              >
            </button>

            <div
              *ngIf="openMenu === 'news'"
              class="absolute left-0 mt-2 bg-gray-700 text-white rounded-md shadow-lg w-max max-w-[90vw] z-50 pointer-events-auto"
            >
              <a
              (click)="closeMenu()"
                routerLink="/admin/news"
                class="block px-4 py-2 hover:bg-gray-600 font-bold text-xl"
              >
                ข่าวประชาสัมพันธ์
              </a>
              <a
              (click)="closeMenu()"
                routerLink="/admin/download"
                class="block px-4 py-2 hover:bg-gray-600 font-bold text-xl"
              >
                เอกสารดาว์โหลด
              </a>
            </div>
          </div>

          <div
            class="relative"
            (click)="$event.stopPropagation()"
            (mouseenter)="onMouseEnter('save')"
            (mouseleave)="onMouseLeave('save')"
          >
            <button
              (click)="onToggle('save', $event)"
              class="hover:bg-gray-50 px-3 py-2 rounded-md text-sm font-medium flex items-center justify-center gap-1"
            >
              <i class="bi bi-floppy text-lg"></i>
              <span class="hidden md:inline font-bold text-xl"
                >บันทึกผลงาน</span
              >
            </button>

            <div
              *ngIf="openMenu === 'save'"
              class="absolute left-0 mt-2 bg-gray-700 text-white rounded-md shadow-lg w-max max-w-[90vw] z-50 pointer-events-auto"
            >
              <a
              (click)="closeMenu()"
                routerLink="/admin/add-research"
                class="block px-4 py-2 hover:bg-gray-600 font-bold text-xl"
              >
                โครงการงานวิจัย
              </a>
              <a
              (click)="closeMenu()"
                routerLink="/admin/add-aticle"
                class="block px-4 py-2 hover:bg-gray-600 font-bold text-xl"
              >
                บทความ/วารสาร
              </a>
              <a
              (click)="closeMenu()"
                routerLink="/admin/add-innovation"
                class="block px-4 py-2 hover:bg-gray-600 font-bold text-xl"
              >
                นวัตกรรมสิ่งประดิษฐ์
              </a>
            </div>
          </div>

          <a
            routerLink="/admin/search-paper"
            class="hover:bg-gray-50 px-3 py-2 rounded-md text-sm font-medium flex items-center justify-center gap-1"
          >
            <i class="bi bi-search text-lg"></i>
            <span class="hidden md:inline font-bold text-xl"
              >ค้นหางานวิจัย</span
            >
          </a>

          <a
            routerLink="/admin/search-research"
            class="hover:bg-gray-50 px-3 py-2 rounded-md text-sm font-medium flex items-center justify-center gap-1"
          >
            <i class="bi bi-people text-lg"></i>
            <span class="hidden md:inline font-bold text-xl"
              >ค้นหาข้อมูลนักวิจัย</span
            >
          </a>
          <a
            routerLink="/admin/report"
            class="hover:bg-gray-50 px-3 py-2 rounded-md text-sm font-medium flex items-center justify-center gap-1"
          >
            <i class="bi bi-file-earmark-text text-lg"></i>
            <span class="hidden md:inline font-bold text-xl">รายงาน</span>
          </a>
        </div>
      </div>

      <!-- ======== Menu Mobile ======== -->
      <div
        *ngIf="isMobileMenuOpen"
        (click)="$event.stopPropagation()"
        class="md:hidden bg-yellow-400 px-2 py-4 space-x-4 grid grid-cols-9 gap-1 w-full"
      >
        <a
          routerLink="/admin/dashboard"
          (click)="closeAllMobileMenus()"
          class="flex justify-center p-2 hover:bg-yellow-300 rounded relative group"
        >
          <i class="bi bi-house text-xl"></i>
          <span
            class="absolute bottom-full mb-1 left-1/2 transform -translate-x-1/2 px-2 py-1 text-2xs text-white bg-black rounded opacity-0 group-hover:opacity-100 transition-opacity duration-200 whitespace-nowrap"
          >
            หน้าหลัก
          </span>
        </a>

        <a
          routerLink="/admin/profile"
          (click)="closeAllMobileMenus()"
          class="flex justify-center p-2 hover:bg-yellow-300 rounded relative group"
        >
          <i class="bi bi-person text-xl"></i>
          <span
            class="absolute bottom-full mb-1 left-1/2 transform -translate-x-1/2 px-2 py-1 text-2xs text-white bg-black rounded opacity-0 group-hover:opacity-100 transition-opacity duration-200 whitespace-nowrap"
          >
            โปรไฟล์
          </span>
        </a>

        <div class="relative group">
          <button
            (click)="toggleMobileSubMenu('funding', $event)"
            class="flex justify-center p-2 hover:bg-yellow-300 rounded relative"
          >
            <i class="bi bi-gear text-xl"></i>
            <span
              class="hidden md:block absolute bottom-full mb-1 left-1/2 transform -translate-x-1/2 px-2 py-1 text-xs text-white bg-black rounded opacity-0 group-hover:opacity-100 transition-opacity"
            >
              ข้อมูลพื้นฐาน
            </span>
          </button>

          <div
            *ngIf="openMobileSubMenu === 'funding'"
            class="absolute left-1/2 top-full mt-2 bg-gray-700 text-white rounded-md shadow-lg z-50 -translate-x-[50%] w-40 max-w-[90vw]"
          >
            <a
              (click)="closeAllMobileMenus()"
              routerLink="/admin/external-funding"
              class="block px-4 py-2 hover:bg-gray-600 text-lg"
              >แหล่งทุนภายนอก</a
            >
            <a
              (click)="closeAllMobileMenus()"
              routerLink="/admin/specialization"
              class="block px-4 py-2 hover:bg-gray-600 text-lg"
              >สาขาวิชาที่เชี่ยวชาญ</a
            >
          </div>
        </div>

        <div class="relative group">
          <button
            (click)="toggleMobileSubMenu('news', $event)"
            class="flex justify-center p-2 hover:bg-yellow-300 rounded relative"
          >
            <i class="bi bi-newspaper text-xl"></i>
            <span
              class="hidden md:block absolute bottom-full mb-1 left-1/2 transform -translate-x-1/2 px-2 py-1 text-xs text-white bg-black rounded opacity-0 group-hover:opacity-100 transition-opacity"
            >
              จัดการข่าว/ประกาศ
            </span>
          </button>

          <div
            *ngIf="openMobileSubMenu === 'news'"
            class="absolute top-full left-1/2 -translate-x-[65%] w-40 max-w-[90vw] mt-2 bg-gray-700 text-white rounded-md shadow-lg z-50"
          >
            <a
              (click)="closeAllMobileMenus()"
              routerLink="/admin/news"
              class="block px-4 py-2 hover:bg-gray-600 text-lg"
              >ข่าวประชาสัมพันธ์</a
            >
            <a
              (click)="closeAllMobileMenus()"
              routerLink="/admin/download"
              class="block px-4 py-2 hover:bg-gray-600 text-lg"
              >เอกสารดาวน์โหลด</a
            >
          </div>
        </div>

        <div class="relative group">
          <button
            (click)="toggleMobileSubMenu('save', $event)"
            class="flex justify-center p-2 hover:bg-yellow-300 rounded relative"
          >
            <i class="bi bi-floppy text-xl"></i>
            <span
              class="hidden md:block absolute bottom-full mb-1 left-1/2 transform -translate-x-1/2 px-2 py-1 text-xs text-white bg-black rounded opacity-0 group-hover:opacity-100 transition-opacity"
            >
              บันทึกข้อมูลผลงาน
            </span>
          </button>

          <div
            *ngIf="openMobileSubMenu === 'save'"
            class="absolute top-full left-1/2 mt-2 -translate-x-[65%] w-40 max-w-[90vw] bg-gray-700 text-white rounded-md shadow-lgz-50"
          >
            <a
              (click)="closeAllMobileMenus()"
              routerLink="/admin/add-research"
              class="block px-4 py-2 hover:bg-gray-600 text-lg"
              >โครงการงานวิจัย</a
            >
            <a
              (click)="closeAllMobileMenus()"
              routerLink="/admin/add-aticle"
              class="block px-4 py-2 hover:bg-gray-600 text-lg"
              >บทความ/วารสาร</a
            >
            <a
              (click)="closeAllMobileMenus()"
              routerLink="/admin/add-innovation"
              class="block px-4 py-2 hover:bg-gray-600 text-lg"
              >นวัตกรรมสิ่งประดิษฐ์</a
            >
          </div>
        </div>

        <a
          routerLink="/admin/search-paper"
          (click)="closeAllMobileMenus()"
          class="flex justify-center p-2 hover:bg-yellow-300 rounded relative group"
        >
          <i class="bi bi-search text-xl"></i>
          <span
            class="absolute bottom-full mb-1 left-1/2 transform -translate-x-1/2 px-2 py-1 text-2xs text-white bg-black rounded opacity-0 group-hover:opacity-100 transition-opacity duration-200 whitespace-nowrap"
          >
            ค้นหางานวิจัย
          </span>
        </a>

        <a
          routerLink="/admin/search-research"
          (click)="closeAllMobileMenus()"
          class="flex justify-center p-2 hover:bg-yellow-300 rounded relative group"
        >
          <i class="bi bi-people text-xl"></i>
          <span
            class="absolute bottom-full mb-1 left-1/2 transform -translate-x-1/2 px-2 py-1 text-2xs text-white bg-black rounded opacity-0 group-hover:opacity-100 transition-opacity duration-200 whitespace-nowrap"
          >
            ค้นหาข้อมูลนักวิจัย
          </span>
        </a>

        <a
          routerLink="/admin/report"
          (click)="closeAllMobileMenus()"
          class="flex justify-center p-2 hover:bg-yellow-300 rounded relative group"
        >
          <i class="bi bi-file-earmark-text text-xl"></i>
          <span
            class="absolute bottom-full mb-1 left-1/2 transform -translate-x-1/2 px-2 py-1 text-2xs text-white bg-black rounded opacity-0 group-hover:opacity-100 transition-opacity duration-200 whitespace-nowrap"
          >
            รายงาน
          </span>
        </a>

        <a
          (click)="onLogout()"
          class="flex justify-center p-2 hover:bg-yellow-300 rounded ml-auto text-red-600 hover:text-red-500 relative group"
        >
          <i class="bi bi-box-arrow-right text-xl"></i>
          <span
            class="absolute bottom-full mb-1 right-3 px-2 py-1 text-2xs text-white bg-black rounded opacity-0 group-hover:opacity-100 transition-opacity duration-200 whitespace-nowrap"
          >
            ออกจากระบบ
          </span>
        </a>
      </div>
    </div>
  </nav>
</ng-container>
