<div
  class="contain-content bg-gray-100 p-5 md:px-10 text-2xl font-medium text-[#394250]"
>
  <div class="mx-auto md:p-6 mb-1">
    <h1 class="text-3xl">การจัดการผู้ใช้งานแอดมิน</h1>
  </div>

  <div class="mx-auto p-2 mb:p-6 md:mb-10 bg-white rounded-xl">
    <div class="flex justify-between items-center mb-4 mt-2">
      <button
            (click)="openAddModal()"
            class="flex items-center gap-2 bg-[#118CD9] hover:bg-[#16498C] text-white px-4 py-2 rounded-md text-lg cursor-pointer"
          >
            <i class="bi bi-plus-circle"></i> เพิ่มแอดมิน
          </button>

      <div class="flex items-center">
        <label class="text-xl mr-2">Search:</label>
        <input
          type="text"
          [(ngModel)]="searchText"
          (input)="onSearch()"
          placeholder="ค้นหา"
          class="border rounded px-2 py-1 ml-auto text-lg font-light"
        />
      </div>
    </div>

    <div class="w-full overflow-x-auto mt-4 font-light text-lg">
      <table class="w-full min-w-225 table-fixed">
        <colgroup>
          <col class="w-[5%]" />
          <col class="w-[50%]" />
          <col class="w-[30%]" />
          <col class="w-[15%]" />
        </colgroup>

        <thead class="bg-[#394250] text-white border-b">
          <tr>
            <th class="p-2">#</th>
            <th class="p-2 text-start">ชื่อ - นามสกุล</th>
            <th class="p-2">บทบาท</th>
            <th class="p-2">Action</th>
          </tr>
        </thead>

        <tbody>
          <tr
            *ngFor="let user of paginatedAdmins; let i = index"
            class="border-b border-gray-300 bg-gray-200 hover:bg-gray-50 transition"
          >
            <td class="text-center p-2">
              {{ (currentPage - 1) * pageSize + i + 1 }}
            </td>
            <td class="p-2">{{ user.first_name + ' ' + user.last_name }}</td>
            <td class="text-center p-2">
              {{  user.role }}
            </td>
            <td class="text-center p-2">
              <div class="flex justify-center items-center gap-2 flex-wrap">
                <button
                  class="inline-flex items-center justify-center w-9 h-9 rounded-full bg-blue-50 hover:bg-blue-100 text-blue-600 transition cursor-pointer text-xl"
                  title="แก้ไข"
                  (click)="openEditModal(user)"
                >
                  <i class="bi bi-pencil-square"></i>
                </button>

                <button
                  class="inline-flex items-center justify-center w-9 h-9 rounded-full bg-red-50 hover:bg-red-100 text-red-600 transition cursor-pointer text-xl"
                  title="ลบ"
                  (click)="deleteAdmin(user.id)"
                >
                  <i class="bi bi-trash3"></i>
                </button>
              </div>
            </td>
          </tr>

          <tr *ngIf="paginatedAdmins.length === 0">
            <td colspan="5" class="text-center text-gray-500 p-4">
              <i class="bi bi-folder-x text-3xl block mb-2"></i>
              ไม่พบข้อมูล
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="flex justify-end mt-3 space-x-1 font-light text-sm">
      <button
        (click)="changePage(currentPage - 1)"
        [disabled]="currentPage === 1"
        class="px-3 py-1 rounded border text-sm disabled:opacity-40 hover:bg-gray-100 cursor-pointer"
      >
        ‹
      </button>

      <button
        *ngFor="let page of pages"
        (click)="changePage(page)"
        class="px-3 py-1 rounded border text-sm transition cursor-pointer"
        [ngClass]="{
          'bg-[#118CD9] text-white border-[#118CD9]': currentPage === page,
          'hover:bg-gray-100': currentPage !== page
        }"
      >
        {{ page }}
      </button>

      <button
        (click)="changePage(currentPage + 1)"
        [disabled]="currentPage === totalPages"
        class="px-3 py-1 rounded border text-sm disabled:opacity-40 hover:bg-gray-100 cursor-pointer"
      >
        ›
      </button>
    </div>
  </div>
</div>

<!-- Modal Edit Password -->
<div
  *ngIf="showModal"
  class="fixed inset-0 z-50 text-2xl flex items-center justify-center bg-black/50 px-4 text-[#394250] font-medium"
  (click)="closeModal()"
>
  <div
    class="bg-white rounded-xl w-full max-w-lg p-2 md:p-6 max-h-[90vh] h-140 overflow-y-auto"
    (click)="$event.stopPropagation()"
  >
    <!-- Title -->
    <h2 class="mb-2 md:mb-4 text-center text-3xl md:text-left">
        เพิ่มแอดมิน
    </h2>

    <!-- ชื่อ -->
    <div class="mb-2 md:mb-4">
      <label class="block mb-1">ชื่อ</label>
      <input
        type="text"
        [(ngModel)]="adminsData!.first_name"
        class="w-full border rounded-md px-3 py-2 focus:ring focus:ring-blue-200 text-xl font-light"
        placeholder="กรอกชื่อ"
      />
    </div>

    <!-- นามสกุล -->
    <div class="mb-2 md:mb-4">
      <label class="block mb-1">นามสกุล</label>
      <input
        type="text"
        [(ngModel)]="adminsData!.last_name"
        class="w-full border rounded-md px-3 py-2 focus:ring focus:ring-blue-200 text-xl font-light"
        placeholder="กรอกนามสกุล"
      />
    </div>

    <!-- อีเมล -->
    <div class="mb-2 md:mb-4">
      <label class="block mb-1">อีเมล</label>
      <input
        type="text"
        [(ngModel)]="adminsData!.email"
        class="w-full border rounded-md px-3 py-2 focus:ring focus:ring-blue-200 text-xl font-light"
        placeholder="กรอกอีเมล"
      />
    </div>

    <!-- รหัสผ่าน -->
    <div class="mb-2 md:mb-4">
      <label class="block mb-1">รหัสผ่าน</label>
      <input
        type="text"
        [(ngModel)]="adminsData!.password"
        class="w-full border rounded-md px-3 py-2 focus:ring focus:ring-blue-200 text-xl font-light"
        placeholder="กรอกรหัสผ่าน"
      />
    </div>

    <!-- Buttons -->
    <div class="flex flex-col sm:flex-row justify-center gap-2 font-medium text-xl">
      <button
        (click)="saveExpertise()"
        class="w-full sm:w-auto px-4 py-2 rounded-md bg-[#118CD9] hover:bg-[#16498C] text-white cursor-pointer"
      >
        บันทึก
      </button>
      <button
        (click)="closeModal()"
        class="w-full sm:w-auto px-4 py-2 rounded-md border hover:bg-gray-100 cursor-pointer"
      >
        ยกเลิก
      </button>
    </div>
  </div>
</div>

<div
  *ngIf="showModalEdit"
  class="fixed inset-0 z-50 font-medium text-2xl flex items-center justify-center bg-black/50 px-4 text-[#394250]"
  (click)="closeModal()"
>
  <div
    class="bg-white rounded-xl w-full max-w-lg p-2 md:p-6 max-h-[90vh] h-130 overflow-y-auto"
    (click)="$event.stopPropagation()"
  >
    <!-- Title -->
    <h2 class="mb-2 md:mb-4 text-center text-3xl md:text-left">
      แก้ไขข้อมูลแอดมิน
    </h2>

    <!-- ชื่อ -->
    <div class="mb-2 md:mb-4">
      <label class="block mb-1">ชื่อ</label>
      <input
        type="text"
        [(ngModel)]="updateAdmin!.first_name"
        class="w-full border rounded-md px-3 py-2 focus:ring focus:ring-blue-200 text-xl font-light"
        placeholder="กรอกชื่อ"
      />
    </div>

    <!-- นามสกุล -->
    <div class="mb-2 md:mb-4">
      <label class="block mb-1">นามสกุล</label>
      <input
        type="text"
        [(ngModel)]="updateAdmin!.last_name"
        class="w-full border rounded-md px-3 py-2 focus:ring focus:ring-blue-200 text-xl font-light"
        placeholder="กรอกนามสกุล"
      />
    </div>

    <!-- อีเมล -->
    <div class="mb-2 md:mb-4">
      <label class="block mb-1">อีเมล</label>
      <input
        type="text"
        [(ngModel)]="updateAdmin!.email"
        class="w-full border rounded-md px-3 py-2 focus:ring focus:ring-blue-200 text-xl font-light"
        placeholder="กรอกอีเมล"
      />
    </div>
<!-- PASSWORD -->
    <div class="mb-2 md:mb-4">
      <label class="block mb-1">รหัสผ่านใหม่</label>
      <input
        type="text"
        [(ngModel)]="updateAdmin!.password"
        class="w-full border rounded-md px-3 py-2 focus:ring focus:ring-blue-200 text-xl font-light"
        placeholder="กรอกรหัสผ่านใหม่"
      />
    </div>

    <!-- Buttons -->
    <div class="flex flex-col sm:flex-row justify-center gap-2 font-medium text-xl">
      <button
        (click)="updateExpertise()"
        class="w-full sm:w-auto px-4 py-2 rounded-md bg-[#118CD9] hover:bg-[#16498C] text-white cursor-pointer"
      >
        อัปเดต
      </button>
      <button
        (click)="closeModal()"
        class="w-full sm:w-auto px-4 py-2 rounded-md border hover:bg-gray-100 cursor-pointer"
      >
        ยกเลิก
      </button>
    </div>
  </div>
</div>
