:host ::ng-deep article img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

:host ::ng-deep article a {
  color: #2563eb;
  text-decoration: underline;
}
.prose p {
  display: inline;
}

.prose br {
  display: block;
}