<div class="bg-gray-100 py-2 md:py-10 p-5 md:px-10 text-[#394250]">
  <div class="mx-auto">
    <!-- Breadcrumb -->
    <nav class="text-xl text-gray-500 mb-2 md:mb-6">
      <a class="hover:underline">หน้าหลัก</a>
      <span class="mx-1">/</span>
      <a class="hover:underline">ข่าวประชาสัมพันธ์</a>
      <span class="mx-1">/</span>
      <span class="text-gray-700">รายละเอียดข่าว</span>
    </nav>

    <div class="bg-white rounded-2xl shadow p-2 md:p-10">
      <!-- Header -->
      <div class="mb-6">
        <span
          class="inline-block text-[#F9CB34] font-extrabold text-lg md:text-2xl mb-2"
        >
          ข่าวประชาสัมพันธ์
        </span>

        <h1 class="text-xl md:text-3xl font-extrabold leading-snug mb-4">
          {{ newsDetail?.title }}
        </h1>

        <!-- Meta -->
        <div class="flex flex-wrap items-center md:gap-6 text-xl text-gray-600">
          <span class="flex items-center">
            <i class="bi bi-calendar mr-2"></i>
            ประกาศเมื่อ:
            {{
              newsDetail?.published_date | date : "dd MMMM YYYY" : "" : "th-TH"
            }}
          </span>

          <span class="flex items-center">
            <i class="bi bi-calendar mr-2"></i>
            สิ้นสุด:
            {{ newsDetail?.expires_date | date : "dd MMMM YYYY" : "" : "th-TH" }}
          </span>
        </div>
      </div>

      <!-- Cover Image -->
      <img
        [src]="newsDetail?.news_cover"
        alt="new-detail"
        class="w-full rounded-xl mb-8"
      />

      <!-- Content -->
      <article
        class="prose max-w-none prose-ul:list-disc prose-li:my-1 text-2xl"
      >
        <p>
          {{ newsDetail?.description }}
        </p>
      </article>

      <!-- Gallery -->
      <div class="mt-4 md:mt-10" *ngIf="newsDetail?.news_photos?.length">
        <h2 class="text-2xl font-bold mb-4">รูปภาพเพิ่มเติม</h2>

        <div class="grid grid-cols-2 md:grid-cols-3 gap-5">
          <img
            *ngFor="let photo of newsDetail?.news_photos"
            [src]="photo.img_url"
            class="rounded-lg shadow hover:scale-105 transition"
          />
        </div>
      </div>
    </div>
  </div>
</div>
