<div
  class="contain-content bg-gray-100 p-5 md:px-10 text-2xl font-medium text-[#394250]"
>
  <div class="mx-auto md:p-6 mb-1">
    <h1 class="text-3xl">จัดการข่าวประชาสัมพันธ์</h1>
  </div>

  <div class="mx-auto p-2 mb:p-6 md:mb-10 bg-white rounded-xl">
    <div class="flex justify-between items-center mb-4">
      <button
        routerLink="/admin/news/create"
        class="flex items-center md:gap-2 text-xl bg-[#118CD9] hover:bg-[#16498C] text-white px-2 md:px-4 py-1 rounded-md cursor-pointer"
      >
        <i class="bi bi-plus-circle mr-2"></i> เพิ่มข่าว
      </button>

      <div class="flex items-center">
        <label class="text-xl mr-2">Search:</label>
        <input
          type="text"
          [(ngModel)]="searchText"
          (input)="onSearch()"
          placeholder="ค้นหา"
          class="border rounded px-2 py-1 ml-auto text-lg font-light"
        />
      </div>
    </div>
    <div class="w-full overflow-x-auto mt-4 font-light text-lg">
    <table class="w-full min-w-225 table-fixed">
      <colgroup>
        <col class="w-[5%]" />    <!-- # -->
        <col class="w-[50%]" />   <!-- หัวข้อข่าว -->
        <col class="w-[15%]" />   <!-- วันที่ประกาศ -->
        <col class="w-[15%]" />   <!-- วันที่สิ้นสุด -->
        <col class="w-[15%]" />   <!-- Action -->
      </colgroup>

      <thead class="bg-[#394250] text-white border-b">
        <tr>
          <th class="p-2">#</th>
          <th class="p-2 text-start">หัวข้อข่าว</th>
          <th class="p-2">วันที่ประกาศ</th>
          <th class="p-2">วันที่สิ้นสุด</th>
          <th class="p-2">Action</th>
        </tr>
      </thead>

      <tbody>
        <tr
          *ngFor="let news of paginatedNews; let i = index"
          class="border-b border-gray-300 bg-gray-200 hover:bg-gray-50 transition"
        >
          <td class="text-center p-2">
            {{ (currentPage - 1) * pageSize + i + 1 }}
          </td>
          <td class="p-2">{{ news.title }}</td>
          <td class="text-center p-2">
            {{ news.published_date | date : "dd/MM/yyyy" : ""  }}
          </td>
          <td class="text-center p-2">
            {{ news.expires_date| date : "dd/MM/yyyy" : "" }}
          </td>
          <td class="text-center p-2">
            <div class="flex justify-center items-center gap-2 flex-wrap">
              <button
                class="inline-flex items-center justify-center w-9 h-9 rounded-full bg-blue-50 hover:bg-blue-100 text-blue-600 transition cursor-pointer text-xl"
                title="แก้ไข"
                (click)="editNews(news.news_id)"
              >
                <i class="bi bi-pencil-square"></i>
              </button>

              <button
                class="inline-flex items-center justify-center w-9 h-9 rounded-full bg-red-50 hover:bg-red-100 text-red-600 transition cursor-pointer text-xl"
                title="ลบ"
                (click)="deleteNews(news.news_id)"
              >
                <i class="bi bi-trash3"></i>
              </button>
            </div>
          </td>
        </tr>

        <tr *ngIf="paginatedNews.length === 0">
          <td colspan="5" class="text-center text-gray-500 p-4">
            <i class="bi bi-folder-x text-3xl block mb-2"></i>
            ไม่พบข้อมูล</td>
        </tr>
      </tbody>
    </table>
    </div>

    <div class="flex justify-end mt-3 space-x-1 font-light text-sm">
      <button
        (click)="changePage(currentPage - 1)"
        [disabled]="currentPage === 1"
        class="px-3 py-1 rounded border text-sm disabled:opacity-40 hover:bg-gray-100 cursor-pointer"
      >
        ‹
      </button>

      <button
        *ngFor="let page of pages"
        (click)="changePage(page)"
        class="px-3 py-1 rounded border text-sm transition cursor-pointer"
        [ngClass]="{
          'bg-[#118CD9] text-white border-[#118CD9]': currentPage === page,
          'hover:bg-gray-100': currentPage !== page
        }"
      >
        {{ page }}
      </button>

      <button
        (click)="changePage(currentPage + 1)"
        [disabled]="currentPage === totalPages"
        class="px-3 py-1 rounded border text-sm disabled:opacity-40 hover:bg-gray-100 cursor-pointer"
      >
        ›
      </button>
    </div>
  </div>
</div>
