<div class="bg-gray-100 p-6 text-xl">
  <div class="max-w-7xl mx-auto bg-white rounded-xl p-6">
    <h1 class="text-2xl font-semibold">ข่าวประชาสัมพันธ์</h1>

    <div class="flex justify-between items-center mb-4 mt-5">
      <button
        routerLink="/admin-news/create"
        class="flex items-center gap-2 bg-blue-600 hover:bg-blue-700 text-white px-4 py-1 rounded-md cursor-pointer"
      >
        <i class="bi bi-plus-circle mr-2"></i> เพิ่มข่าว
      </button>

      <div class="flex items-center">
        <label class="mr-2">Search:</label>
        <input
          type="text"
          [(ngModel)]="searchText"
          (input)="onSearch()"
          placeholder="ค้นหาข่าว..."
          class="border rounded px-2 py-1 ml-auto"
        />
      </div>
    </div>

    <table class="w-full border">
      <thead class="bg-yellow-300">
        <tr class="border">
          <th class="p-2 border-r">ลำดับ</th>
          <th class="p-2 border-r">หัวข้อข่าว</th>
          <th class="p-2 border-r">วันที่ประกาศ</th>
          <th class="p-2 border-r">วันที่สิ้นสุด</th>
          <th class="p-2">จัดการ</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let news of paginatedNews; let i = index">
          <td class="text-center p-2 border">
            {{ (currentPage - 1) * pageSize + i + 1 }}
          </td>
          <td class="p-2 border">{{ news.title }}</td>
          <td class="text-center p-2 border">
            {{ news.date | date : "dd/MM/yyyy" }}
          </td>
          <td class="text-center p-2 border">
            {{ news.dateend | date : "dd/MM/yyyy" }}
          </td>
          <td class="text-center p-2 border">
            <div class="flex justify-center items-center gap-2 flex-wrap">
              <button
                class="inline-flex items-center justify-center w-9 h-9 rounded-full
                       bg-blue-50 hover:bg-blue-100 text-blue-600 transition
                       cursor-pointer"
                title="แก้ไข"
                (click)="editNews(news)"
              >
                <i class="bi bi-pencil-square"></i>
              </button>
            
              <button
                class="inline-flex items-center justify-center w-9 h-9 rounded-full
                       bg-red-50 hover:bg-red-100 text-red-600 transition
                       cursor-pointer"
                title="ลบ"
                (click)="delectNews(i)"
              >
                <i class="bi bi-trash3"></i>
              </button>
            </div>
          </td>
        </tr>

        <tr *ngIf="paginatedNews.length === 0">
          <td colspan="5" class="text-center text-gray-500 p-4">ไม่พบข้อมูล</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
