<div class="bg-gray-100 p-6">
  <div class="max-w-7xl mx-auto bg-white rounded-xl p-6">
    <h1 class="text-2xl font-semibold">ข่าวประชาสัมพันธ์</h1>

    <div class="flex justify-between items-center mb-4 mt-5">
      <button
        routerLink="/admin-news/create"
        class="flex items-center gap-2 bg-blue-600 hover:bg-blue-700 text-white px-4 py-2 rounded-md text-sm cursor-pointer"
      >
        <i class="bi bi-plus-circle mr-2"></i> เพิ่มข่าว
      </button>

      <div class="flex items-center">
        <label class="text-lg mr-2">Search:</label>
        <input
          type="text"
          [(ngModel)]="searchText"
          (input)="onSearch()"
          placeholder="ค้นหาข่าว..."
          class="border rounded px-2 py-1 ml-auto"
        />
      </div>
    </div>

    <table class="w-full border">
      <thead class="bg-yellow-300">
        <tr class="border">
          <th class="p-2 border-r">ลำดับ</th>
          <th class="p-2 text-left border-r">หัวข้อข่าว</th>
          <th class="p-2 border-r">วันที่ประกาศ</th>
          <th class="p-2 border-r">วันที่สิ้นสุด</th>
          <th class="p-2">จัดการ</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let news of paginatedNews; let i = index">
          <td class="text-center p-2 border">
            {{ (currentPage - 1) * pageSize + i + 1 }}
          </td>
          <td class="p-2 border">{{ news.title }}</td>
          <td class="text-center p-2 border">
            {{ news.date | date : "dd/MM/yyyy" }}
          </td>
          <td class="text-center p-2 border">
            {{ news.dateend | date : "dd/MM/yyyy" }}
          </td>
          <td class="text-center p-2 border">
            <i
              (click)="editNews(news)"
              class="bi bi-pencil text-blue-600 cursor-pointer mr-3"
            ></i>
            <i
              (click)="delectNews(i)"
              class="bi bi-trash text-red-600 cursor-pointer"
            ></i>
          </td>
        </tr>

        <tr *ngIf="paginatedNews.length === 0">
          <td colspan="5" class="text-center text-gray-500 p-4">ไม่พบข้อมูล</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
