<!-- research-detail -->
<div
  class="min-h-screen bg-gray-100 p-5 md:p-10 font-medium text-[#394250] text-xl md:text-2xl"
>
  <div>
    <!-- ===== Reseach ===== -->
    <div
      *ngIf="type === 'project'"
      class="mx-auto bg-white rounded-2xl shadow-lg overflow-hidden"
    >
      <!-- Header -->
      <div
        class="bg-[#394250] text-white px-4 md:px-8 py-4 md:py-6 flex flex-col md:flex-row md:items-center md:justify-between gap-4"
      >
        <!-- LEFT: TEXT -->
        <div class="flex-1 min-w-0">
          <p class="text-sm md:text-base opacity-70 tracking-wide">
            โครงการวิจัย
          </p>

          <!-- TH -->
          <h1
            class="text-lg md:text-2xl font-semibold mt-1 leading-relaxed wrap-break-word"
          >
            {{ researchData?.title_th }}
          </h1>

          <!-- Divider -->
          <div class="w-full h-0.5 bg-white/40 my-2"></div>

          <!-- EN -->
          <h2
            class="text-sm md:text-lg opacity-80 italic leading-relaxed wrap-break-word"
          >
            {{ researchData?.title_en || "-" }}
          </h2>
        </div>

        <!-- RIGHT: BUTTON -->
        <div class="flex justify-end md:justify-center shrink-0">
          <button
            (click)="editItem(researchData?.research_id)"
            class="bg-[#f2e7ac] hover:bg-[#f2cb05] text-[#394250] hover:text-white px-4 py-2 md:px-5 md:py-3 rounded-lg shadow  font-light text-sm md:text-base flex items-center gap-2"
          >
            <span class="hidden md:inline">แก้ไขข้อมูล</span>
            <i class="bi bi-pencil"></i>
          </button>
        </div>
      </div>

      <!-- Content -->
      <div class="grid grid-cols-1 md:grid-cols-4 md:gap-3 p-4 md:p-8">
        <!-- Left: Cover Image -->
        <div class="md:col-span-1">
          <div
            class="bg-gray-200 rounded-xl shadow-inner flex items-center justify-center h-90 w-full overflow-hidden cursor-pointer relative"
            (click)="fileInput.click()"
          >
            <!-- ถ้ามีรูป -->
            <ng-container
              *ngIf="previewImage || researchData?.img_url; else noImage"
            >
              <img
                [src]="previewImage || researchData?.img_url"
                (error)="onImageError($event)"
                class="w-full h-full object-cover rounded-xl"
              />
            </ng-container>

            <ng-template #noImage>
              <div class="text-center text-gray-500">
                <img
                  src="/assets/research.png"
                  class="w-full h-80 mx-auto opacity-70"
                />
                <p class="text-xl">คลิกเพื่อเลือกรูป</p>
              </div>
            </ng-template>

            <!-- input ซ่อนไว้ -->
            <input
              #fileInput
              type="file"
              accept="image/*"
              class="hidden"
              (change)="onFileSelected($event)"
            />
          </div>

          <!-- ปุ่มบันทึก -->
          <div *ngIf="selectedFile" class="mt-4 text-center">
            <button
              class="bg-[#f2e7ac] hover:bg-[#f2cb05] text-[#394250] hover:text-white px-6 py-2 rounded-lg shadow  disabled:bg-gray-400"
              [disabled]="!selectedFile"
              (click)="uploadImage()"
            >
              บันทึกรูปภาพ
            </button>
          </div>

          <!-- PDF Button -->
          <div class="mt-2 md:mt-6 flex flex-wrap justify-center gap-3">
            <button
              *ngIf="researchData?.full_report?.get_url"
              (click)="openPDF()"
              class="flex items-center gap-2 px-4 py-2.5 bg-blue-50 hover:bg-blue-100 border border-blue-200 text-[#16498C] rounded-lg shadow-sm transition cursor-pointer text-sm font-medium"
            >
              <i class="bi bi-file-earmark-pdf-fill text-red-500 text-base"></i>
              รายงานวิจัยฉบับสมบูรณ์
            </button>

            <button
              *ngIf="researchData?.contract_file?.get_url"
              (click)="openContract()"
              class="flex items-center gap-2 px-4 py-2.5 bg-blue-50 hover:bg-blue-100 border border-blue-200 text-[#16498C] rounded-lg shadow-sm transition cursor-pointer text-sm font-medium"
            >
              <i class="bi bi-file-earmark-pdf-fill text-red-500 text-base"></i>
              ไฟล์สัญญารับทุน
            </button>
          </div>
        </div>

        <!-- Right: Details -->
        <div class="md:col-span-3 space-y-6">
          <!-- Research Fields -->
          <div class="space-y-2">
            <div class="grid grid-cols-1 gap-2 md:gap-4">
              <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                <div>
                  <p class="text-[#767676]">รหัสโครงการ</p>
                  <p class="font-light my-2">
                    {{ researchData?.research_code }}
                  </p>
                </div>

                <div>
                  <p class="text-[#767676]">สาขาของงานวิจัย</p>
                  <p class="font-light my-2">
                    {{ oecdUI[0]?.name_th || "-" }}
                  </p>
                </div>

                <div>
                  <p class="text-[#767676]">สาขาย่อย</p>
                  <p class="font-light my-2">
                    {{ oecdUI[0]?.children?.[0]?.name_th || '-' }}
                  </p>
                </div>

                <div>
                  <p class="text-[#767676]">สาขาที่เกี่ยวข้อง</p>
                  <p class="font-light my-2">
                    {{ oecdUI[0]?.children?.[0]?.children?.[0]?.name_th || '-' }}
                  </p>
                </div>
              </div>

              <div *ngIf="researchData?.abstract">
                <p class="text-[#767676]">บทคัดย่อ</p>
                <p class="font-light my-2" [innerHTML]="safeDescription"></p>
              </div>

              <div *ngIf="researchData?.abstract_en">
                <p class="text-[#767676]">Abstract</p>
                <p class="font-light my-2" [innerHTML]="safeDescription"></p>
              </div>

              <div>
                <p class="text-[#767676]">Keyword</p>
                <div class="flex flex-wrap gap-2 my-2">
                  <span
                    *ngFor="let k of researchData?.keywords"
                    class="px-2 py-1 font-light my-2 text-[#394250] rounded bg-[#f2e7ac]"
                  >
                    {{ k.keyword }}
                  </span>
                </div>
              </div>
            </div>

            <!-- Internal Researchers Table -->
            <div>
              <h2 class="text-2xl my-4">ผู้ร่วมโครงการภายใน</h2>
              <div class="overflow-x-auto">
                <table class="min-w-125 w-full border rounded-lg overflow-hidden">
                  <thead class="bg-[#394250] text-white">
                    <tr>
                      <th class="p-1 md:p-2 text-left w-16">ลำดับ</th>
                      <th class="p-1 md:p-2 text-left">ผู้ร่วม</th>
                      <th class="p-1 md:p-2 text-left">ประเภทความรับผิดชอบ</th>
                    </tr>
                  </thead>

                  <tbody
                    class="divide-y"
                    *ngIf="
                      (researchData?.internal_members?.length ?? 0) > 0;
                      else noData
                    "
                  >
                    <tr
                      *ngFor="
                        let internal of researchData?.internal_members;
                        let i = index
                      "
                      class="bg-gray-200 border-b border-gray-300"
                    >
                      <td class="p-1 md:p-2">{{ i + 1 }}</td>
                      <td
                        class="p-1 md:p-2 flex items-center gap-2 flex-wrap justify-center md:justify-start font-light my-2"
                      >
                        {{ internal?.full_name }}
                      </td>
                      <td class="p-1 md:p-2 font-light my-2">
                        {{ internal?.role }}
                      </td>
                    </tr>
                  </tbody>

                  <ng-template #noData>
                    <tr>
                      <td colspan="3" class="text-center py-4 text-gray-500">
                        ไม่พบข้อมูล
                      </td>
                    </tr>
                  </ng-template>
                </table>
              </div>
            </div>

            <!-- External Researchers Table -->
            <div>
              <h2 class="my-4">ผู้ร่วมโครงการภายนอก</h2>
              <div class="overflow-x-auto">
                <table class="min-w-125 w-full border rounded-lg overflow-hidden">
                  <thead class="bg-[#394250] text-white">
                    <tr>
                      <th class="p-1 md:p-2 text-left w-16">ลำดับ</th>
                      <th class="p-1 md:p-2 text-left">
                        ผู้ร่วม (บุคลากรภายนอก)
                      </th>
                      <th class="p-1 md:p-2 text-left">ประเภทความรับผิดชอบ</th>
                      <th class="p-1 md:p-2 text-left">หน่วยงาน</th>
                    </tr>
                  </thead>
                  <tbody
                    class="divide-y"
                    *ngIf="
                      (researchData?.external_members?.length ?? 0) > 0;
                      else noDataExternal
                    "
                  >
                    <tr
                      *ngFor="
                        let external of researchData?.external_members;
                        let i = index
                      "
                      class="bg-gray-200 border-b border-gray-300"
                    >
                      <td class="p-1 md:p-2">{{ i + 1 }}</td>
                      <td class="p-1 md:p-2 font-light my-2">
                        {{ external?.full_name }}
                      </td>
                      <td class="p-1 md:p-2 font-light my-2">
                        {{ external?.role }}
                      </td>
                      <td class="p-1 md:p-2 font-light my-2">
                        {{ external?.organization }}
                      </td>
                    </tr>
                  </tbody>
                </table>

                <ng-template #noDataExternal>
                  <tr>
                    <td colspan="3" class="text-center py-4 text-gray-500">
                      ไม่พบข้อมูล
                    </td>
                  </tr>
                </ng-template>
              </div>
            </div>

            <!-- Funding Source -->
            <div
              class="grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-x-10 md:gap-y-6"
            >
              <div>
                <p class="text-[#767676] md:mb-1">ที่มาแหล่งทุน</p>
                <p class="text-gray-800 font-light my-2">
                  {{ researchData?.source_funds }}
                </p>
              </div>

              <div>
                <p class="text-[#767676] md:mb-1">ชื่อแหล่งทุน</p>
                <p class="text-gray-800 font-light my-2">
                  {{ researchData?.name_funding }}
                </p>
              </div>

              <div>
                <p class="text-[#767676] md:mb-1">จำนวนงบประมาณ</p>
                <p class="text-gray-800 font-light my-2">
                  {{ researchData?.budget_amount | number:'1.0-0' }} บาท
                </p>
              </div>

              <div>
                <p class="text-[#767676] md:mb-1">ปีที่ได้รับทุน</p>
                <p class="text-gray-800 font-light my-2">
                  {{ researchData?.year_received_budget }}
                </p>
              </div>

              <div>
                <p class="text-[#767676] md:mb-1">สถานะดำเนินการ</p>
                <span
                  class="inline-block px-3 py-1 rounded-full font-light"
                  [ngClass]="{
                    'bg-green-100 text-green-700':
                      researchData?.status === 'เสร็จสิ้น',
                    'bg-yellow-100 text-yellow-700':
                      researchData?.status === 'อยู่ระหว่างดำเนินการ',
                    'bg-gray-100 text-gray-500': !researchData?.status
                  }"
                >
                  {{ researchData?.status || "-" }}
                </span>
              </div>

              <div>
                <p class="text-[#767676] md:mb-1">พื้นที่วิจัย</p>
                <p class="text-gray-800 font-light my-2">
                  {{ researchData?.research_area || "-" }}
                </p>
              </div>

              <div>
                <p class="text-[#767676] md:mb-1">พื้นที่ใช้ประโยชน์</p>
                <p class="text-gray-800 font-light my-2">
                  {{ researchData?.research_area || "-" }}
                </p>
              </div>

              <div>
                <p class="text-[#767676] md:mb-1">รายงานวิจัยฉบับสมบูรณ์</p>
                <p class="font-light">
                  {{ researchData?.full_report?.file_name || "-" }}
                </p>
              </div>

              <div>
                <p class="text-[#767676] md:mb-1">ไฟล์สัญญารับทุน</p>
                <p class="font-light">
                  {{ researchData?.contract_file?.file_name || "-" }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ===== Acticle ===== -->
    <div *ngIf="type === 'article'">
      <div
        class="mx-auto bg-white rounded-2xl shadow-lg overflow-hidden font-medium text-2xl"
      >
        <!-- Header -->
        <div
          class="bg-[#394250] text-white px-4 md:px-8 py-4 md:py-6 flex flex-col md:flex-row md:items-center md:justify-between gap-4"
        >
          <!-- LEFT: TEXT -->
          <div class="flex-1 min-w-0">
            <p class="text-sm md:text-base opacity-70 tracking-wide">
              บทความวิชาการ / วารสาร / ในประเทศ
            </p>

            <!-- TH -->
            <h1
              *ngIf="articleData?.lang_type === 'th'"
              class="text-lg md:text-2xl font-semibold mt-1 leading-relaxed wrap-break-word"
            >
              {{ articleData?.title_th }}
            </h1>

            <h1
              *ngIf="articleData?.lang_type === 'en'"
              class="text-lg md:text-2xl font-semibold mt-1 leading-relaxed wrap-break-word"
            >
              {{ articleData?.title_en }}
            </h1>

            <!-- Divider -->
            <div class="w-full h-0.5 bg-white/40 my-2"></div>
          </div>

          <!-- RIGHT: BUTTON -->
          <div class="flex justify-end md:justify-center shrink-0">
            <button
              (click)="editItem(articleData?.research_id)"
              class="bg-[#f2e7ac] text-[#394250] px-4 py-2 md:px-5 md:py-3 rounded-lg shadow hover:bg-[#f2cb05] hover:text-white font-light text-sm md:text-base flex items-center gap-2 cursor-pointer"
            >
              <span class="hidden md:inline">แก้ไขข้อมูล</span>
              <i class="bi bi-pencil"></i>
            </button>
          </div>
        </div>

        <!-- Content -->
        <div class="grid grid-cols-1 md:grid-cols-4 gap-4 md:gap-8 p-4 md:p-8">
          <!-- Left: Cover Image -->
          <div class="md:col-span-1">
            <div
              class="rounded-xl flex items-center justify-center h-90 w-full bg-white overflow-hidden cursor-pointer relative"
              (click)="fileInput.click()"
            >
              <!-- ถ้ามีรูป -->
              <ng-container
                *ngIf="previewImage || articleData?.img_url; else noImage"
              >
                <img
                  [src]="previewImage || articleData?.img_url"
                  (error)="onImageError($event)"
                  class="w-full h-80 mb-3 object-cover rounded-xl"
                />
              </ng-container>

              <!-- ถ้าไม่มีรูป -->
              <ng-template #noImage>
                <div class="text-center text-gray-500">
                  <img
                    src="/assets/research.png"
                    class="w-full h-80 mx-auto opacity-70"
                  />
                  <p class="text-xl">คลิกเพื่อเลือกรูป</p>
                </div>
              </ng-template>

              <!-- input ซ่อนไว้ -->
              <input
                #fileInput
                type="file"
                accept="image/*"
                class="hidden"
                (change)="onFileSelected($event)"
              />
            </div>

            <!-- ปุ่มบันทึก -->
            <div *ngIf="selectedFile" class="mt-4 text-center">
              <button
                class="bg-[#f2e7ac] text-[#394250] px-6 py-2 rounded-lg shadow hover:bg-[#f2cb05] hover:text-white disabled:bg-gray-400 cursor-pointer"
                [disabled]="!selectedFile"
                (click)="uploadImage()"
              >
                บันทึกรูปภาพ
              </button>
            </div>

            <!-- PDF Button -->
            <div class="mt-2 md:mt-6 flex justify-center">
              <button
                (click)="openPDF()"
                class="flex items-center gap-2 px-4 py-2.5 bg-blue-50 hover:bg-blue-100 border border-blue-200 text-[#16498C] rounded-lg shadow-sm transition cursor-pointer text-lg font-medium"
              >
                <i
                  class="bi bi-file-earmark-pdf-fill text-red-500 text-base"
                ></i>
                PDF
              </button>
            </div>
          </div>

          <!-- Right: Details -->
          <div class="md:col-span-3 space-y-6">
            <!-- Research Fields -->
            <div class="grid grid-cols-1 md:grid-cols-2 gap-2 md:gap-4">
              <div>
                <p class="text-[#767676]">รหัสบทความ</p>
                <p class="font-light">
                  {{ articleData?.research_code }}
                </p>
              </div>

              <div>
                <p class="text-[#767676]">สาขาของบทความ</p>
                <p class="font-light">
                  {{ articleData?.oecd?.[0]?.name_th }}
                </p>
              </div>

              <div>
                <p class="text-[#767676]">สาขาย่อย</p>
                <p class="font-light">
                  {{ articleData?.oecd?.[0]?.children?.name_th }}
                </p>
              </div>

              <div>
                <p class="text-[#767676]">สาขาที่เกี่ยวข้อง</p>
                <p class="font-light">
                  {{ articleData?.oecd?.[0]?.children?.children?.name_th }}
                </p>
              </div>
            </div>

            <div *ngIf="articleData?.lang_type === 'th'">
              <p class="text-[#767676]">บทคัดย่อ</p>
              <p class="font-light" [innerHTML]="safeDescription"></p>
            </div>

            <div *ngIf="articleData?.lang_type === 'en'">
              <p class="text-[#767676]">Abstract</p>
              <p class="font-light" [innerHTML]="safeDescription"></p>
            </div>

            <div>
              <p class="text-[#767676]">keywords</p>
              <div class="flex flex-wrap gap-2 my-2">
                <span
                  *ngFor="let k of articleData?.keywords"
                  class="px-2 py-1 font-light my-2 text-[#394250] rounded bg-[#f2e7ac]"
                >
                  {{ k.keyword }}
                </span>
              </div>
            </div>

            <div class="grid grid-cols-2 gap-2 md:gap-4">
              <div>
                <p class="text-[#767676]">ประเภท</p>
                <p class="font-light">{{ articleData?.article_type }}</p>
              </div>

              <div *ngIf="articleData?.article_type === 'Journal'">
                <p class="text-[#767676]">ชื่องานวิจัย</p>
                <p class="font-light">{{ articleData?.journal_name }}</p>
              </div>

              <div *ngIf="articleData?.article_type === 'Conference'">
                <p class="text-[#767676]">ชื่อการประชุมวิชาการ</p>
                <p class="font-light">{{ articleData?.journal_name }}</p>
              </div>

              <div *ngIf="articleData?.article_type === 'Journal'">
                <p class="text-[#767676]">ประเทศ</p>
                <p class="font-light">{{ articleData?.country }}</p>
              </div>

              <div *ngIf="articleData?.article_type === 'Journal'">
                <p class="text-[#767676]">ประเภทฐานข้อมูล</p>
                <p class="font-light">{{ articleData?.db_type }}</p>
              </div>

              <div class="">
                <p class="text-[#767676] mb-1">ค่าน้ำหนัก/ระดับคุณภาพ</p>
                <p class="font-light">{{ articleData?.volume_no }}</p>
              </div>
            </div>

            <!-- Internal Researchers Table -->
            <div>
              <h2 class="md:text-2xl my-4">ผู้ร่วมโครงการภายใน</h2>
              <div class="overflow-x-auto">
                <table class="min-w-125 w-full border rounded-lg overflow-hidden">
                  <thead class="bg-[#394250] text-white">
                    <tr>
                      <th class="px-4 py-2 text-left w-16">ลำดับ</th>
                      <th class="px-4 py-2 text-left">ผู้ร่วม</th>
                      <th class="px-4 py-2 text-left">ประเภทความรับผิดชอบ</th>
                    </tr>
                  </thead>
                  <tbody
                    class="divide-y font-light"
                    *ngIf="
                      (articleData?.internal_members?.length ?? 0) > 0;
                      else noData
                    "
                  >
                    <tr
                      *ngFor="
                        let member of articleData?.internal_members;
                        let i = index
                      "
                      class="bg-gray-200 border-b border-gray-300"
                    >
                      <td class="px-4 py-3">{{ i + 1 }}</td>
                      <td
                        class="px-4 py-3 flex items-center flex-wrap justify-center md:justify-start gap-2"
                      >
                        {{ member?.full_name }}
                      </td>
                      <td class="px-4 py-3">{{ member?.role }}</td>
                    </tr>
                  </tbody>

                  <ng-template #noData>
                    <tr>
                      <td colspan="3" class="text-center py-4 text-gray-500">
                        ไม่พบข้อมูล
                      </td>
                    </tr>
                  </ng-template>
                </table>
              </div>
            </div>

            <!-- External Researchers Table -->
            <div>
              <h2 class="my-4">ผู้ร่วมโครงการภายนอก</h2>
              <div class="overflow-x-auto">
                <table class="min-w-125 w-full border rounded-lg overflow-hidden">
                  <thead class="bg-[#394250] text-white">
                    <tr>
                      <th class="px-4 py-2 text-left w-16">ลำดับ</th>
                      <th class="px-4 py-2 text-left">
                        ผู้ร่วม (บุคลากรภายนอก)
                      </th>
                      <th class="px-4 py-2 text-left">ประเภทความรับผิดชอบ</th>
                      <th class="px-4 py-2 text-left">หน่วยงาน</th>
                    </tr>
                  </thead>
                  <tbody
                    class="divide-y font-light"
                    *ngIf="
                      (articleData?.external_members?.length ?? 0) > 0;
                      else noDataExternal
                    "
                  >
                    <tr
                      *ngFor="
                        let external of articleData?.external_members;
                        let i = index
                      "
                      class="bg-gray-200 border-b border-gray-300"
                    >
                      <td class="px-4 py-3">{{ i + 1 }}</td>
                      <td class="px-4 py-3">{{ external.full_name }}</td>
                      <td class="px-4 py-3">{{ external.role }}</td>
                      <td class="px-4 py-3">{{ external.organization }}</td>
                    </tr>
                  </tbody>
                </table>

                <ng-template #noDataExternal>
                  <tr>
                    <td colspan="3" class="text-center py-4 text-gray-500">
                      ไม่พบข้อมูล
                    </td>
                  </tr>
                </ng-template>
              </div>
            </div>

            <!-- Funding Source -->
            <div
              class="grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-x-10 md:gap-y-6"
            >
              <div>
                <p class="font-semibold text-[#767676] md:mb-1">
                  ฉบับที่/เล่มที่
                </p>
                <p class="text-gray-800 font-light">
                  {{ articleData?.volume }}
                </p>
              </div>

              <div>
                <p class="font-semibold text-[#767676] md:mb-1">
                  วันที่เผยแพร่
                </p>
                <p class="text-gray-800 font-light">
                  {{ articleData?.article_published }}
                </p>
              </div>

              <div>
                <p class="font-semibold text-[#767676] md:mb-1">
                  หน้าที่ตีพิมพ์
                </p>
                <p class="text-gray-800 font-light">{{ articleData?.pages }}</p>
              </div>
              
              <div>
                <p class="font-semibold text-[#767676] md:mb-1">ปีที่ตีพิมพ์</p>
                <p class="text-gray-800 font-light">
                  {{ articleData?.year_published }}
                </p>
              </div>

              <div>
                <p class="font-semibold text-[#767676] md:mb-1">
                  ความร่วมมือกับหน่วยงานอื่นๆ
                </p>
                <p class="text-gray-800 font-light">
                  {{ articleData?.is_cooperation === "yes" ? "มี" : "ไม่มี" }}
                </p>
              </div>

              <div *ngIf="articleData?.article_type === 'Conference'">
                <p class="font-semibold text-[#767676] md:mb-1">
                  สถานที่นำเสนอ
                </p>
                <p class="text-gray-800 font-light">
                  {{ articleData?.pre_location || "-" }}
                </p>
              </div>

              <div>
                <p class="font-semibold text-[#767676] md:mb-1">
                  ไฟล์บทความ PDF
                </p>
                <p class="text-gray-800 font-light">
                  {{ articleData?.article_file?.file_name || "-" }}
                </p>
              </div>

              <div>
                <p class="font-semibold text-[#767676] md:mb-1">
                  เว็บไซต์อ้างอิง/การเผยแพร่
                </p>
                <a
                  href="{{ articleData?.doi }}"
                  target="_blank"
                  class="text-[#16498C] hover:underline break-all font-light cursor-pointer"
                >
                  {{ articleData?.doi }}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ===== Innovation ===== -->
    <div *ngIf="type === 'innovation'">
      <div
        class="mx-auto bg-white rounded-2xl shadow-lg overflow-hidden text-2xl font-medium"
      >
        <!-- Header -->
        <div
          class="bg-[#394250] text-white px-4 md:px-8 py-4 md:py-6 flex flex-col md:flex-row md:items-center md:justify-between gap-4"
        >
          <!-- LEFT: TEXT -->
          <div class="flex-1 min-w-0">
            <p class="text-sm md:text-base opacity-70 tracking-wide">
              นวัตกรรมสิ่งประดิษฐ์
            </p>

            <!-- TH -->
            <h1
              class="text-lg md:text-2xl font-semibold mt-1 leading-relaxed wrap-break-word"
            >
              {{ innovationData?.title_th }}
            </h1>

            <!-- Divider -->
            <div class="w-full h-0.5 bg-white/40 my-2"></div>

            <!-- EN -->
            <h2
              class="text-sm md:text-lg opacity-80 italic leading-relaxed wrap-break-word"
            >
              {{ innovationData?.title_en || "-" }}
            </h2>
          </div>

          <!-- RIGHT: BUTTON -->
          <div class="flex justify-end md:justify-center shrink-0">
            <button
              (click)="editItem(innovationData?.research_id)"
              class="bg-[#f2e7ac] text-[#394250] px-4 py-2 md:px-5 md:py-3 rounded-lg shadow hover:bg-[#f2cb05] hover:text-white cursor-pointer font-light text-sm md:text-base flex items-center gap-2"
            >
              <span class="hidden md:inline">แก้ไขข้อมูล</span>
              <i class="bi bi-pencil"></i>
            </button>
          </div>
        </div>

        <!-- Content -->
        <div class="grid grid-cols-1 md:grid-cols-4 gap-8 p-4 md:p-8">
          <!-- Left: Cover Image -->
          <div class="md:col-span-1">
            <div
              class="bg-white flex items-center justify-center h-90 overflow-hidden cursor-pointer relative"
              (click)="fileInput.click()"
            >
              <!-- ถ้ามีรูป -->
              <ng-container
                *ngIf="previewImage || innovationData?.img_url; else noImage"
              >
                <img
                  [src]="previewImage || innovationData?.img_url"
                  (error)="onImageError($event)"
                  class="w-full h-full object-cover rounded-xl"
                />
              </ng-container>

              <!-- ถ้าไม่มีรูป -->
              <ng-template #noImage>
                <div class="text-center text-gray-500">
                  <img
                    src="/assets/research.png"
                    class="w-full h-80 mx-auto mb-3 opacity-70"
                  />
                  <p class="text-xl">คลิกเพื่อเลือกรูป</p>
                </div>
              </ng-template>

              <!-- input ซ่อนไว้ -->
              <input
                #fileInput
                type="file"
                accept="image/*"
                class="hidden"
                (change)="onFileSelected($event)"
              />
            </div>

            <!-- ปุ่มบันทึก -->
            <div *ngIf="selectedFile" class="mt-4 text-center">
              <button
                class="bg-[#f2e7ac] text-[#394250] px-6 py-2 rounded-lg shadow hover:bg-[#f2cb05] hover:text-white disabled:bg-gray-400 cursor-pointer"
                [disabled]="!selectedFile"
                (click)="uploadImage()"
              >
                บันทึกรูปภาพ
              </button>
            </div>

            <!-- PDF Button -->
            <div class="mt-2 md:mt-6 flex justify-center">
              <button
                (click)="openPDF()"
                class="flex items-center gap-2 px-4 py-2.5 bg-blue-50 hover:bg-blue-100 border border-blue-200 text-[#16498C] rounded-lg shadow-sm transition cursor-pointer text-lg font-medium"
              >
                <i
                  class="bi bi-file-earmark-pdf-fill text-red-500 text-base"
                ></i>
                PDF
              </button>
            </div>

            <!-- Gelleries Images -->
            <div class="md:col-span-1 mt-5">
              <div class="grid grid-cols-3 gap-2 mt-5">
                <img
                  *ngFor="let img of galleryImages"
                  [src]="img"
                  (click)="openImage(img)"
                  class="rounded-lg shadow h-40 object-cover hover:scale-105 transition cursor-pointer"
                />
              </div>
            </div>
            <!-- Lightbox -->
            <div
              *ngIf="selectedImage"
              class="fixed inset-0 bg-black/70 flex items-center justify-center z-50"
              (click)="closeImage()"
            >
              <img
                [src]="selectedImage"
                class="max-h-[90vh] max-w-[90vw] rounded-lg shadow-xl"
              />
            </div>
          </div>

          <!-- Right: Details -->
          <div class="md:col-span-3 space-y-6">
            <!-- Research Fields -->
            <div class="grid grid-cols-1 gap-4">
              <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                <div>
                  <p class="text-[#767676]">รหัสนวัตกรรม</p>
                  <p class="font-light">
                    {{ innovationData?.research_code }}
                  </p>
                </div>

                <div>
                  <p class="text-[#767676]">สาขาของนวัตกรรมสิ่งประดิษฐ์</p>
                  <p class="font-light">
                    {{ oecdUI[0]?.name_th || "-" }}
                  </p>
                </div>

                <div>
                  <p class="text-[#767676]">สาขาย่อย</p>
                  <p class="font-light">
                    {{ oecdUI[0]?.children?.[0]?.name_th || '-' }}
                  </p>
                </div>

                <div>
                  <p class="text-[#767676]">สาขาที่เกี่ยวข้อง</p>
                  <p class="font-light">
                    {{ oecdUI[0]?.children?.[0]?.children?.[0]?.name_th || '-' }}
                  </p>
                </div>
              </div>

              <div *ngIf="innovationData?.abstract">
                <p class="text-[#767676]">บทคัดย่อ</p>
                <p class="font-light" [innerHTML]="safeDescription"></p>
              </div>

              <div *ngIf="innovationData?.abstract_en">
                <p class="text-[#767676]">Abstract</p>
                <p class="font-light" [innerHTML]="safeDescription"></p>
              </div>

              <div>
                <p class="text-[#767676]">keywords</p>
                <div class="flex flex-wrap gap-2 my-2">
                  <span
                    *ngFor="let k of innovationData?.keywords"
                    class="px-2 py-1 font-light my-2 text-[#394250] rounded bg-[#f2e7ac]"
                  >
                    {{ k.keyword || "-" }}
                  </span>
                </div>
              </div>
              <div class="">
                <p class="text-[#767676] mb-1">หลักการและเหตุผล</p>
                <p class="eading-relaxed font-light">
                  {{ innovationData?.principle }}
                </p>
              </div>
            </div>

            <!-- Internal Researchers Table -->
            <div>
              <h2 class="md:text-2xl my-4">ผู้ร่วมโครงการภายใน</h2>
              <div class="overflow-x-auto">
                <table class="min-w-125 w-full border rounded-lg overflow-hidden">
                  <thead class="bg-slate-600 text-white">
                    <tr>
                      <th class="px-4 py-2 text-left w-16">ลำดับ</th>
                      <th class="px-4 py-2 text-left">ผู้ร่วม</th>
                      <th class="px-4 py-2 text-left">ประเภทความรับผิดชอบ</th>
                    </tr>
                  </thead>
                  <tbody
                    class="divide-y font-light"
                    *ngIf="
                      (innovationData?.internal_members?.length ?? 0) > 0;
                      else noData
                    "
                  ></tbody>
                  <tbody class="divide-y font-light">
                    <tr
                      *ngFor="
                        let internal of innovationData?.internal_members;
                        let i = index
                      "
                      class="bg-gray-200 border-b border-gray-300"
                    >
                      <td class="px-4 py-3">{{ i + 1 }}</td>
                      <td
                        class="px-4 py-3 flex flex-wrap justify-center md:justify-start items-center gap-2"
                      >
                        {{ internal?.full_name }}
                      </td>
                      <td class="px-4 py-3">{{ internal?.role }}</td>
                    </tr>
                  </tbody>
                </table>

                <ng-template #noData>
                  <tr>
                    <td colspan="3" class="text-center py-4 text-gray-500">
                      ไม่พบข้อมูล
                    </td>
                  </tr>
                </ng-template>
              </div>
            </div>

            <!-- External Researchers Table -->
            <div>
              <h2 class="font-semibold my-4">ผู้ร่วมโครงการภายนอก</h2>
              <div class="overflow-x-auto">
                <table class="min-w-125 w-full border rounded-lg overflow-hidden">
                  <thead class="bg-slate-600 text-white">
                    <tr>
                      <th class="px-4 py-2 text-left w-16">ลำดับ</th>
                      <th class="px-4 py-2 text-left">
                        ผู้ร่วม (บุคลากรภายนอก)
                      </th>
                      <th class="px-4 py-2 text-left">ประเภทความรับผิดชอบ</th>
                      <th class="px-4 py-2 text-left">หน่วยงาน</th>
                    </tr>
                  </thead>
                  <tbody
                    class="divide-y font-light"
                    *ngIf="
                      (innovationData?.external_members?.length ?? 0) > 0;
                      else noDataExternal
                    "
                  >
                    <tr
                      *ngFor="
                        let external of innovationData?.external_members;
                        let i = index
                      "
                      class="bg-gray-200 border-b border-gray-300"
                    >
                      <td class="px-4 py-3">{{ i + 1 }}</td>
                      <td class="px-4 py-3">{{ external?.full_name }}</td>
                      <td class="px-4 py-3">{{ external?.role }}</td>
                      <td class="px-4 py-3">
                        {{ external?.organization || "-" }}
                      </td>
                    </tr>
                  </tbody>
                </table>

                <ng-template #noDataExternal>
                  <tr>
                    <td colspan="3" class="text-center py-4 text-gray-500">
                      ไม่พบข้อมูล
                    </td>
                  </tr>
                </ng-template>
              </div>
            </div>

            <!-- Funding Source -->
            <div
              class="grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-x-10 md:gap-y-6"
            >
              <div>
                <p class="text-[#767676] md:mb-1">ที่มาแหล่งทุน</p>
                <p class="text-gray-800 font-light">
                  {{ innovationData?.source_funds }}
                </p>
              </div>

              <div>
                <p class="text-[#767676] md:mb-1">ชื่อแหล่งทุน</p>
                <p class="text-gray-800 font-light">
                  {{ innovationData?.name_funding }}
                </p>
              </div>

              <div>
                <p class="text-[#767676] md:mb-1">งบประมาณ</p>
                <p class="text-gray-800 font-light">
                  {{ innovationData?.budget_amount | number:'1.0-0' }} บาท
                </p>
              </div>

              <div>
                <p class="text-[#767676] md:mb-1">ปีที่เสร็จสิ้น</p>
                <p class="text-gray-800 font-light">
                  {{ innovationData?.year }}
                </p>
              </div>

              <div>
                <p class="text-[#767676] md:mb-1">
                  ความร่วมมือกับหน่วยงานอื่นๆ
                </p>
                <p class="text-gray-800 font-light">
                  {{ innovationData?.call_other || "-" }}
                </p>
              </div>

              <div>
                <p class="text-[#767676] md:mb-1">เลขที่ คำขอ/สิทธิบัตร</p>
                <p class="text-gray-800 font-light">
                  {{ innovationData?.patent_number }}
                </p>
              </div>

              <div>
                <p class="text-[#767676] md:mb-1">เว็บไซต์ตรวจสิทธิบัตร</p>
                <a
                  href="{{ innovationData?.examination_url }}"
                  target="_blank"
                  class="text-[#16498C] font-light hover:underline break-all cursor-pointer"
                >
                  {{ innovationData?.examination_url }}
                </a>
              </div>

              <div>
                <p class="text-[#767676] md:mb-1">รายงานวิจัยฉบับสมบูรณ์</p>
                <p class="font-light">
                  {{ innovationData?.full_report?.file_name || "-" }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-1 mt-6 bg-gray-300 rounded-xl overflow-hidden">
      <!-- ข้อมูลผู้ติดต่อ -->
      <div class="mt-8">
        <div
          class="bg-linear-to-r from-gray-100 to-gray-200 rounded-t-2xl shadow-md px-12 py-10"
        >
          <div
            class="grid grid-cols-1 md:grid-cols-3 gap-10 text-center items-center"
          >
            <!-- Owner -->
            <div class="space-y-2">
              <div class="flex justify-center mb-2">
                <div
                  class="w-12 h-12 rounded-full bg-purple-500 text-white flex items-center justify-center text-xl"
                >
                  <i class="bi bi-person"></i>
                </div>
              </div>

              <p class="text-gray-500 text-lg">เจ้าของผลงาน</p>
              <p class="text-gray-900 text-xl font-medium">
                {{ owner?.full_name || "ไม่ระบุ" }}
              </p>
            </div>

            <!-- Organization -->
            <div
              class="space-y-2 border-y md:border-y-0 md:border-x border-gray-300 px-6"
            >
              <div class="flex justify-center mb-2">
                <div
                  class="w-12 h-12 rounded-full bg-blue-500 text-white flex items-center justify-center text-xl"
                >
                  <i class="bi bi-building"></i>
                </div>
              </div>

              <p class="text-gray-500 text-lg">หน่วยงาน</p>
              <p class="text-gray-900 text-xl font-medium">
                {{ owner?.organization || "ไม่ระบุ" }}
              </p>
            </div>

            <!-- Contact -->
            <div class="space-y-3">
              <div class="flex justify-center mb-2">
                <div
                  class="w-12 h-12 rounded-full bg-green-500 text-white flex items-center justify-center text-xl"
                >
                  <i class="bi bi-envelope"></i>
                </div>
              </div>

              <p class="text-gray-900 text-lg">
                {{ owner?.email || "ไม่ระบุ" }}
              </p>

              <p class="text-gray-700 text-lg">
                โทรศัพท์: {{ owner?.phone || "ไม่ระบุ" }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
