<div class="bg-gray-100 min-h-screen text-[#394250]">
  <div class="mx-auto p-5 md:px-10 md:py-10 space-y-4 md:space-y-16">
    <!-- ==== Title ==== -->
    <div
      class="flex flex-wrap items-center gap-2 md:gap-6 mb-6 md:mb-8 text-center md:text-left"
    >
      <div
        class="flex items-end justify-center gap-3 md:justify-start"
      >
        <h1 class="text-2xl md:text-3xl font-bold">
          ยินดีต้อนรับเข้าสู่
        </h1>

        <h1 class="text-2xl md:text-4xl font-extrabold">
          ระบบฐานข้อมูลวิจัย
        </h1>
      </div>

      <!-- Date -->
      <div
        class="flex items-center gap-2 text-xl ml-auto"
      >
        <i class="bi bi-calendar-event text-xl"></i>
        <span>{{ today | date : "EEEE ที่ dd MMMM yyyy" : "" : "th-TH" }}</span>
      </div>
    </div>

    <!-- ===== Summary Cards ===== -->
     <!-- bg-linear-to-r from-amber-200 to-yellow-300 -->
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 md:gap-6">
      <div
        class="items-center p-6 bg-white rounded-xl shadow"
      >
        <div class="flex justify-between">
          <i class="bi bi-flask text-6xl"></i>
          <p class="text-2xl font-black">โครงการวิจัย</p>
        </div>

        <div class="ml-auto flex items-center gap-6 justify-between">
          <h2 class="text-4xl font-black">1,200</h2>
          <div>
            <p class="text-xl font-semibold">ชาย 501 | หญิง 600</p>
            <!-- <p class="text-lg font-semibold text-gray-600 italic">
              TH 100 · EN 100
            </p> -->
          </div>
        </div>
      </div>

      <div
        class="items-center p-6 bg-white rounded-xl shadow"
      >
        <div class="flex justify-between">
          <i class="bi bi-file-earmark-text text-6xl"></i>
          <p class="text-2xl font-black">บทความ</p>
        </div>

        <div class="ml-auto flex items-center gap-6 justify-between">
          <h2 class="text-4xl font-black">860</h2>
          <div>
            <p class="text-xl font-semibold">ชาย 501 | หญิง 600</p>
            <!-- <p class="text-lg font-semibold italic text-gray-600">
              TH 100 · EN 100
            </p> -->
          </div>
        </div>
      </div>

      <div
        class="items-center p-6 bg-white rounded-xl shadow"
      >
        <div class="flex justify-between">
          <i class="bi bi-award text-6xl"></i>
          <h2 class="text-2xl font-black">นวัตกรรม</h2>
        </div>

        <div class="ml-auto flex items-center gap-6 justify-between">
          <h2 class="text-4xl font-black">210</h2>
          <div>
            <p class="text-xl font-semibold">ชาย 501 | หญิง 600</p>
            <!-- <p class="text-lg font-semibold italic text-gray-600">
              TH 100 · EN 100
            </p> -->
          </div>
        </div>
      </div>

      <div
        class="items-center p-6 bg-white rounded-xl shadow"
      >
        <div class="flex justify-between">
          <i class="bi bi-people text-6xl"></i>
          <p class="text-2xl font-black">จำนวนนักวิจัย</p>
        </div>
        <div class="ml-auto flex items-center gap-6 justify-between">
          <h2 class="text-4xl font-black">340</h2>
          <div>
            <p class="text-xl font-semibold">ชาย 501 | หญิง 600</p>
            <!-- <p class="text-lg font-semibold italic text-gray-600">
              TH 100 · EN 100
            </p> -->
          </div>
        </div>
      </div>
    </div>

    <!-- ===== Charts ===== -->
    <div class="bg-[#F9CB34] p-2 md:p-6 sm:p-8 rounded-2xl shadow-lg space-y-5">
      <!-- Dashboard Title -->
      <div
        class="flex items-center gap-4 text-2xl mb-2 md:text-3xl sm:text-4xl font-bold"
      >
        <i class="bi bi-pie-chart-fill"></i>
        <h1>ภาพรวมฐานข้อมูลงานวิจัย</h1>
      </div>

      <!-- Charts -->
      <div
        *ngFor="let c of charts"
        class="bg-white rounded-2xl shadow-md overflow-hidden"
      >
        <!-- Chart Header -->
        <div
          class="bg-[#394250] p-1 md:px-6 sm:px-8 md:py-4 flex flex-col sm:flex-row sm:items-center sm:justify-between gap-4"
        >
          <!-- Title + Subtitle -->
          <div>
            <h2 class="text-xl flex justify-center md:justify-start sm:text-2xl font-bold text-white">
              {{ c.title }}
            </h2>

            <p class="text-xl text-gray-300 flex justify-center md:justify-start">
              {{ c.subtitle }}
            </p>
          </div>

          <!-- Action Button -->
          <button
          (click)="SeeMoreDetails(c.type)"
            type="button"
            class="flex items-center justify-center gap-2 bg-yellow-400 hover:bg-yellow-500 text-[#394250] hover:text-white px-4 py-2 rounded-xl shadow cursor-pointer transition sm:self-auto self-center focus:outline-none focus:ring-2 focus:ring-yellow-300"
          >
            <i
              class="bi bi-file-earmark-bar-graph-fill text-xl sm:text-2xl"
            ></i>
            <span class="inline md:hidden lg:inline text-lg sm:text-xl font-semibold">
              ดูรายละเอียดเพิ่มเติม
            </span>
          </button>
        </div>

        <!-- Chart Body -->
        <div class="p-4 sm:p-6">
          <apx-chart class="text-white"
            [series]="c.series"
            [chart]="c.chart"
            [labels]="c.labels"
            [legend]="c.legend"
            [plotOptions]="c.plotOptions"
            [dataLabels]="c.dataLabels"
            [responsive]="c.responsive"
            [colors]="c.colors"
          >
          </apx-chart>
        </div>
      </div>
    </div>

    <!-- ===== News Section ===== -->
    <div
      class="bg-[#394250] p-3 sm:px-8 rounded-2xl shadow-lg space-y-15"
    >
      <!-- Header -->
      <div class="flex items-center justify-between mb-4">
        <h1 class="text-2xl md:text-3xl font-bold text-white">ข่าวประชาสัมพันธ์</h1>
        <a routerLink="/news" class="text-xl text-white hover:underline hover:text-[#F9CB34]">
          ดูข่าวทั้งหมด →
        </a>
      </div>

      <div>
        <!-- News Cards -->
        <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
          <div
            *ngFor="let news of newsList"
            class="bg-white rounded-xl shadow hover:shadow-lg transition duration-300 hover:scale-105 flex flex-col"
          >
            <!-- Image -->
            <img
              [src]="news.imageUrl"
              class="h-44 w-full object-cover rounded-t-xl"
            />

            <!-- Content -->
            <div class="p-4 flex flex-col flex-1 text-[#394250]">
              <h2 class="text-xl font-bold line-clamp-2">
                {{ news.title }}
              </h2>

              <p class="text-xl line-clamp-3 mt-1 flex-1">
                {{ news.summary }}
              </p>

              <!-- Read more -->
              <div class="mt-3 text-right">
                <a
                  [href]="news.link"
                  class="hover:text-[#F9CB34] text-xl font-medium hover:underline inline-flex items-center gap-1 cursor-pointer"
                >
                  อ่านเพิ่มเติม
                  <span>→</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- ===== Publications Table ===== -->
      <div class="bg-white rounded-xl p-2 md:p-6 shadow font-bold text-[#394250]">
        <div class="flex items-center justify-between mb-2 md:mb-4">
          <h1 class="text-2xl md:text-3xl">ผลงานที่ตีพิมพ์</h1>
        </div>

        <div
          class="grid grid-cols-1 md:grid-cols-2 gap-2 md:gap-4 md:flex md:justify-between"
        >
          <div class="flex items-center md:space-x-4 mb-2 md:mb-4">
            <button
              (click)="changeTab('research')"
              [ngClass]="
                selectedTab === 'research'
                  ? 'bg-[#FDE68A] text-[#394250]'
                  : 'text-[#394250] hover:bg-[#FDE68A]'
              "
              class="px-2 md:px-4 py-2 rounded-lg cursor-pointer text-xl whitespace-nowrap"
            >
              โครงการวิจัย
            </button>
            <button
              (click)="changeTab('article')"
              [ngClass]="
                selectedTab === 'article'
                  ? 'bg-[#FDE68A] text-[#394250]'
                  : 'text-[#394250] hover:bg-[#FDE68A]'
              "
              class="px-2 md:px-4 py-2 rounded-lg cursor-pointer text-xl"
            >
              บทความ
            </button>
            <button
              (click)="changeTab('innovation')"
              [ngClass]="
                selectedTab === 'innovation'
                  ? 'bg-[#FDE68A] text-[#394250]'
                  : 'text-[#394250] hover:bg-[#FDE68A]'
              "
              class="px-2 md:px-4 py-2 rounded-lg cursor-pointer text-xl whitespace-nowrap"
            >
              นวัตกรรมสิ่งประดิษฐ์
            </button>
          </div>

          <div class="text-xl mb-4 flex justify-end gap-2">
            Search:
            <input
              type="text"
              [(ngModel)]="searchText"
              (input)="onSearch()"
              class="border border-gray-300 rounded px-2 py-1 text-lg md:text-xl w-20 lg:w-40 font-medium"
              placeholder="ค้นหา..."
            />
          </div>
        </div>

        <div class="overflow-x-auto">
        <table class="w-full text-xl min-w-225 table-auto">
          <colgroup>
            <col class="w-[5%]">
            <col class="w-[50%]">
            <col class="w-[30%]">
            <col class="w-[15%]">
          </colgroup>

          <thead class="bg-[#394250] text-white">
            <tr>
              <th class="p-2">#</th>
              <th class="p-2 text-start">ชื่อผลงาน</th>
              <th class="p-2 text-start">ผู้วิจัย</th>
              <th class="p-2">ปี</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let p of paginatedPublications; let i = index"
              class="border-b border-gray-300 hover:bg-gray-50"
            >
              <td class="p-2 text-center">{{ i + 1 }}</td>
              <td class="p-2">
                <div
                  class="text-indigo-600 hover:underline cursor-pointer truncate max-w-125 text-wrap"
                  title="{{ p.title }}"
                  (click)="viewItem(p.id)"
                >
                  {{ p.title }}
                </div>

                <div class="text-lg hidden md:inline text-gray-500 mt-1  items-center gap-1">
                  <i class="bi bi-calendar-event"></i>
                  วันที่สร้าง: {{ p.date }}
                </div>
              </td>
              <td class="p-2">{{ p.researchers }}</td>
              <td class="p-2 text-center">{{ p.year }}</td>
            </tr>

            <!-- ไม่พบข้อมูล -->
            <tr *ngIf="filteredResearch.length === 0">
              <td colspan="5" class="text-center p-4 text-gray-500">
                ไม่พบข้อมูล
              </td>
            </tr>
          </tbody>
        </table>
      </div>

        <!-- Pagination -->
        <div class="flex justify-end mt-3 space-x-1">
          <!-- Prev -->
          <button
            (click)="changePage(currentPage - 1)"
            [disabled]="currentPage === 1"
            class="px-2 md:px-3 py-1 rounded border text-sm disabled:opacity-40 hover:bg-gray-100 cursor-pointer"
          >
            ‹
          </button>

          <!-- Pages -->
          <button
            *ngFor="let page of pages"
            (click)="changePage(page)"
            class="px-2 md:px-3 py-1 rounded border text-2sm transition"
            [ngClass]="{
              'bg-[#FACC15] text-[#1E293B] border-[#FACC15]':
                currentPage === page,
              'hover:bg-gray-100': currentPage !== page
            }"
          >
            {{ page }}
          </button>

          <!-- Next -->
          <button
            (click)="changePage(currentPage + 1)"
            [disabled]="currentPage === totalPages"
            class="px-2 md:px-3 py-1 rounded border text-sm disabled:opacity-40 hover:bg-gray-100 cursor-pointer"
          >
            ›
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- ===== Quick Access Cards ===== -->
  <div class="mx-auto p-5 md:px-10 md:py-10">
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-3 md:gap-6 max-w-6xl mx-auto">
      <!-- Card 1 -->
      <div
        (click)="goToResearch()"
        class="group bg-white rounded-2xl h-44 flex flex-col items-center justify-center shadow hover:shadow-xl transition-all duration-300 cursor-pointer hover:-translate-y-1"
      >
        <!-- Icon Circle -->
        <div
          class="w-16 h-16 rounded-full bg-amber-100 flex items-center justify-center mb-3 transition-all duration-300 group-hover:bg-[#F9CB34]"
        >
          <i
            class="bi bi-book text-3xl text-amber-500 transition-all duration-300 group-hover:text-white group-hover:scale-110"
          ></i>
        </div>

        <h2 class="text-2xl font-bold text-[#394250]">โครงการวิจัย</h2>
        <p class="text-xl text-gray-500 mt-1">Research Projects</p>
      </div>

      <!-- Card 2 -->
      <div
        (click)="goToAticle()"
        class="group bg-white rounded-2xl h-44 flex flex-col items-center justify-center shadow hover:shadow-xl transition-all duration-300 cursor-pointer hover:-translate-y-1"
      >
        <div
          class="w-16 h-16 rounded-full bg-amber-100 flex items-center justify-center mb-3 transition-all duration-300 group-hover:bg-[#F9CB34]"
        >
          <i
            class="bi bi-graph-up text-3xl text-amber-500 transition-all duration-300 group-hover:text-white group-hover:scale-110"
          ></i>
        </div>

        <h2 class="text-2xl font-semibold text-[#394250]">บทความ / วารสาร</h2>
        <p class="text-xl text-gray-500 mt-1">Articles & Journals</p>
      </div>

      <!-- Card 3 -->
      <div
        (click)="goToInnovation()"
        class="group bg-white rounded-2xl h-44 flex flex-col items-center justify-center shadow hover:shadow-xl transition-all duration-300 cursor-pointer hover:-translate-y-1"
      >
        <div
          class="w-16 h-16 rounded-full bg-amber-100 flex items-center justify-center mb-3 transition-all duration-300 group-hover:bg-[#F9CB34]"
        >
          <i
            class="bi bi-stars text-3xl text-amber-500 transition-all duration-300 group-hover:text-white group-hover:scale-110"
          ></i>
        </div>

        <h2 class="text-2xl font-semibold text-[#394250]">
          นวัตกรรมสิ่งประดิษฐ์
        </h2>
        <p class="text-xl text-gray-500 mt-1">Innovations</p>
      </div>

      <!-- Card 4 -->
      <div
        (click)="goToManual()"
        class="group bg-white rounded-2xl h-44 flex flex-col items-center justify-center shadow hover:shadow-xl transition-all duration-300 cursor-pointer hover:-translate-y-1"
      >
        <div
          class="w-16 h-16 rounded-full bg-amber-100 flex items-center justify-center mb-3 transition-all duration-300 group-hover:bg-[#F9CB34]"
        >
          <i
            class="bi bi-person-lines-fill text-3xl text-amber-500 transition-all duration-300 group-hover:text-white group-hover:scale-110"
          ></i>
        </div>

        <h2 class="text-2xl font-semibold text-[#394250]">คู่มือการใช้งาน</h2>
        <p class="text-xl text-gray-500 mt-1">User Manual</p>
      </div>
    </div>
  </div>
</div>
