<div class="bg-gray-100 min-h-screen text-[#394250] font-medium">
  <div class="mx-auto p-5 md:px-10 md:py-10 space-y-4 md:space-y-16">
    <!-- ==== Title ==== -->
    <div
      class="flex flex-col md:flex-row items-center gap-2 md:gap-6 mb-6 md:mb-8 text-center md:text-left"
    >
      <div
        class="flex flex-col md:flex-row md:items-end justify-center gap-3 md:justify-start"
      >
        <h1 class="text-xl md:text-xl lg:text-3xl">ยินดีต้อนรับเข้าสู่</h1>

        <h1 class="text-xl md:text-2xl lg:text-4xl text-[#16498C]">
          ระบบฐานข้อมูลเพื่องานวิจัยและงานบริการวิชาการ
        </h1>
      </div>

      <!-- Date -->
      <div class="flex items-center gap-2 text-sm ml-auto">
        <i class="bi bi-calendar-event text-lg"></i>
        <span>{{ today | date : "EEEE ที่ dd MMMM yyyy" : "" : "th-TH" }}</span>
      </div>
    </div>

    <!-- ===== Summary Cards ===== -->
    <div
      class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-4 gap-4 md:gap-6 md:px-10"
    >
      <div
        class="items-center p-6 bg-linear-to-r from-[#16498C] to-[#061426] rounded-xl shadow"
      >
        <div class="flex justify-between">
          <i class="bi bi-flask text-6xl text-white"></i>
          <p class="text-2xl text-white text-end">โครงการวิจัย</p>
        </div>

        <div class="ml-auto flex items-center gap-6 mt-8 justify-between">
          <div>
            <p class="text-xl font-regular ml-3 text-white">จำนวนทั้งหมด</p>
          </div>
          <h2 class="text-5xl text-white">
            {{ dashboardData?.statistic_research?.total_project }}
          </h2>
        </div>
      </div>

      <div class="items-center p-6 bg-white rounded-xl shadow">
        <div class="flex justify-between">
          <i class="bi bi-file-earmark-text text-6xl"></i>
          <p class="text-2xl text-end">บทความวิชาการ</p>
        </div>

        <div class="ml-auto flex items-center gap-6 mt-8 justify-between">
          <div>
            <p class="text-xl font-regular ml-3">จำนวนทั้งหมด</p>
          </div>
          <h2 class="text-5xl">
            {{ dashboardData?.statistic_research?.total_article }}
          </h2>
        </div>
      </div>

      <div class="items-center p-6 bg-white rounded-xl shadow">
        <div class="flex justify-between">
          <i class="bi bi-award text-6xl"></i>
          <h2 class="text-2xl text-end">นวัตกรรมสิ่งประดิษฐ์</h2>
        </div>

        <div class="ml-auto flex items-center gap-6 mt-8 justify-between">
          <div>
            <p class="text-xl font-regular ml-3">จำนวนทั้งหมด</p>
          </div>
          <h2 class="text-5xl">
            {{ dashboardData?.statistic_research?.total_innovation }}
          </h2>
        </div>
      </div>

      <div class="items-center p-6 bg-white rounded-xl shadow">
        <div class="flex justify-between">
          <i class="bi bi-people text-6xl"></i>
          <p class="text-2xl text-end">จำนวนนักวิจัย</p>
        </div>

        <div class="ml-auto flex items-center gap-6 mt-8 justify-between">
          <div>
            <p class="text-xl font-regular ml-3">จำนวนทั้งหมด</p>
          </div>
          <h2 class="text-5xl">
            {{ dashboardData?.statistic_research?.total_users }}
          </h2>
        </div>
      </div>
    </div>

    <!-- ===== FORD ===== -->
    <div class="bg-white p-4 md:p-6 rounded-2xl shadow-lg space-y-6">
      <!-- 🔷 HEADER -->
      <div class="flex items-center gap-3 text-2xl md:text-3xl text-[#16498C]">
        <i class="bi bi-pie-chart-fill"></i>
        <h1 class="font-semibold">Skills Overview</h1>
      </div>

      <div class="flex flex-wrap items-center gap-2 md:gap-4 mt-6 mb-4">
        <div class="flex flex-wrap gap-2 md:gap-3">
          <button
            (click)="changeTabForChart('PROJECT')"
            [ngClass]="
              selectedTab === 'PROJECT'
                ? 'bg-[#118CD9] text-white'
                : 'text-[#394250] hover:bg-[#4c7b98] hover:text-white'
            "
            class="px-2 md:px-4 py-2 rounded-lg cursor-pointer text-sm md:text-lg whitespace-nowrap"
          >
            โครงการวิจัย
          </button>

          <button
            (click)="changeTabForChart('ARTICLE')"
            [ngClass]="
              selectedTab === 'ARTICLE'
                ? 'bg-[#118CD9] text-white'
                : 'text-[#394250] hover:bg-[#4c7b98] hover:text-white'
            "
            class="px-2 md:px-4 py-2 rounded-lg cursor-pointer text-sm md:text-lg"
          >
            บทความ
          </button>

          <button
            (click)="changeTabForChart('INNOVATION')"
            [ngClass]="
              selectedTab === 'INNOVATION'
                ? 'bg-[#118CD9] text-white'
                : 'text-[#394250] hover:bg-[#4c7b98] hover:text-white'
            "
            class="px-2 md:px-4 py-2 rounded-lg cursor-pointer text-sm md:text-lg whitespace-nowrap"
          >
            นวัตกรรมสิ่งประดิษฐ์
          </button>
        </div>
      </div>

      <!-- 🔷 CONTENT (2 COLUMN) -->
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
        <!-- ===== LEFT: RADAR ===== -->
        <div
          class="bg-white rounded-xl shadow-md p-4 border border-gray-200 hover:shadow-lg transition"
        >
          <div class="flex items-center gap-2">
            <h3 class="text-lg md:text-xl">สาขา OECD หลัก</h3>
            <h4 class="text-lg">
              {{
                selectedTab === "PROJECT"
                  ? "(โครงการวิจัย)"
                  : selectedTab === "ARTICLE"
                  ? "(บทความ)"
                  : "(นวัตกรรม)"
              }}
            </h4>
          </div>

          <div class="w-full">
            <apx-chart
              class="w-full h-full"
              [series]="radarChartOptions.series!"
              [chart]="radarChartOptions.chart!"
              [labels]="radarChartOptions.labels!"
              [fill]="radarChartOptions.fill!"
              [stroke]="radarChartOptions.stroke!"
              [markers]="radarChartOptions.markers!"
              [xaxis]="radarChartOptions.xaxis!"
              [yaxis]="radarChartOptions.yaxis!"
              [plotOptions]="radarChartOptions.plotOptions!"
              [dataLabels]="radarChartOptions.dataLabels!"
              [tooltip]="radarChartOptions.tooltip!"
            >
            </apx-chart>
          </div>
        </div>

        <!-- ===== RIGHT: PIE ===== -->
        <div class="bg-[#394250] text-white rounded-xl shadow p-4 md:p-6">
          <div class="flex items-center gap-2 flex-wrap">
            <i class="bi bi-pie-chart-fill"></i>
            <h2 class="text-lg md:text-xl">การจัดกลุ่มของ FORD</h2>
            <h4 class="text-base md:text-lg text-gray-300">
              {{
                selectedTab === "PROJECT"
                  ? "(โครงการวิจัย)"
                  : selectedTab === "ARTICLE"
                  ? "(บทความ)"
                  : "(นวัตกรรม)"
              }}
            </h4>
          </div>

          <!-- <ng-container *ngIf="single?.length && !loading; else noData">
            <ngx-charts-pie-chart
            class="flex justify-center items-center p-5"
              [view]="view"
              [scheme]="colorScheme"
              [results]="single"
              [gradient]="gradient"
              [legend]="showLegend"
              [legendPosition]="legendPosition"
              [labels]="showLabels"
              [doughnut]="isDoughnut"
            >
            </ngx-charts-pie-chart>
          </ng-container> -->
          <ng-container *ngIf="hasData; else noData">
            <ag-charts [options]="options" style="display: block; height: 300px"></ag-charts>
          </ng-container>

          <ng-template #noData>
            <div class="text-center py-16 opacity-80">ไม่พบข้อมูล</div>
          </ng-template>
        </div>

        <div
          class="bg-white rounded-xl shadow-md p-4 border border-gray-200 hover:shadow-lg transition"
        >
          <div class="flex items-center gap-2">
            <h3 class="text-lg md:text-xl">สาขา OECD ย่อย</h3>
            <h4 class="text-lg">
              {{
                selectedTab === "PROJECT"
                  ? "(โครงการวิจัย)"
                  : selectedTab === "ARTICLE"
                  ? "(บทความ)"
                  : "(นวัตกรรม)"
              }}
            </h4>
          </div>

          <div class="w-full">
            <apx-chart
              class="w-full h-full"
              [series]="radarChartOptionsSub.series!"
              [chart]="radarChartOptionsSub.chart!"
              [labels]="radarChartOptionsSub.labels!"
              [fill]="radarChartOptionsSub.fill!"
              [stroke]="radarChartOptionsSub.stroke!"
              [markers]="radarChartOptionsSub.markers!"
              [xaxis]="radarChartOptionsSub.xaxis!"
              [yaxis]="radarChartOptionsSub.yaxis!"
              [plotOptions]="radarChartOptionsSub.plotOptions!"
              [dataLabels]="radarChartOptionsSub.dataLabels!"
              [tooltip]="radarChartOptionsSub.tooltip!"
            >
            </apx-chart>
          </div>
        </div>

        <div class="bg-white rounded-xl shadow-md p-4 border border-gray-200">
          <div class="flex items-center gap-2 flex-wrap">
            <i class="bi bi-pie-chart-fill"></i>
            <h2 class="text-lg md:text-xl">Top 10 สาขาที่เกี่ยวข้อง</h2>
            <h4 class="text-lg">
              {{
                selectedTab === "PROJECT"
                  ? "(โครงการวิจัย)"
                  : selectedTab === "ARTICLE"
                  ? "(บทความ)"
                  : "(นวัตกรรม)"
              }}
            </h4>
          </div>

          <div class="overflow-x-auto">
            <div *ngIf="chartsOECD.length > 0" class="min-w-175">
              <apx-chart
                [series]="chartsOECD[0].options.series"
                [chart]="chartsOECD[0].options.chart"
                [dataLabels]="chartsOECD[0].options.dataLabels"
                [plotOptions]="chartsOECD[0].options.plotOptions"
                [yaxis]="chartsOECD[0].options.yaxis"
                [xaxis]="chartsOECD[0].options.xaxis"
                [stroke]="chartsOECD[0].options.stroke"
                [grid]="chartsOECD[0].options.grid"
                [fill]="chartsOECD[0].options.fill"
                [annotations]="chartsOECD[0].options.annotations"
                [tooltip]="chartsOECD[0].options.tooltip!"
              ></apx-chart>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ===== Charts ===== -->
    <div class="bg-white p-2 md:p-6 sm:p-8 rounded-2xl shadow-lg space-y-5">
      <div
        class="flex items-center gap-4 text-2xl mb-2 md:text-3xl sm:text-4xl text-[#16498C]"
      >
        <i class="bi bi-pie-chart-fill"></i>
        <h1>ภาพรวมฐานข้อมูลงานวิจัย</h1>
      </div>

      <!-- Charts -->
      <div *ngFor="let c of charts" class="bg-white shadow-md overflow-hidden">
        <!-- Chart Header -->
        <div
          class="bg-[#EBEFF2] p-1 md:px-6 sm:px-8 md:py-4 flex flex-col sm:flex-row sm:items-center sm:justify-between gap-4"
        >
          <!-- Title + Subtitle -->
          <div>
            <h2
              class="text-xl flex justify-center md:justify-start sm:text-2xl text-[#394250]"
            >
              {{ c.title }}
            </h2>

            <p
              class="text-lg text-[#394250] flex justify-center md:justify-start"
            >
              {{ c.subtitle }}
            </p>
          </div>

          <!-- Action Button -->
          <button
            (click)="SeeMoreDetails(c.type)"
            type="button"
            class="flex items-center justify-center gap-2 bg-[#118CD9] hover:bg-[#4c7b98] text-[#ffffff] hover:text-white px-4 py-2 shadow cursor-pointer transition sm:self-auto self-center focus:outline-none focus:ring-2 focus:ring-yellow-300"
          >
            <i
              class="bi bi-file-earmark-bar-graph-fill text-xl sm:text-2xl"
            ></i>
            <span class="inline md:hidden lg:inline text-sm font-regular">
              ดูรายละเอียดเพิ่มเติม
            </span>
          </button>
        </div>

        <div
          class="grid grid-cols-1 md:grid-cols-1 w-full lg:grid-cols-[60%_40%] gap-6"
        >
          <!-- Chart Body -->
          <div class="p-4 md:p-5 w-full h-full overflow-x-auto">
            <div class="min-w-200">
              <apx-chart
                [series]="c.options.series"
                [chart]="c.options.chart"
                [dataLabels]="c.options.dataLabels"
                [plotOptions]="c.options.plotOptions"
                [yaxis]="c.options.yaxis"
                [xaxis]="c.options.xaxis"
                [stroke]="c.options.stroke"
                [grid]="c.options.grid"
                [fill]="c.options.fill"
                [annotations]="c.options.annotations"
                [tooltip]="c.options.tooltip!"
              >
              </apx-chart>
            </div>
          </div>

          <div
            class="bg-white shadow p-6 flex flex-col justify-between h-140 w-full md:col-span-1"
          >
            <div class="flex items-center gap-2 mb-4">
              <i class="bi bi-pie-chart-fill text-xl"></i>
              <h2 class="text-xl md:text-2xl">สัดส่วนผลงานตามหน่วยงาน</h2>
            </div>

            <!-- Scroll container -->
            <div class="space-y-1 overflow-y-auto h-90">
              <p
                *ngFor="
                  let item of c.type == 'project'
                    ? dashboardData?.statistic_graph?.graph_project
                    : c.type == 'article'
                    ? dashboardData?.statistic_graph?.graph_article
                    : dashboardData?.statistic_graph?.graph_innovation
                "
                class="flex justify-between items-center px-2 xl:px-5 gap-3"
              >
                <span
                  class="font-light md:text-lg xl:text-lg min-w-0 wrap-break-word"
                >
                  {{ item.label_full }}
                </span>
                <span
                  class="font-light text-md xl:text-lg shrink-0 whitespace-nowrap"
                >
                  {{ item.count }} ผลงาน
                </span>
              </p>
            </div>

            <div class="pt-4 border-t mt-2">
              <p class="text-2xl text-center text-[#394250]">
                รวมทั้งหมด {{ getTotalCount(c.type) }} ผลงาน
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ===== News Section ===== -->
    <div
      class="bg-[#ffffff] p-2 md:p-10 sm:px-8 rounded-2xl shadow-lg space-y-15"
    >
      <!-- Header -->
      <div class="flex items-center justify-between mb-4">
        <h1 class="text-xl md:text-3xl text-[#394250]">ข่าวประชาสัมพันธ์</h1>

        <div class="mt-4 flex justify-end">
          <button
            (click)="goToAllNews()"
            class="flex items-center gap-2 px-5 py-2 rounded-full border border-gray-300 text-sm font-regular bg-[#118CD9] hover:bg-[#4c7b98] text-[#ffffff] hover:text-white transition-all duration-300 cursor-pointer"
          >
            ดูข่าวทั้งหมด
            <i class="bi bi-arrow-right-circle-fill text-xl"></i>
          </button>
        </div>
      </div>

      <hr class="border-3 text-[#118CD9]" />

      <div>
        <!-- News Cards -->
        <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-6">
          <div
            *ngFor="let news of newsList"
            class="bg-[#EBEFF2] border border-gray-300 shadow-md hover:shadow-lg transition duration-300 hover:scale-105 flex flex-col overflow-hidden"
          >
            <!-- Image -->
            <div class="aspect-video w-full overflow-hidden">
              <img [src]="news.news_cover" class="w-full h-full object-cover" />
            </div>

            <!-- Content -->
            <div class="p-4 flex flex-col flex-1 text-[#394250]">
              <h2 class="text-lg line-clamp-2">
                {{ news.title }}
              </h2>

              <p class="text-sm text-gray-500 mt-1 flex-1">
                <i class="bi bi-calendar mr-2"></i
                >{{
                  news.published_date | date : "dd MMMM YYYY" : "" : "th-TH"
                }}
              </p>

              <!-- Read more -->
              <div class="mt-4 flex justify-end">
                <button
                  (click)="goToNewsDetail(news.news_id)"
                  class="flex items-center gap-2 px-5 py-2 rounded-full border border-gray-300 text-sm font-regular bg-[#118CD9] hover:bg-[#4c7b98] text-[#ffffff] hover:text-white transition-all duration-300 cursor-pointer"
                >
                  อ่านเพิ่มเติม
                  <i class="bi bi-arrow-right-circle-fill text-xl"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- ===== Publications Table ===== -->
      <div class="bg-white rounded-xl p-2 md:p-6 shadow text-[#394250]">
        <div class="flex items-center justify-between mb-2 md:mb-4">
          <h1 class="text-2xl md:text-3xl">ผลงานที่ตีพิมพ์</h1>
        </div>

        <hr class="border-3 text-[#118CD9]" />

        <div class="flex flex-wrap items-center gap-2 md:gap-4 mt-6 mb-4">
          <div class="flex flex-wrap gap-2 md:gap-3">
            <button
              (click)="changeTab('PROJECT')"
              [ngClass]="
                selectedTab === 'PROJECT'
                  ? 'bg-[#118CD9] text-white'
                  : 'text-[#394250] hover:bg-[#4c7b98] hover:text-white'
              "
              class="px-2 md:px-4 py-2 rounded-lg cursor-pointer text-sm md:text-lg whitespace-nowrap"
            >
              โครงการวิจัย
            </button>

            <button
              (click)="changeTab('ARTICLE')"
              [ngClass]="
                selectedTab === 'ARTICLE'
                  ? 'bg-[#118CD9] text-white'
                  : 'text-[#394250] hover:bg-[#4c7b98] hover:text-white'
              "
              class="px-2 md:px-4 py-2 rounded-lg cursor-pointer text-sm md:text-lg"
            >
              บทความ
            </button>

            <button
              (click)="changeTab('INNOVATION')"
              [ngClass]="
                selectedTab === 'INNOVATION'
                  ? 'bg-[#118CD9] text-white'
                  : 'text-[#394250] hover:bg-[#4c7b98] hover:text-white'
              "
              class="px-2 md:px-4 py-2 rounded-lg cursor-pointer text-sm md:text-lg whitespace-nowrap"
            >
              นวัตกรรมสิ่งประดิษฐ์
            </button>
          </div>

          <!-- Search -->
          <div class="ml-auto flex items-center gap-2 text-sm md:text-lg">
            <span>Search:</span>
            <input
              type="text"
              [(ngModel)]="searchText"
              (input)="onSearch()"
              class="border border-gray-300 rounded px-2 py-1 w-28 md:w-40 font-light"
              placeholder="ค้นหา..."
            />
          </div>
        </div>

        <div class="overflow-x-auto font-light">
          <table class="w-full text-lg min-w-225 table-auto">
            <colgroup>
              <col class="w-[5%]" />
              <col class="w-[10%]" />
              <col class="w-[40%]" />
              <col class="w-[20%]" />
              <col class="w-[15%]" />
              <col class="w-[10%]" />
            </colgroup>

            <thead class="bg-[#394250] text-white">
              <tr>
                <th class="p-2">#</th>
                <th class="p-2 text-center">รหัส</th>
                <th class="p-2 text-center">ชื่อผลงาน</th>
                <th class="p-2 text-center">แหล่งทุน</th>
                <th class="p-2 text-start">
                  {{
                    selectedTab === "PROJECT"
                      ? "หัวหน้าโครงการ"
                      : selectedTab === "ARTICLE"
                      ? "ผู้ประพันธ์อันดับแรก"
                      : "หัวหน้าโครงการ"
                  }}
                </th>
                <th class="p-2">ปี</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let p of paginatedPublications; let i = index"
                class="border-b border-gray-300 hover:bg-gray-50"
              >
                <td class="p-2 text-center">
                  {{ (currentPage - 1) * pageSize + i + 1 }}
                </td>
                <td class="p-2 text-center">{{ p.research_code || "-" }}</td>
                <td class="p-2">
                  <div
                    class="text-[#16498C] hover:underline cursor-pointer truncate max-w-125 text-wrap text-lg"
                    title="{{ p.title_th || p.title_en }}"
                    (click)="viewItem(p.research_id)"
                  >
                    {{ p.title_th || p.title_en }}
                  </div>

                  <div
                    class="text-sm hidden md:inline text-gray-500 mt-1 items-center gap-1"
                  >
                    <i class="bi bi-calendar-event"></i>
                    วันที่สร้าง:
                    {{
                      p.published_date | date : "dd MMMM YYYY" : "" : "TH-th"
                    }}
                  </div>
                </td>
                <td>
                  <strong>ประเภท : </strong>{{ p.funding.source_funds || "-" }}
                  <br />
                  <strong>ชื่อแหล่งทุน : </strong
                  >{{ p.funding.funding_name || "-" }}
                </td>

                <td class="p-2">{{ p.own[0].full_name }}</td>
                <td class="p-2 text-center">{{ p.year }}</td>
              </tr>

              <!-- ไม่พบข้อมูล -->
              <tr *ngIf="filteredResearch.length === 0">
                <td colspan="6" class="text-center p-4 text-gray-500">
                  <i class="bi bi-folder-x text-3xl block mb-2"></i>
                  ไม่พบข้อมูล
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Pagination -->
        <div
          class="flex flex-col md:flex-row md:justify-end md:items-center mt-4 gap-2 font-light"
        >
          <div class="flex items-center justify-end space-x-1">
            <!-- Prev -->
            <button
              (click)="changePage(currentPage - 1)"
              [disabled]="currentPage === 1"
              class="px-2 md:px-3 py-1 rounded border text-sm disabled:opacity-40 hover:bg-gray-100 cursor-pointer"
            >
              ‹
            </button>

            <!-- Pages -->
            <ng-container *ngFor="let page of visiblePages">
              <!-- ปุ่มตัวเลข -->
              <button
                *ngIf="page !== '...'"
                (click)="changePage(+page)"
                class="px-2 md:px-3 py-1 rounded border text-sm transition cursor-pointer"
                [ngClass]="{
                  'bg-[#118CD9] text-white': currentPage === page,
                  'hover:bg-gray-100': currentPage !== page
                }"
              >
                {{ page }}
              </button>

              <!-- จุด ... -->
              <span
                *ngIf="page === '...'"
                class="px-2 py-1 text-sm text-gray-400 select-none"
                >...</span
              >
            </ng-container>

            <!-- Next -->
            <button
              (click)="changePage(currentPage + 1)"
              [disabled]="currentPage === totalPages"
              class="px-2 md:px-3 py-1 rounded border text-sm disabled:opacity-40 hover:bg-gray-100 cursor-pointer"
            >
              ›
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ===== Quick Access Cards ===== -->
  <div class="mx-auto p-5 md:p-10">
    <div
      class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-4 gap-3 md:gap-6 mx-auto"
    >
      <!-- Card 1 -->
      <div
        (click)="goToResearch()"
        class="group bg-white rounded-2xl h-44 flex flex-col items-center justify-center shadow hover:shadow-xl transition-all duration-300 cursor-pointer hover:-translate-y-1"
      >
        <!-- Icon Circle -->
        <div
          class="w-16 h-16 border-[#118CD9] border rounded-full bg-[#EBEFF2] flex items-center justify-center mb-3 transition-all duration-300 group-hover:bg-[#118CD9]"
        >
          <i
            class="text-[#118CD9] bi bi-book text-3xl transition-all duration-300 group-hover:text-white group-hover:scale-110"
          ></i>
        </div>

        <h2 class="text-2xl text-[#394250]">โครงการวิจัย</h2>
        <p class="text-lg text-gray-500 mt-1">Research Projects</p>
      </div>

      <!-- Card 2 -->
      <div
        (click)="goToAticle()"
        class="group bg-white rounded-2xl h-44 flex flex-col items-center justify-center shadow hover:shadow-xl transition-all duration-300 cursor-pointer hover:-translate-y-1"
      >
        <div
          class="w-16 h-16 border-[#118CD9] border rounded-full bg-[#EBEFF2] flex items-center justify-center mb-3 transition-all duration-300 group-hover:bg-[#118CD9]"
        >
          <i
            class="bi bi-graph-up text-3xl text-[#118CD9] transition-all duration-300 group-hover:text-white group-hover:scale-110"
          ></i>
        </div>

        <h2 class="text-2xl text-[#394250]">บทความ / วารสาร</h2>
        <p class="text-lg text-gray-500 mt-1">Articles & Journals</p>
      </div>

      <!-- Card 3 -->
      <div
        (click)="goToInnovation()"
        class="group bg-white rounded-2xl h-44 flex flex-col items-center justify-center shadow hover:shadow-xl transition-all duration-300 cursor-pointer hover:-translate-y-1"
      >
        <div
          class="w-16 h-16 border-[#118CD9] border rounded-full bg-[#EBEFF2] flex items-center justify-center mb-3 transition-all duration-300 group-hover:bg-[#118CD9]"
        >
          <i
            class="bi bi-stars text-3xl text-[#118CD9] transition-all duration-300 group-hover:text-white group-hover:scale-110"
          ></i>
        </div>

        <h2 class="text-2xl text-[#394250]">นวัตกรรมสิ่งประดิษฐ์</h2>
        <p class="text-lg text-gray-500 mt-1">Innovations</p>
      </div>

      <!-- Card 4 -->
      <div
        (click)="goToManual()"
        class="group bg-white rounded-2xl h-44 flex flex-col items-center justify-center shadow hover:shadow-xl transition-all duration-300 cursor-pointer hover:-translate-y-1"
      >
        <div
          class="w-16 h-16 border-[#118CD9] border rounded-full bg-[#EBEFF2] flex items-center justify-center mb-3 transition-all duration-300 group-hover:bg-[#118CD9]"
        >
          <i
            class="bi bi-person-lines-fill text-3xl text-[#118CD9] transition-all duration-300 group-hover:text-white group-hover:scale-110"
          ></i>
        </div>

        <h2 class="text-2xl text-[#394250]">คู่มือการใช้งาน</h2>
        <p class="text-lg text-gray-500 mt-1">User Manual</p>
      </div>
    </div>
  </div>
</div>
