<div class="bg-gray-100 min-h-screen p-5 md:p-10 text-2xl font-medium">
  <div class="mx-auto bg-white rounded-2xl shadow p-4 md:p-8 space-y-10">
    <!-- Header -->
    <div>
      <h1 class="text-3xl text-gray-800">แก้ไขข้อมูลนักวิจัย</h1>
      <div class="flex items-center gap-2 mt-3 text-indigo-600">
        <i class="bi bi-pencil-square"></i>
        <span>ข้อมูลการศึกษา</span>
      </div>
      <hr class="mt-4" />
    </div>

    <div class="flex justify-end mb-2 md:mb-8">
      <button
        (click)="openAddModal()"
        class="flex items-center gap-2 text-lg font-light bg-[#118CD9] hover:bg-[#4c7b98] px-4 py-2 rounded-lg text-white transition cursor-pointer"
      >
        <i class="bi bi-plus"></i>เพิ่มข้อมูลการศึกษา
      </button>
    </div>

    <div class="w-full overflow-x-auto bg-white shadow-sm mb-4 md:mb-8">
      <table class="min-w-225 w-full border-collapse font-light">
        <!-- Table Header -->
        <thead class="text-lg ">
          <tr class="bg-[#394250] text-white">
            <th class="p-1 md:p-2 text-center whitespace-nowrap">
              ระดับการศึกษา
            </th>
            <th class="p-1 md:p-2 text-center">สาขา</th>
            <th class="p-1 md:p-2 text-center">
              วุฒิการศึกษา
            </th>

            <th class="p-1 md:p-2 text-center whitespace-nowrap">
              สถานที่ศึกษา
            </th>
            <th class="p-1 md:p-2 text-center whitespace-nowrap">
              ปีที่สำเร็จการศึกษา
            </th>
            <th class="p-1 md:p-2 text-center whitespace-nowrap">
              การจัดการ
            </th>
          </tr>
        </thead>

        <!-- Table Body -->
        <tbody>
          <tr
            class="border-b border-gray-300 bg-gray-200 hover:bg-gray-50 transition"
          >
            <td class="p-1 md:p-2 max-w-88 wrap-break-word">
              {{ educationData.highest_education }}
            </td>

            <td class="p-1 md:p-2 max-w-60 wrap-break-word">
              {{ educationData.qualification }}
            </td>

            <td class="p-1 md:p-2 max-w-56 wrap-break-word">
              {{ educationData.field_of_study }}
            </td>

            <td class="p-1 md:p-2 whitespace-nowrap">
              {{ educationData.institution }}
            </td>

            <td class="p-1 md:p-2 whitespace-nowrap">
              {{
                educationData.date_graduation
                  | date : "dd MMMM YYYY" : "" : "TH-th"
              }}
            </td>

            <!-- Actions -->
            <td class="p-1 md:p-2 text-center whitespace-nowrap">
              <button
                (click)="openEditModal(educationData)"
                class="inline-flex items-center justify-center w-9 h-9 rounded-full text-sky-600 hover:bg-sky-100 hover:text-sky-700 transition cursor-pointer"
                title="แก้ไข"
              >
                <i class="bi bi-pencil-square"></i>
              </button>

              <button
                class="inline-flex items-center justify-center w-9 h-9 rounded-full text-red-500 hover:bg-red-100 hover:text-red-700 transition cursor-pointer"
                title="ลบ"
              >
                <i class="bi bi-trash3"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- ปุ่ม -->
    <div class="flex justify-center mt-6">
      <button
        type="submit"
        (click)="saveGotoProfile()"
        class="px-6 py-2 bg-[#118CD9] hover:bg-[#4c7b98] text-white font-light rounded-md transition cursor-pointer"
      >
        บันทึกข้อมูล
      </button>
    </div>
  </div>
</div>

<!-- ====== Modal Edit ====== -->
<div
  *ngIf="isModalOpen"
  class="fixed inset-0 bg-black/40 backdrop-blur-sm z-50 flex items-center justify-center text-2xl text-[#394250]"
>
  <!-- Modal Box -->
  <div class="bg-white w-full max-w-xl rounded-2xl shadow-xl p-6 relative">
    <!-- Header -->
    <div class="flex items-center justify-between border-b pb-3 mb-5">
      <h2 class="font-medium">
        {{ isEditMode ? "แก้ไขข้อมูลการศึกษา" : "เพิ่มข้อมูลการศึกษา" }}
      </h2>
      <button
        (click)="closeModal()"
        class="text-gray-400 hover:text-gray-600 transition cursor-pointer"
      >
        <i class="bi bi-x-lg text-lg"></i>
      </button>
    </div>

    <!-- Content -->
    <div class="space-y-4 text-lg">
      <!-- ====== Education Level ===== -->
      <div class="relative">
        <label class="mb-1 block">ระดับการศึกษา</label>
        <input
          [(ngModel)]="educationData.highest_education"
          type="text"
          placeholder="กรอกระดับการศึกษา"
          class="w-full border rounded-lg px-3 py-2 font-light"
        />
      </div>

      <!-- ====== Major & Qualification ===== -->
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <!-- Major -->
        <div class="relative">
          <label class="mb-1 block">สาขา</label>
          <input
            [(ngModel)]="educationData.field_of_study"
            type="text"
            placeholder="กรอกสาขาวิชา"
            class="w-full border rounded-lg px-3 py-2 font-light"
          />
        </div>

        <!-- Qualification -->
        <div class="relative">
          <label class="mb-1 block">วุฒิการศึกษา</label>
          <input
            [(ngModel)]="educationData.qualification"
            type="text"
            placeholder="กรอกวุฒิการศึกษา"
            class="w-full border rounded-lg px-3 py-2 font-light"
          />
        </div>
      </div>

      <!-- ===== Institution & Country ===== -->
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <!-- Institution -->
        <div class="relative">
          <label class="mb-1 block">สถานที่ศึกษา</label>
          <input
            [(ngModel)]="educationData.institution"
            type="text"
            placeholder="ชื่อสถานที่ศึกษา"
            class="w-full border rounded-lg px-3 py-2 font-light"
          />
        </div>

        <div>
          <label class="mb-1 block">ปีที่สำเร็จการศึกษา</label>
          <input
            [(ngModel)]="educationData.date_graduation"
            type="text"
            placeholder="ปีที่สำเร็จการศึกษา"
            class="w-full border rounded-lg px-3 py-2 font-light"
          />
        </div>
      </div>
    </div>

    <!-- Footer -->
    <div
      class="flex justify-center gap-3 mt-6 pt-4 border-t font-regular text-lg"
    >
      <button
        (click)="save()"
        class="px-5 py-2 rounded-lg bg-[#118CD9] hover:bg-[#4c7b98] text-white shadow cursor-pointer"
      >
        บันทึก
      </button>
      <button
        (click)="closeModal()"
        class="px-4 py-2 rounded-lg border text-gray-600 hover:bg-gray-100 cursor-pointer"
      >
        ยกเลิก
      </button>
    </div>
  </div>
</div>
