<div class="contain-content bg-gray-100 p-2 md:px-10 text-xl md:text-2xl text-[#394250] font-bold">
  <div class="mx-auto md:py-6">
    <!-- Title -->
    <h1 class="text-3xl ml-5 mb-2">เอกสารดาวน์โหลด</h1>
  </div>

  <div class="mb-10 mx-auto px-6 py-6 bg-white rounded-xl">
    <div class="mx-auto">
      <!-- Table -->
      <div class="overflow-x-auto bg-white shadow">
        <table class="min-w-full border-collapse">
          <thead class="bg-[#394250] text-white">
            <tr>
              <th class="px-4 py-2 text-center font-bold">#</th>
              <th class="px-4 py-2 text-start font-bold">เอกสาร</th>
              <th class="px-4 py-2 text-center font-bold">
                จำนวนครั้งดาวน์โหลด
              </th>
            </tr>
          </thead>

          <tbody>
            <tr
              *ngFor="let doc of documents; let i = index"
              class="border-b border-gray-300 bg-gray-200 hover:bg-gray-50 transition"
            >
              <!-- Index -->
              <td class="text-center text-gray-700 font-medium">
                {{ i + 1 }}
              </td>

              <!-- Document -->
              <td class="px-6 py-4">
                <a
                  [href]="doc.fileUrl"
                  target="_blank"
                  class="text-indigo-600 hover:underline font-medium"
                >
                  {{ doc.title }}
                </a>
              </td>

              <!-- Download Count -->
              <td class="px-6 py-4 text-center text-gray-700">
                {{ doc.downloads | number }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
