<div
  class="contain-content bg-gray-100 p-5 md:px-10 text-2xl font-bold text-[#394250]"
>
  <!-- Back -->
  <div class="flex justify-end mb-4 mx-auto md:mt-6">
    <button
      class="flex items-center gap-2 text-gray-600 font-medium group transition-colors cursor-pointer"
    >
      <span>ไปที่นวัตกรรมสิ่งประดิษฐ์ของคุณ</span>

      <i
        class="bi bi-arrow-right-circle-fill text-xl transition-all group-hover:translate-x-1 group-hover:text-yellow-500"
      ></i>
    </button>
  </div>

  <div
    class="mb-6 md:mb-10 mx-auto p-2 md:px-20 md:py-10 bg-white rounded-xl shadow-md"
  >
    <div
      class="mx-auto p-4 md:px-6 md:py-5 md:mb-6 flex items-center gap-4 rounded-xl bg-linear-to-r from-[#9DE1EF] to-[#D3DFEB] shadow"
    >
      <i class="bi bi-cloud-arrow-up-fill text-3xl"></i>
      <h2 class="text-2xl md:text-3xl">
        {{
          isEdit
            ? "แก้ไขข้อมูลนวัตกรรมสิ่งประดิษฐ์"
            : "เพิ่มข้อมูลนวัตกรรมสิ่งประดิษฐ์"
        }}
      </h2>
    </div>

    <!-- ชื่อนวัตกรรมสิ่งประดิษฐ์ -->
    <div
      class="grid grid-cols-1 md:grid-cols-1 md:gap-2 mb-2 mt-4 md:mb-6 md:mt-10"
    >
      <label class="md:col-span-1 text-start">
        ชื่อนวัตกรรมสิ่งประดิษฐ์ <span class="text-red-500">*</span>
      </label>
      <input
        type="text"
        class="md:col-span-3 text-2xl font-medium w-full h-12 border rounded-md px-4 py-2"
        placeholder="ระบุชื่อนวัตกรรม สิ่งประดิษฐ์"
      />
    </div>

    <!-- สาขาของนวัตกรรมสิ่งประดิษฐ์ -->
    <div class="grid grid-cols-1 md:grid-cols-1 md:gap-2 mb-2 md:mb-6">
      <label class="text-start">
        สาขาของนวัตกรรมสิ่งประดิษฐ์ <span class="text-red-500">*</span>
      </label>

      <div class="relative md:col-span-3">
        <button
          (click)="toggleDropdown('major', $event)"
          type="button"
          class="w-full border rounded-md px-3 py-2 flex justify-between items-center bg-white"
        >
          <span class="truncate text-2xl font-medium">
            {{ selectedSub?.name_en || "ระบุสาขาของนวัตกรรมสิ่งประดิษฐ์" }}
          </span>
          <i class="bi bi-chevron-down"></i>
        </button>

        <!-- Dropdown panel -->
        <div
          *ngIf="activeDropdown === 'major'"
          class="absolute z-50 w-full bg-white font-medium border rounded-md mt-1 shadow"
          (click)="$event.stopPropagation()"
        >
          <ul class="relative max-h-48 overflow-y-auto">
            <li *ngFor="let m of filteredMajor()" class="relative">
              <div
                (click)="toggleMajor(m, $event)"
                class="flex justify-between items-center px-4 py-2 hover:bg-gray-200 cursor-pointer transition"
                [class.bg-gray-200]="activeMajor?.major_id === m.major_id"
              >
                {{ m.name_en }}
                <i
                  class="bi"
                  [ngClass]="
                    activeMajor?.major_id === m.major_id
                      ? 'bi-chevrin-down'
                      : 'bi-chevron-right'
                  "
                ></i>
              </div>

              <ul
                *ngIf="activeMajor?.major_id === m.major_id"
                class="bg-gray-100 rounded-xl shadow-lg"
              >
                <li
                  *ngFor="let s of m.children"
                  (click)="selectSub(s)"
                  class="px-4 py-2 hover:bg-gray-200 cursor-pointer transition"
                >
                  {{ s.name_en }}
                </li>
                <li
                  *ngIf="filteredMajor().length === 0"
                  class="px-4 py-2 text-gray-400 text-center"
                >
                  ไม่พบข้อมูล
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- หลักการและเหตุผล : -->
    <div class="grid grid-cols-1 md:grid-cols-1 md:gap-2 mb-2 md:mb-6">
      <label class="md:col-span-1 text-start"> หลักการและเหตุผล </label>
      <textarea
        name="attention"
        id="attention"
        placeholder="ระบุหลักการและเหตุผล"
        class="md:col-span-3 w-full border text-2xl font-medium rounded-md px-4 py-2"
      ></textarea>
    </div>

    <!-- ประเภทความรับผิดชอบ -->
    <div class="relative mb-6">
      <label class="font-bold text-start text-2xl block">
        ประเภทความรับผิดชอบ <span class="text-red-500">*</span>
      </label>

      <button
        type="button"
        (click)="toggleDropdown('responsibility', $event)"
        class="w-full border rounded-md px-3 py-2 flex justify-between items-center font-medium"
      >
        {{ innovation.responsibility || "ประเภทความรับผิดชอบ" }}
        <i class="bi bi-chevron-down"></i>
      </button>

      <div
        *ngIf="activeDropdown === 'responsibility'"
        class="absolute z-50 mt-1 w-full bg-white border rounded-md shadow font-medium"
      >
        <div
          class="px-3 py-2 hover:bg-gray-100 cursor-pointer"
          (click)="selectResponsibility('หัวหน้าโครงการ')"
        >
          หัวหน้าโครงการ
        </div>
        <div
          class="px-3 py-2 hover:bg-gray-100 cursor-pointer"
          (click)="selectResponsibility('ผู้ร่วมโครงการ')"
        >
          ผู้ร่วมโครงการ
        </div>
      </div>
    </div>

    <!-- ผู้ร่วมโครงการ -->
    <div class="w-full overflow-x-auto overflow-y-visible md:mb-3">
      <div class="grid grid-cols-1 md:grid-cols-1 md:gap-2 mb-6 items-start">
        <!-- Label -->
        <label class="md:col-span-1 font-bold text-2xl text-start md:pt-2">
          ผู้ร่วมโครงการอื่นๆ (ถ้ามี)
        </label>

        <!-- Table -->
        <div class="md:col-span-3 md:px-4 sm:px-8">
          <h1
            class="md:mb-3 md:mt-4 text-2xl font-bold flex items-center gap-2"
          >
            ระบุผู้ร่วมโครงการภายใน
          </h1>

          <div class="w-full">
            <table class="w-full table-fixed min-w-150">
              <colgroup>
                <col class="w-[5%]" />
                <col class="w-[30%]" />
                <col class="w-[50%]" />
                <col class="w-[15%]" />
              </colgroup>
              <thead>
                <tr
                  class="bg-[#394250] whitespace-nowrap text-white border-b-2 border-gray-300 text-center"
                >
                  <th class="p-1 md:p-2">#</th>
                  <th class="p-1 md:p-2">ระบุชื่อ</th>
                  <th class="p-1 md:p-2">ประเภทความรับผิดชอบ</th>
                  <th class="p-1 md:p-2">Action</th>
                </tr>
              </thead>

              <tbody>
                <tr
                  *ngFor="let j of rows2; let i = index; trackBy: trackByIndex"
                  class="border-b-2 border-gray-300 bg-gray-200"
                >
                  <td class="text-center p-1 md:p-3">{{ i + 1 }}</td>

                  <td class="text-center p-1 md:p-3 relative">
                    <input
                      type="text"
                      class="w-full border text-2xl font-medium border-gray-300 h-12 rounded-md p-1 md:px-3 md:py-2 bg-white"
                      placeholder="ระบุชื่อ"
                      [(ngModel)]="j.name"
                      (focus)="onFocus(j)"
                      (click)="$event.stopPropagation()"
                      (ngModelChange)="onSearch($event)"
                    />

                    <!-- Dropdown -->
                    <ul
                      *ngIf="activeRowIndex === j.id"
                      (click)="$event.stopPropagation()"
                      class="absolute z-50 w-full bg-white border rounded-md shadow mt-1 max-h-60 overflow-y-auto text-left"
                    >
                      <li
                        *ngFor="let r of filteredResearchers"
                        (click)="selectResearcher(r, j)"
                        class="px-4 py-2 hover:bg-indigo-50 cursor-pointer"
                      >
                        {{ r.full_name }}
                      </li>

                      <li
                        *ngIf="filteredResearchers.length === 0"
                        class="px-4 py-2 text-gray-400 text-center"
                      >
                        ไม่พบข้อมูล
                      </li>
                    </ul>
                  </td>

                  <!-- ประเภทความรับผิดชอบของผู้ร่วมโครงการภายใน -->
                  <td class="p-1 md:p-3 relative">
                    <div
                      class="relative bg-white border border-gray-300 rounded-md"
                    >
                      <button
                        (click)="toggleDropdown('internal-' + i, $event)"
                        class="w-full rounded-md px-3 py-2 flex justify-between items-center font-medium"
                      >
                        {{ j.responsibility || "ประเภทความรับผิดชอบ" }}
                        <i class="bi bi-chevron-down"></i>
                      </button>

                      <div
                        *ngIf="activeDropdown === 'internal-' + i"
                        class="absolute z-50 mt-1 w-full bg-white border rounded-md shadow font-medium"
                      >
                        <div
                          (click)="
                            !isFirstAuthorTaken(j) &&
                              selectRowResponsibility(
                                j,
                                'First Author (ผู้ประพันธ์อันดับแรก)'
                              )
                          "
                          [class.opacity-50]="isFirstAuthorTaken(j)"
                          [class.pointer-events-none]="isFirstAuthorTaken(j)"
                          class="px-3 py-2 hover:bg-gray-100 cursor-pointer"
                        >
                          First Author (ผู้ประพันธ์อันดับแรก)
                        </div>
                        <div
                          (click)="
                            selectRowResponsibility(
                              j,
                              'Corresponding Author (ผู้ประพันธ์บรรณกิจ/ผู้ประสานงาน)'
                            )
                          "
                          class="px-3 py-2 hover:bg-gray-100 cursor-pointer"
                        >
                          Corresponding Author (ผู้ประพันธ์บรรณกิจ/ผู้ประสานงาน)
                        </div>
                        <div
                          (click)="
                            selectRowResponsibility(
                              j,
                              'Co Author (ผู้ประพันธ์ร่วม)'
                            )
                          "
                          class="px-3 py-2 hover:bg-gray-100 cursor-pointer"
                        >
                          Co Author (ผู้ประพันธ์ร่วม)
                        </div>
                      </div>
                    </div>
                  </td>

                  <td class="text-center">
                    <i
                      *ngIf="rows2.length > 1"
                      class="bi bi-trash3 text-red-500 cursor-pointer hover:text-red-700"
                      (click)="removeRow2(i)"
                      title="ลบรายการ"
                    ></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="flex justify-start mt-2">
            <button
              type="button"
              class="md:mt-4 p-1 md:px-4 md:py-2 bg-[#FDE68A] text-[#1E293B] hover:bg-[#FACC15] rounded-md cursor-pointer"
              (click)="addRow2()"
            >
              เพิ่มรายการ
            </button>
          </div>

          <h1
            class="md:mb-3 mt-4 text-2xl font-bold text-gray-700 flex items-center gap-2"
          >
            ระบุผู้ร่วมโครงการภายนอก
          </h1>

          <div class="w-full">
            <table class="w-full table-fixed min-w-150">
              <colgroup>
                <col class="w-[5%]" />
                <col class="w-[20%]" />
                <col class="w-[45%]" />
                <col class="w-[25%]" />
                <col class="w-[5%]" />
              </colgroup>
              <thead>
                <tr
                  class="bg-[#394250] whitespace-nowrap text-white border-b-2 border-gray-300 text-center"
                >
                  <th class="p-1 md:p-2">#</th>
                  <th class="p-1 md:p-2">ระบุชื่อ(บุคลากรภายนอก)</th>
                  <th class="p-1 md:p-2">ประเภทความรับผิดชอบ</th>
                  <th class="p-1 md:p-2">หน่วยงาน(บุคลากรภายนอก)</th>
                  <th class="p-1 md:p-2">Action</th>
                </tr>
              </thead>

              <tbody>
                <tr
                  *ngFor="
                    let item of rows;
                    let i = index;
                    trackBy: trackByIndex
                  "
                  class="bg-gray-200 border-b-2 border-gray-300"
                >
                  <td class="text-center p-1 md:p-3">{{ i + 1 }}</td>

                  <td class="text-center p-1 md:p-3">
                    <input
                      type="text"
                      class="w-full border h-12 text-2xl font-medium border-gray-300 bg-white rounded-md px-3 py-2"
                      placeholder="ระบุชื่อ"
                      [(ngModel)]="item.name"
                    />
                  </td>

                  <!-- ประเภทความรับผิดชอบของผู้ร่วมโครงการภายนอก -->
                  <td class="p-1 md:p-3 relative">
                    <div
                      class="relative bg-white border border-gray-300 rounded-md"
                    >
                      <button
                        (click)="toggleDropdown('external-' + i, $event)"
                        class="w-full rounded-md px-3 py-2 flex justify-between items-center font-medium"
                      >
                        {{ item.responsibility || "ประเภทความรับผิดชอบ" }}
                        <i class="bi bi-chevron-down"></i>
                      </button>

                      <div
                        *ngIf="activeDropdown === 'external-' + i"
                        class="absolute z-50 mt-1 w-full bg-white border rounded-md shadow font-medium"
                      >
                        <div
                          (click)="
                            !isFirstAuthorTaken(item) &&
                              selectRowResponsibility(
                                item,
                                'First Author (ผู้ประพันธ์อันดับแรก)'
                              )
                          "
                          [class.opacity-50]="isFirstAuthorTaken(item)"
                          [class.pointer-events-none]="isFirstAuthorTaken(item)"
                          class="px-3 py-2 hover:bg-gray-100 cursor-pointer"
                        >
                          First Author (ผู้ประพันธ์อันดับแรก)
                        </div>
                        <div
                          (click)="
                            selectRowResponsibility(
                              item,
                              'Corresponding Author (ผู้ประพันธ์บรรณกิจ/ผู้ประสานงาน)'
                            )
                          "
                          class="px-3 py-2 hover:bg-gray-100 cursor-pointer"
                        >
                          Corresponding Author (ผู้ประพันธ์บรรณกิจ/ผู้ประสานงาน)
                        </div>
                        <div
                          (click)="
                            selectRowResponsibility(
                              item,
                              'Co Author (ผู้ประพันธ์ร่วม)'
                            )
                          "
                          class="px-3 py-2 hover:bg-gray-100 cursor-pointer"
                        >
                          Co Author (ผู้ประพันธ์ร่วม)
                        </div>
                      </div>
                    </div>
                  </td>

                  <td class="p-3">
                    <input
                      type="text"
                      class="w-full border h-12 border-gray-300 bg-white rounded-md px-3 py-2 font-medium text-2xl"
                      placeholder="ระบุหน่วยงาน"
                      [(ngModel)]="item.organization"
                    />
                  </td>
                  <td class="text-center">
                    <i
                      *ngIf="rows.length > 1"
                      class="bi bi-trash3 text-red-500 cursor-pointer hover:text-red-700"
                      (click)="removeRow(i)"
                      title="ลบรายการ"
                    ></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="flex justify-start mt-2">
            <button
              type="button"
              class="md:mt-4 p-1 md:px-4 md:py-2 bg-[#FDE68A] text-[#1E293B] hover:bg-[#FACC15] rounded-md cursor-pointer"
              (click)="addRow()"
            >
              เพิ่มรายการ
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- แหล่งเงินทุน -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-2 md:gap-6 mt-2 md:mt-10">
      <!-- แหล่งเงินทุน -->
      <div class="relative">
        <label class="block font-bold mb-2">
          แหล่งเงินทุน <span class="text-red-500">*</span>
        </label>

        <button
          type="button"
          (click)="toggleFunding($event)"
          class="w-full h-12 border rounded-md px-3 flex justify-between items-center font-medium bg-white"
        >
          <span class="flex-1 truncate text-left">
            {{ innovation.funding || "เลือกแหล่งทุน" }}
          </span>
          <i class="bi bi-chevron-down shrink-0 ml-2"></i>
        </button>

        <div
          *ngIf="activeDropdown === 'funding'"
          class="absolute z-9999 mt-1 w-full bg-white border rounded-md shadow font-medium"
        >
          <div
            class="px-3 py-2 hover:bg-gray-100 cursor-pointer"
            (click)="selectFunding('แหล่งทุนภายนอก')"
          >
            แหล่งทุนภายนอก
          </div>
          <div
            class="px-3 py-2 hover:bg-gray-100 cursor-pointer"
            (click)="selectFunding('แหล่งทุนภายใน')"
          >
            แหล่งทุนภายใน
          </div>
        </div>
      </div>

      <div *ngIf="innovation.funding" class="relative">
        <label class="block font-bold text-2xl mb-2">
          ชื่อแหล่งทุน <span class="text-red-500">*</span>
        </label>

        <button
          type="button"
          (click)="toggleNameFunding($event)"
          class="w-full h-12 border rounded-md px-3 flex justify-between items-center font-medium bg-white"
        >
          <span class="flex-1 truncate text-left">
            {{ fundName || "เลือกชื่อแหล่งทุน" }}
          </span>
          <i class="bi bi-chevron-down shrink-0 ml-2"></i>
        </button>

        <div
          *ngIf="activeDropdown === 'fundName'"
          class="absolute z-9999 mt-1 w-full bg-white border rounded-md shadow font-medium"
        >
          <div
            *ngFor="
              let name of innovation.funding === 'แหล่งทุนภายใน'
                ? internalFunds
                : externalFunds
            "
            class="px-3 py-2 hover:bg-gray-100 cursor-pointer"
            (click)="selectFundName(name)"
          >
            {{ name }}
          </div>
        </div>
      </div>

      <!-- จำนวนงบประมาณ -->
      <div>
        <label class="block font-bold text-2xl mb-2">
          จำนวนงบประมาณ <span class="text-red-500">*</span>
        </label>
        <input
          type="text"
          class="w-full border text-2xl font-medium rounded-md h-12 px-4 py-2 focus:ring-2 focus:ring-blue-400"
          placeholder="ระบุจำนวนงบประมาณ"
        />
      </div>

      <!-- ปีที่ได้รับทุน -->
      <div>
        <label class="block font-bold text-2xl mb-2">
          ปีที่ได้รับทุน <span class="text-red-500">*</span>
        </label>
        <input
          type="text"
          class="w-full border rounded-md text-2xl font-medium px-4 h-12 py-2 focus:ring-2 focus:ring-blue-400"
          placeholder="ระบุปีที่ได้รับทุน"
        />
      </div>

      <!-- สถานะดำเนินการ -->
      <div class="relative">
        <label class="block font-bold text-2xl mb-2">
          สถานะดำเนินการ <span class="text-red-500">*</span>
        </label>

        <button
          (click)="toggleStatus($event)"
          class="w-full border rounded-md px-3 py-2 flex justify-between items-center font-medium"
        >
          {{ innovation.status || "สถานะ" }}
          <i class="bi bi-chevron-down"></i>
        </button>

        <div
          *ngIf="activeDropdown === 'status'"
          class="absolute z-50 mt-1 w-full bg-white border rounded-md shadow font-medium"
        >
          <div
            class="px-3 py-2 hover:bg-gray-100 cursor-pointer"
            (click)="selectStatus('เสร็จสิ้น')"
          >
            เสร็จสิ้น
          </div>
          <div
            class="px-3 py-2 hover:bg-gray-100 cursor-pointer"
            (click)="selectStatus('อยู่ระหว่างดำเนินการ')"
          >
            อยู่ระหว่างดำเนินการ
          </div>
        </div>
      </div>
    </div>

    <!-- ปีที่ได้รับทุน -->
    <div class="grid grid-cols-1 md:grid-cols-1 gap-2 mb-6 mt-6">
      <label class="md:col-span-1 text-start">
        ปีที่ได้รับทุน <span class="text-red-500">*</span>
      </label>
      <input
        type="text"
        class="max-w-md h-12 text-2xl font-medium w-full border rounded-md px-4 py-2"
        placeholder="ระบุปีที่ได้รับทุน"
      />
    </div>

    <!-- ความร่วมมือกับหน่วยงานอื่นๆ : -->
    <div class="grid grid-cols-1 md:grid-cols-1 gap-2 mb-6">
      <label class="md:col-span-1 text-start">
        ความร่วมมือกับหน่วยงานอื่นๆ
      </label>
      <textarea
        name="attention"
        id="attention"
        placeholder="ระบุความร่วมมือกับหน่วยงานอื่นๆ"
        class="md:col-span-3 w-full border text-2xl font-medium rounded-md px-4 py-2"
      ></textarea>
    </div>

    <!-- เลขที่สิทธิบัตร -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-6">
      <div>
        <label class="md:col-span-1 text-start">
          เลขที่สิทธิบัตร : <span class="text-red-500">*</span>
        </label>
        <input
          type="text"
          class="md:col-span-2 h-12 w-full text-2xl font-medium border rounded-md px-4 py-2"
          placeholder="ระบุเลขที่สิทธิบัตร"
        />
      </div>

      <!-- เลขที่คำขอสิทธิบัตร -->
      <div>
        <label class="md:col-span-1 text-start">
          เลขที่คำขอสิทธิบัตร : <span class="text-red-500">*</span>
        </label>
        <input
          type="text"
          class="md:col-span-2 h-12 w-full text-2xl font-medium border rounded-md px-4 py-2"
          placeholder="ระบุเลขที่คำขอสิทธิบัตร"
        />
      </div>
    </div>

    <!-- เว็บไซต์ตรวจสิทธิบัตร -->
    <div class="grid grid-cols-1 md:grid-cols-1 gap-2 mb-6">
      <label class="md:col-span-1 text-start">
        เว็บไซต์ตรวจสิทธิบัตร : <span class="text-red-500">*</span>
      </label>
      <input
        type="text"
        class="md:col-span-2 w-full border text-2xl font-medium rounded-md px-4 py-2"
        placeholder="ระบุเว็บไซต์ตรวจสิทธิบัตร"
      />
    </div>

    <!-- ไฟล์รายงานฉบับสมบูรณ์ -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-6 items-center">
      <div>
        <label class="md:col-span-1 text-start">
          ไฟล์รายงานฉบับสมบูรณ์ (PDF) :
        </label>

        <!-- input file ซ่อน -->
        <input
          #reportFileInput
          type="file"
          accept="application/pdf"
          class="hidden"
          (change)="onReportFileSelected($event)"
        />

        <!-- ปุ่ม + ชื่อไฟล์ -->
        <div class="md:col-span-2 flex gap-3 items-center mt-3">
          <span class="text-gray-400 font-medium truncate">
            {{ reportFileName || "ยังไม่ได้เลือกไฟล์" }}
          </span>
          <button
            type="button"
            class="px-4 py-1 bg-[#FDE68A] text-[#394250] hover:bg-[#FACC15] rounded-md cursor-pointer"
            (click)="reportFileInput.click()"
          >
            เลือกไฟล์
          </button>
        </div>
      </div>

      <!-- ไฟล์รูปนวัตกรรมสิ่งประดิษฐ์ -->
      <div>
        <label class="md:col-span-1 text-start">
          ไฟล์รูปนวัตกรรมสิ่งประดิษฐ์ :
        </label>

        <!-- input file (ซ่อน) -->
        <input
          #fileInput
          type="file"
          accept="application/image/*"
          class="hidden"
          (change)="onFileSelected($event)"
        />

        <!-- ปุ่ม + ชื่อไฟล์ -->
        <div class="md:col-span-2 flex gap-3 items-center mt-3">
          <span class="text-gray-400 font-medium truncate">
            {{ selectedFileName || "ยังไม่ได้เลือกไฟล์" }}
          </span>
          <button
            type="button"
            class="px-4 py-1 bg-[#FDE68A] text-[#394250] hover:bg-[#FACC15] rounded-md cursor-pointer"
            (click)="fileInput.click()"
          >
            เลือกไฟล์
          </button>
        </div>
      </div>
    </div>

    <!-- ปุ่ม -->
    <div class="flex justify-center mt-10">
      <button
        (click)="saveData()"
        type="submit"
        class="flex items-center justify-center gap-3 w-72 py-3 bg-[#FDE68A] hover:bg-[#FACC15] text-[#394250] text-2xl rounded-lg shadow transition duration-200 focus:outline-none focus:ring-2 focus:ring-yellow-400 cursor-pointer"
      >
        <i class="bi bi-floppy2 text-2xl"></i>
        <span>บันทึกข้อมูล</span>
      </button>
    </div>
  </div>
</div>
