<div class="contain-content bg-gray-100 p-3">
  <div class="max-w-7xl mx-auto px-2 py-10 bg-white rounded-xl">
    <div class="mt-5">
      <h1 class="text-3xl ml-5">บทความ/วารสาร</h1>
      <div class="flex justify-end items-center mt-1">
        <label class="text-lg mr-2">Search:</label>
        <input
          type="text"
          [(ngModel)]="searchText"
          (input)="onSearch()"
          class="border border-gray-300 rounded-md p-2"
          placeholder="ค้นหาบทความ..."
        />
      </div>
    </div>
    <div class="w-full overflow-x-auto">
      <table
        class="min-w-225 w-full border border-gray-300 rounded-lg overflow-hidden mt-4"
      >
        <thead>
          <tr class="bg-[#FACC15] text-[#1E293B] border-b">
            <th class="p-3 whitespace-nowrap border-r text-center">ลำดับ</th>
            <th class="p-3 pl-15 text-left border-r">ผู้วิจัย</th>
            <th class="p-3 pl-15 text-left">ชื่อบทความ / วารสาร</th>
          </tr>
        </thead>
    
        <tbody>
          <tr
            *ngFor="let publication of filteredAticles; let i = index"
            class="border-b hover:bg-gray-50 transition"
          >
            <!-- ลำดับ -->
            <td class="p-3 text-center border-r whitespace-nowrap">
              {{ (currentPage - 1) * pageSize + i + 1 }}
            </td>
    
            <!-- ผู้วิจัย -->
            <td
              class="p-3 pl-6 border-r flex items-center gap-3 wrap-break-word whitespace-normal"
            >
              <img
                src="assets/logoNPU.png"
                alt="researcher"
                class="h-16 w-16 object-contain shrink-0"
              />
              <span>
                {{ publication.researchers }}
              </span>
            </td>
    
            <!-- ชื่อบทความ -->
            <td class="p-3 pl-6 wrap-break-word whitespace-normal">
              {{ publication.title }}
            </td>
          </tr>
    
          <!-- ไม่พบข้อมูล -->
          <tr *ngIf="filteredAticles.length === 0">
            <td colspan="3" class="text-center p-4 text-gray-500">
              ไม่พบผลงานที่ค้นหา
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    

    <div
      class="flex flex-col md:flex-row md:justify-between md:items-center mt-4 gap-2"
    >
      <p class="text-sm text-gray-600">
        หน้า {{ currentPage }} จาก {{ totalPages }}
      </p>

      <p class="text-sm text-gray-500">
        แสดง {{ paginatedAticles.length }} รายการ จาก
        {{ aticles.length }} รายการ
      </p>

      <div class="flex justify-end mt-3 space-x-1">
        <button
          (click)="changePage(currentPage - 1)"
          [disabled]="currentPage === 1"
          class="px-3 py-1 rounded border text-sm disabled:opacity-40 hover:bg-gray-100"
        >
          ‹
        </button>

        <button
          *ngFor="let page of [].constructor(totalPages); let i = index"
          (click)="changePage(i + 1)"
          class="px-3 py-1 rounded border text-sm transition"
          [ngClass]="{
            'bg-[#FACC15] text-[#1E293B]': currentPage === i + 1,
            'hover:bg-gray-100': currentPage !== i + 1
          }"
        >
          {{ i + 1 }}
        </button>

        <button
          (click)="changePage(currentPage + 1)"
          [disabled]="currentPage === totalPages"
          class="px-3 py-1 rounded border text-sm disabled:opacity-40 hover:bg-gray-100"
        >
          ›
        </button>
      </div>
    </div>
  </div>
</div>
